/* CSS declarations go here */
body {
    font-family: AvantGardeGothicITCW01Bk !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: AvantGardeGothicITCW01Bd !important;
}

@media (max-width: 978px) {
    .row {
        padding:0;
        margin:0;
    }

    /*.container {
      padding:0;
      margin:0;
    }*/

    body {
      padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}




/*#mainContainer {
    padding-top: 100px;
}*/




/*.vcenter {
    display: inline-block !important;
    vertical-align: middle !important;
    float: none !important;
}*/

#collapseChartForm {
    height: 100%;
}
