.onboarding {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media screen and (max-width: $med) {
    flex-direction: column-reverse;
  }

  &-main {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: $med) {
      flex-direction: column;
    }
  }

  &-content {
    flex-grow: 1;
    padding: 16px;
  }

  &-marketing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 32px;

    > * {
      max-width: 240px;
      padding: 8px;

      p {
        font-size: 0.8em;
      }
    }
  }
  
  &-choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    max-width: 1000px;
    margin: 0 auto;

    > * {
      border: 1px solid transparent;
      padding: 32px;
      margin: 8px;
      transition: border 200ms $bezier, transform 200ms $bezier;
      width: 250px;
      background-color: white;
      transform: scale(1);

      @media screen and (max-width: $med) {
        width: 200px;
      }

      &:hover {
        border: 1px solid $primary;
        transform: scale(1.05);
      }
    }
  }

  &-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 32px;
    

    button[type="submit"] {
      margin: 0 auto;
      margin-top: 40px;
      display: flex;
    }
  }


  &-result {
    display: flex;
    flex-direction: column;

    &-value {
      margin: 40px 0;
      font-size: 5em;
      align-self: center;

      @include screen(med) {
        font-size: 3em;
      }
    }

    &-offers {
      text-align: center;

      .offers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .offer {
        width: 150px;
        margin: 8px;
        padding: 16px;
        border: 1px solid $border-grey;
        border-radius: 4px;
        text-align: center;
      }
    }
  }
}

.onboarding-without-loan {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  justify-content: center;

  > * {
    padding: 16px;
  }


  img {
    width: 400px;
    height: 400px;
  }

  p {
    max-width: 500px;
  }

  &-ctas {
    margin-top: 40px;
  }


  @include screen(med) {
    flex-direction: column-reverse;
    align-items: center;

    img {
      width: 300px;
      height: 300px;
    }
  }
}