.blog-post-item {
  border-bottom: 1px solid $border-grey;

  &-image {
    width: 450px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

   @media screen and (max-width: $med){
    width: 339px;
    height: 200px;
   }
  }

  img {
    max-width: 100%;
  }

  h2 {
    margin: 16px 0;
    font-size: 20px;
    line-height: 1.5em;
    flex-grow: 1;
  }

  svg {
    color: $primary;
  }
}
