.image-gallery {
width: 100%;
  max-width: $site-width;
  margin: 0 auto;

  .content {
    margin-bottom: 56px;

    h3,
    h4 {
      // Mobile/Title/H4
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: $body-text;
    }
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    div {
     flex-basis: 200px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 16px;

     img {
       width: 150px;
     }
    }
  }

  @media screen and (min-width: $med) {
    .content {
      margin-bottom: 100px;

      h3,
      h4 {
        // Desktop/Title/H3
        font-size: 28px;
        font-weight: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: $body-text;
      }
    }

    .gallery {
      div {
        flex-basis: 300px;
        margin: 40px;
      }
    }
  }
}
