@import './DashboardRecapFinance/DashboardRecapFinance.scss';
@import './DashboardRecapProperty/DashboardRecapProperty.scss';
@import './DashboardRecapPromotion/DashboardRecapPromotion.scss';

.dashboard-recap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .validator {
    max-width: unset;
  }
}

.dashboard-recap .cards {
  display: flex;
  align-items: stretch;

  white-space: nowrap;


  @include screen(wide) {
    flex-direction: column;
    align-items: stretch;

    .dashboard-recap-finance {
      margin-bottom: 16px;
    }
  }

  @include screen(wide, min) {
    .dashboard-recap-finance {
      margin-right: 16px;
    }
  }
}
