.autofields {
  display: flex;
  flex-direction: column;

   > *,
  ul > * {
    margin-bottom: 16px;
  }

  ul {
    margin-bottom: 0;
  }
}

.list-add-field {
  // align-self: center;
  flex: 0 0 auto;
}
