.developper-section {
  padding: 16px;
  margin-top: 16px;

  .api-keyPair-generator {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 8px;

    .key {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px;

      > * {
        margin-right: 16px;
      }

      .icon {
        height: 30px;
        width: 30px;
      }

      .public-key-icon {
        color: $success;
      }

      .private-key-icon {
        color: $error;
      }

      .key-infos {
        display: flex;
        flex-direction: column;

        > * {
          margin: 0;
        }
      }
    }

    .empty-state {
      align-self: center;
    }

    .generate-key-pair {
      margin: 8px;
    }

    > * {
      padding: 20px;
    }

    .rsa-key {
      width: 400px;
      min-height: 230px;
      height: auto;
      line-height: 1.5em;
      overflow-y: hidden;
      resize: none;
      padding: 8px;
      border-radius: 4px;
      background-color: rgba(241, 241, 241, 0.5);
      margin-top: 16px;
    }

    .rsa-key-warning {
      width: 400px;
      padding: 8px;
      border: 1px solid $error;
      border-radius: 4px;
      color: $error;
    }
  }
}
