.summary-component {
  padding: 16px;

  color: #fff;
  border-radius: 4px;
  background-color: $primary;
}

.summary-component h1,
.summary-component h2,
.summary-component h3,
.summary-component h4,
.summary-component h5,
.summary-component h6 {
  margin: 0;

  opacity: 0.6;
  color: #fff;

  font-weight: 400;
}

.summary-component label {
  margin: 0;
}
