@import './DashboardInfoInterests/DashboardInfoInterests.scss';

.dashboard-info {
  display: flex;
  flex-direction: column;

  .cards {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    width: 100%;

    @include screen(large) {
      flex-direction: column;
    }
  }

  .cards > * {
    flex-basis: calc(50% - 16px);
    flex-grow: 1;

    @include screen(large) {
      margin: 0;
      margin-bottom: 16px;
    }
  }

  @include screen(large, min) {
    &-team {
      margin-right: 16px;
    }
  }

  &-team, &-interests {
    display: flex;
    flex-direction: column;
  
    .card-top {
      flex-grow: 1;
    }
  
    .card-bottom {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-grow: 0;
    }
  }
}

.dashboard-info-team-company-member {
  display: flex;
  align-items: center;

  margin: 16px 0;

  img {
    width: 64px;
    height: 64px;
    margin-right: 16px;

    border-radius: 50%;
  }

  .person {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > * {
      margin: 0;
    }
  }

  .contact {
    display: flex;
    flex-wrap: nowrap;
  }
}

.dashboard-info-team-external {
  hr {
    height: 1px;
    margin: 40px -16px;

    border: none;
    background-color: $border-grey;
  }
}
