.pro-property {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;

    &-left {
      display: flex;
      flex-direction: column;

      box-sizing: border-box;
      padding-right: 8px;
    }

    h1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      padding-right: 16px;
      margin-top: 0;
      flex-wrap: wrap;
    }
    h2 {
      margin-top: 0;
    }

    > * {
      flex-basis: 50%;
      flex-grow: 1;

      min-width: 300px;
      min-height: 500px;

      @include screen(small) {
        min-width: unset;
        min-height: 300px;
      }
    }

    .description {
      white-space: pre-line;

      font-size: 1.1em;
    }

    .pro-property-recap {
      display: grid;

      width: 100%;

      grid-template-columns: repeat(auto-fill, 250px);
    }
  }

  .map-container {
    height: 400px;
    margin-top: 30px;
  }

  .external-link {
    align-self: center;

    margin: 8px;

    &-icon {
      margin-bottom: 16px;
    }

    h2 {
      margin-bottom: 0;
    }

    h4 {
      margin-bottom: 0;
    }
  }

  .residence-type-setter {
    margin: 0;
    padding: 0;
    background: transparent;
    box-shadow: unset;
    align-self: flex-start;
    margin-right: 16px;
  }
}

.pro-property.simple {
  width: 100%;
  max-width: 1200px;
  margin-top: 16px;
  align-self: center;
  box-sizing: border-box;

  @include screen(wide) {
    width: 100%;
  }
}
