.pro-property {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
      flex-basis: 50%;
      flex-grow: 1;
      min-height: 500px;
      min-width: 300px;
    }

    .description {
      white-space: pre-line;
      padding-right: 8px;
    }
  }

  .map-container {
    margin-top: 30px;
    height: 400px;
  }
}
