.own-funds-picker-form {
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .mui-select,
  .money-input {
    flex-basis: 140px;
    flex-shrink: 0;
  }
}

.own-funds-completer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  > :last-child {
    margin-left: 16px;
  }
}

.current-own-funds {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid $border-grey;

  &:hover {
    border-color: $primary;
  }

  h5,
  h6 {
    margin: 0;
  }

  h3 {
    align-self: center;
  }
}
