.admin-layout .main-row .admin-side-nav {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;

  border-right: 1px solid $border-grey;
  background-color: white;

  .collection-icon {
    width: 32px !important;
    height: 32px;
  }
}

.admin-side-nav .main-side-nav-list-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.admin-side-nav .main-side-nav-list-item .label {
  max-width: 80px;
  margin: 0;

  text-align: center;

  color: inherit;
}

.admin-side-nav .main-side-nav-list-item.primary {
  color: $primary;
}

.admin-side-nav .detail-side-nav {
  display: flex;
  flex-direction: column;

  width: 300px;

  border-left: 1px solid $border-grey;
}

.detail-side-nav .detail-side-nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 0;

  text-decoration: underline;

  color: inherit;
  border-bottom: 1px solid $border-grey;
}

.detail-side-nav .detail-side-nav-header h3 {
  margin: 0;
}

.detail-side-nav .detail-side-nav-header:hover h3 {
  color: $primary;
}

.detail-side-nav .detail-side-nav-header:hover {
  color: $primary;
}

.detail-side-nav .detail-side-nav-list {
  overflow: scroll;
}

.detail-side-nav .side-nav-pagination {
  display: flex;
  justify-content: center;

  padding: 16px;
  padding-top: 32px;
}

.detail-side-nav {
  .filter-value {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding: 8px;

    .filter-value-chip {
      margin: 4px;
    }
  }
}
