$admin-side-nav-width: 100px;

.admin-side-nav {
  display: flex;

  height: 100%;
}

.main-side-nav {
  display: flex;
  flex-direction: column;
  // border-right: 1px solid $border-grey;	

  box-sizing: border-box;
  width: $admin-side-nav-width;
  height: 100%;
  padding-top: 64px;

  .collection-icon {
    width: 32px !important;
    height: 32px;
  }

  &-list-item {
    box-sizing: border-box;
    padding-right: 8px;
    padding-left: 8px;

    > div {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .label {
      max-width: 80px;
      margin: 0;

      text-align: center;

      color: inherit;
    }

    &.primary {
      color: $primary;
    }
  }
}