$admin-side-nav-width: 120px;

.admin-side-nav {
  display: flex;

  height: 100%;
}

.main-side-nav {
  display: flex;
  flex-direction: column;
  // border-right: 1px solid $border-grey;

  box-sizing: border-box;
  width: $admin-side-nav-width;
  height: 100%;
  padding-top: 64px;

  .collection-icon {
    width: 32px !important;
    height: 32px;
  }

  &-list-item {
    box-sizing: border-box;
    width: $admin-side-nav-width;

     > div {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .label {
      max-width: 80px;
      margin: 0;

      text-align: center;

      color: inherit;
    }

    &.primary {
      color: $primary;
    }
  }
}

.detail-side-nav {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 300px;
  height: 100%;
  padding-top: 64px;

  border-left: 1px solid $border-grey;

  &-list {
    overflow: scroll;
    flex-grow: 1;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 0;

    text-decoration: underline;

    color: inherit;
    border-bottom: 1px solid $border-grey;

    h3 {
      margin: 0;
    }

    &:hover {
      color: $primary;

      h3 {
        color: $primary;
      }
    }
  }

  .side-nav-pagination {
    display: flex;
    justify-content: center;

    padding: 16px;
    padding-top: 32px;
  }

  .filter-value {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding: 8px;

    .filter-value-chip {
      margin: 4px;
    }
  }
}
