@import './AdminSideNav/AdminSideNav.scss';

.admin-layout {
  display: flex;
  flex-grow: 1;
  flex-grow: 1;

  width: 100%;
  padding-top: 64px;

  .main {
    display: flex;
    overflow: unset;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    box-sizing: border-box;
    min-width: 0; // Useful for resizing the FileViewer
    max-width: calc(100% - #{$admin-side-nav-width});
    min-height: 100%;
    padding: 16px 16px 0 16px;

    &.is-mobile {
      max-width: 100%;
    }

    &.no-padding {
      padding: 0;
    }
  }

  .top-nav {
    z-index: 1201;
  }
}

// Do this to counter TopNav.scss
.admin-top-nav {
  .notifications-manager {
    margin: 0 8px;
  }
}
