@import './AdminSideNav/AdminSideNav.scss';

.admin-layout {
  width: 100%;
  height: 100%;
}

.admin-layout .main-row {
  display: flex;
  overflow: hidden;
  flex-direction: row;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 64px;
}

.admin-layout .main-row div.main {
  overflow-y: scroll;
  flex-grow: 1;
  flex-shrink: 1;

  box-sizing: border-box;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

// Do this to counter TopNav.scss
.admin-top-nav {
  .top-nav {
    @include screen(med) {
      position: fixed;
    }
  }

  .notifications-manager {
    margin: 0 8px;
  }
}
.admin-dashboard-page {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
}
