@import './AdminSideNav/AdminSideNav.scss';

.admin-layout {
  display: flex;
  flex-grow: 1;
  flex-grow: 1;

  width: 100%;
  padding-top: 64px;


  .main {
    display: flex;
    overflow: auto;
    flex-direction: column;
    flex-grow: 1;
    // flex-basis: 0;
    flex-shrink: 1;

    box-sizing: border-box;
    min-height: 100%;
    padding: 16px 16px 0 16px;
  }

  .top-nav {
    z-index: 1201;
  }
}

// Do this to counter TopNav.scss
.admin-top-nav {
  .notifications-manager {
    margin: 0 8px;
  }
}
