.social-links {
  display: inline-flex;
  color: #000000;

  svg {
    margin-left: 16px;
    color: $primary;

    &.fa-instagram {
      width: 16px;
      height: 16px;
    }

    &.fa-linkedin-in {
      width: 14px;
      height: 14px;
    }

    &.fa-facebook-f {
      width: 8px;
      height: 15px;
    }
  }
}
