@import '{}/node_modules/normalize-scss/sass/normalize';
@include normalize();

@import './variables.scss';
@import './core-components.scss';
@import './typography.scss';

html {
  min-height: 100%;
}

body {
  background-color: $background-color;
}

// Nicer styling for a tags, removes horrible blue color
// And avoid it if this is a button
a:not([role='button']) {
  cursor: pointer;

  color: inherit;
  // text-decoration: none;
  &.color {
    transition: color 300ms $bezier;

    color: $primary;
    &:hover {
      color: $success;
    }
  }
  &:hover {
    color: inherit;
  }
}

hr {
  height: 1px;

  border: none;
  background-color: $border-grey;
}

// White backgrounds with shadows to put things on
.card1 {
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0 2px 60px 5px rgba(0, 0, 0, .05);
}

.card1 .card-top {
  padding: 16px;
}

.card1 .card-bottom {
  flex-grow: 1;

  padding: 16px;

  border-top: 1px solid $border-grey;
  border-bottom-right-radius: 16px;
  // width: 100%;
  border-bottom-left-radius: 16px;
  background-color: #FAFAFA;
}

// Pretty text effect for tooltips, shows a gradient underline on the text
.tooltip-overlay {
  position: relative;

  padding: 0 1px;

  cursor: help;
  transition: background-size .2s ease-in, color .2s ease-in;
  transform: scale(1);

  border-radius: 4px;
  background-image: linear-gradient(120deg, $primary 0%, $success 100%);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% .15em;
  &:hover {
    transform: scale(1.02);

    color: white;
    background-size: 100% 100%;
  }
}

// Classes to color text according to our theme colors
.active:not(button),
.primary {
  color: $primary;
}

.success {
  color: $success;
}

.error {
  color: $error;
}

.warning {
  color: $warning;
}

// A pretty heart-beat animation on anything
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(.97);
  }
  35% {
    transform: scale(.9);
  }
  45% {
    transform: scale(1.1);
  }
  55% {
    transform: scale(.9);
  }
  65% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.heart-beat {
  animation-name: heartBeat;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

// Old white background masks, to be replaced with .card
.mask1,
.mask2,
.mask3 {
  padding: 16px;

  border-radius: 4px;
  background-color: #FFF;
}

.mask1.primary-border,
.mask2.primary-border,
.mask3.primary-border,
.mask1.hover-primary:hover,
.mask2.hover-primary:hover,
.mask3.hover-primary:hover {
  border: 1px solid $primary;
}

.mask1.error-border,
.mask2.error-border,
.mask3.error-border {
  border: 1px solid $error;
}

.mask1.warning-border,
.mask2.warning-border,
.mask3.warning-border {
  border: 1px solid $warning;
}

.mask1.success-border,
.mask2.success-border,
.mask3.success-border {
  border: 1px solid $success;
}

.mask1 {
  box-shadow: 0 0 4px 0 rgba(33, 37, 41, .16);
}

.mask1 > h1:first-child {
  margin: 0;
}

.mask1 .primary-top {
  display: inline-block;

  width: calc(100% + 32px);
  min-height: 300px;
  margin: 0;
  margin-top: -16px;
  margin-bottom: 48px;
  margin-left: -16px;
  padding: 16px;

  color: #FFF;
  background-color: $primary;
}

.mask1 .primary-top h1,
.mask1 .primary-top h2,
.mask1 .primary-top h3,
.mask1 .primary-top h4,
.mask1 .primary-top p,
.mask1 .primary-top div {
  padding: 0;

  color: #FFF;
}

.mask2 {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .08);
}

.mask3 {
  box-shadow: 0 40px 40px 0 rgba(0, 0, 0, .16);
}

// A .description <p /> is a nice styled paragraph optimized for reading
p.description,
.description p {
  max-width: 600px;

  text-align: justify;

  font-size: 1.25em;
  line-height: 1.6em;
}

.description > p,
.description > h4 {
  max-width: 600px;

  text-align: justify;
}

// Flex helper classes
.flex,
.flex-row,
.flex-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex.center,
.flex-row.center,
.flex-col.center {
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

// Helper classes to change opacity on things
.normal {
  opacity: 1;
}

.secondary {
  opacity: .5;
}

// This also adds the right cursor on disabled elements
.disabled {
  cursor: not-allowed;

  opacity: .25;
}

// Change it from the material-ui default inline-flex, which makes them take full width
.mui-text-input,
.mui-select,
.mui-radio-group {
  display: flex;
}

// To display choices with proper hover effects
.choice {
  display: flex;

  box-sizing: content-box;
  margin-bottom: 16px;
  padding: 16px;

  border: solid 1px $grey1;
  border-radius: 4px;
}

.choice:hover {
  cursor: pointer;

  border: solid 1px $primary;
}

.choice.chosen {
  border: solid 2px $primary;
}

.choice.chosen.disabled {
  border: solid 2px $success;
}

.choice.disabled {
  cursor: default !important;
}

.bert-alert.success {
  background: $success;
}
.bert-alert.info {
  background: $primary;
}
.bert-alert.warning {
  background: $warning;
}
.bert-alert.danger {
  background: $error;
}

.bert-content h5,
.bert-content p {
  color: white !important;
}

.bert {
  color: white !important;
}

.text-center {
  text-align: center;
}
