@font-face {
  font-family: 'Eina04-Regular';
  src: url('fonts/Eina04-Regular.ttf');
}
@font-face {
  font-family: 'Eina04-Bold';
  src: url('fonts/Eina04-Bold.ttf');
}

body {
  font-size: $font-size-s;
  line-height: 1.4em;
  font-family: 'Eina04-Regular';
  letter-spacing: 0.048em; // 0.75px / 16px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.67em 0;

  line-height: 1.3em;

  font-family: 'Eina04-Bold';
  letter-spacing: 0.048em; // 0.75px / 16px

  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.6em;
}

@media (min-width: $med) {
  body {
    font-size: $font-size-m;
  }
}

@media (min-width: $wide) {
  body {
    font-size: $font-size-l;
  }
}

.no-responsive-typo-s {
  font-size: $font-size-s !important;
}

.no-responsive-typo-m {
  font-size: $font-size-m !important;
}

.bold {
  font-family: 'Eina04-Bold';
}
