@include font-face('Eina04-Regular', 'fonts/Eina04_Regular');
@include font-face('Eina04-Bold', 'fonts/Eina04_Bold');

body {
  letter-spacing: 0.048em; /* 0.75px / 16px  */

  font-family: 'Eina04-Regular';
  line-height: 1.4em;@include font-size($font-size-s);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.67em 0;

  letter-spacing: 0.048em; /* 0.75px / 16px  */

  font-family: 'Eina04-Bold';
  font-weight: normal;
  line-height: 1.3em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.6em;
}

.bold {
  font-family: 'Eina04-Bold';
}
