$xsmall: 340px;
$small: 480px;
$med: 768px;
$large: 992px;
$wide: 1200px;
$xwide: 1600px;

$primary: #005bea;
$secondary: #00c6ff;
$primary-light: $secondary;
$tertiary: #001a8f;
$primary-dark: $tertiary;
$success: #21d3b5;
$warning: #f3af50;
$error: #b73e25;

$grey1: #d8d8d8;
$grey2: #eee;
$grey3: #f8f8f8;
$border-grey: #dee2e6;
$light-grey: #eee;

$icon: #444;
$icon-hover: #888;

$body-text: rgba(#000, 0.6);
$title-text: rgba(#000, 0.74);

$background-color: #f8f8f8;

$top-nav-height: 64px;

$bold: 600;
$bezier: cubic-bezier(0.02, 0.01, 0.47, 1);

$z-nav: 100;
