// Screen sizes
$xsmall: 340px;
$small: 480px;
$med: 768px;
$large: 992px;
$wide: 1200px;
$xwide: 1600px;
$hd: 1920px;

// Font sizes
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 20px;

// App colors
$primary: #005bea;
$secondary: #00c6ff;
$primary-light: $secondary;
$tertiary: #001a8f;
$primary-dark: $tertiary;
$success: #21d3b5;
$warning: #f3af50;
$error: #e01076;

// Helper colors
$grey1: #d8d8d8;
$grey2: #eee;
$grey3: #f8f8f8;
$border-grey: #dee2e6;
$light-grey: #eee;
$icon: #444;
$icon-hover: #888;
$background-color: #f8f8f8;

// Font variables
$bold: 600;
$body-text: rgba(#000, .6);
$title-text: rgba(#000, .74);

// Other
$top-nav-height: 64px;
$bezier: cubic-bezier(.02, .01, .47, 1);
$z-nav: 100;
