// Screen sizes
$xsmall: 340px;
$small: 480px;
$med: 768px;
$large: 992px;
$wide: 1200px;
$xwide: 1600px;
$hd: 1920px;

// Font sizes
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 20px;

// App colors
$primary: #2e7eff;
$secondary: #00c6ff;
$primary-light: #5bb5ff;
$primary-gradient: linear-gradient(to left, $primary-light, $primary);
$tertiary: #001a8f;
$primary-dark: $tertiary;
$success: #21d3b5;
$success-dark: #1aa890;
$warning: #f3af50;
$error: #e01076;
$error-dark: #b30c5e;

// Helper colors
$grey1: #d8d8d8;
$grey2: #eee;
$grey3: #f8f8f8;
$grey4: #aaa;
$border-grey: #ccc;
$light-grey: #eee;
$icon: #444;
$icon-hover: #888;
$background-color: #f8f8f8;
$background-light: #dbeeff;

// Font variables
$regular: 300;
$bold: 400;
$body-text: #2c2c2c;
$body-text-light: #2c2c2c33;
$title-text: #2c2c2c;

// Other
$top-nav-height: 64px;
$bezier: cubic-bezier(0.02, 0.01, 0.47, 1);
$z-nav: 100;
$shadow-level-1: 0 2px 60px 5px rgba(0, 0, 0, 0.05);
$shadow-level-2: 0 2px 30px 5px rgba(0, 0, 0, 0.2);
$border-radius: 8px;

// Marketing website
$site-width: 1200px;
