.properties-page {
  display: flex;
  flex-direction: column;

  .properties {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .adder {
    padding: 32px;
  }
}

.properties-page-detail {
  flex-grow: 1;

  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  margin: 16px;
}
