.loan-progress-header {
  display: flex;
  flex-direction: column;
  padding: 4px;

  .icons {
    display: flex;
    flex-direction: row;
    width: 100%;

    .icon {
      width: 16px;
      height: 16px;
      margin-right: 16px;
    }
  }
}
