.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  // To hide the waves that overflow
  overflow-x: hidden;
}

// To make sure the background color of .page is applied below all
// other z-index-changing elements
.page > * {
  z-index: 10;
}
