$dot-size: 8px;
$dot-size-total: 10px;
$dot-offset: 4px;

.timeline.vertical {
  list-style: none;
  margin: 0;
  width: 250px;

  li:last-of-type {
    padding-bottom: 0;
  }

  li {
    max-width: 250px;
    padding-bottom: 16px;
    padding-left: 2em;
    position: relative;
    color: $icon;

    .secondary-label {
      position: absolute;
      transform: translate(-100%, 0);
      left: 0;
      padding-right: 16px;
      text-align: right;
      white-space: nowrap;
    }

    &:before {
      position: absolute;
      left: 0;
      top: $dot-offset;
      content: '';
      width: $dot-size;
      height: $dot-size;
      border-radius: 50%;
      border: 2px solid $icon;
      z-index: 2;
    }

    &:not(:last-of-type):after {
      position: absolute;
      left: 5px;
      top: calc(#{$dot-size-total} + #{$dot-offset});
      content: '';
      width: 2px;
      height: calc(100% - #{$dot-size-total});
      background-color: $icon;
      z-index: 1;
    }

    &.complete {
      color: $grey4;
    }

    &.complete:before,
    &.complete:after {
      background-color: $grey4;
    }

    &.complete:before {
      border: 2px solid $grey4;
    }
  }
}

.timeline.horizontal {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    flex-direction: column;

    .main-label {
      border-bottom: 2px solid $icon;
      position: relative;
    }

    &:last-of-type .main-label {
      border-bottom: none;
    }

    .main-label:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -7px;
      width: $dot-size;
      height: $dot-size;
      border-radius: 50%;
      border: 2px solid $icon;
      z-index: 2;
      background-color: white;
    }

    .main-label,
    .secondary-label {
      padding: 8px 16px 8px 0;
    }
  }
}
