.cards {
  margin: 40px auto;

  &-heading {
    text-align: center;
  }

  &-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;

    @media screen and (min-width: $med) {
      grid-template-columns: 339px 339px;
      grid-gap: 30px;
    }

    @media screen and (min-width: $wide) {
      grid-template-columns: 555px 555px;
    }
  }

  @media screen and (min-width: $med) {
    margin: 120px auto;
  }
}

.cards-grid {
  .card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

    img {
      display: block;
      max-width: 100%;
    }
  }

  .card-title {
    text-align: center;
  }

  .card-content {
    color: black;
    text-align: center;
  }
}
