// Animated checkmark SVG
$curve: cubic-bezier(0.65, 0, 0.45, 1);

.saving-icon,
.todo-circle {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
}

.checkmark__circle {
  animation: stroke 0.6s $curve forwards;

  fill: none;
  stroke: $success;
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-miterlimit: 10;
  stroke-width: 4;
}

.checkmark {
  display: block;

  width: 25px;
  height: 25px;
  margin: 10% auto;

  animation: fill 0.4s ease-in-out 0.4s forwards,
  scale 0.3s ease-in-out 0.9s both;

  border-radius: 50%;
  box-shadow: inset 0 0 0 $success;

  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4;
}

.checkmark__check {
  transform-origin: 50% 50%;
  animation: stroke 0.3s $curve 0.8s forwards;

  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0 0 0 30px $success;
  }
}



.todo-circle .inside {
  position: relative;

  display: block;

  width: 15px;
  height: 15px;

  border-radius: 50%;
  background-color: $primary;
}
