.borrower-finance-page {
  .conditions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    max-width: 500px;
    margin: 40px auto 0 auto;
    padding: 40px;
  }

  .recap {
    max-width: 400px;
  }
}

.borrower-page-files,
.borrower-page-info,
.borrower-finance-page {
  display: flex;
  flex-direction: column;

  .description {
    align-self: center;
  }

  hr {
    width: 100%;
  }
}
