.borrower-finance-page {
  .conditions {
    width: 100%;
    max-width: 500px;
    margin: 40px auto 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .recap {
    max-width: 400px;
  }
}
