{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-class-properties",
    ["react-intl", {
      "messagesDir": "/Users/Florian/dev/epotek/build/messages"
    }]
  ]
}
