[submodule "microservices/admin/packages/grapher-react"]
	path = microservices/admin/packages/grapher-react
	url = https://github.com/Floriferous/grapher-react.git
	branch = loadOnRefetch-version-inc

[submodule "microservices/app/packages/grapher-react"]
	path = microservices/app/packages/grapher-react
	url = https://github.com/Floriferous/grapher-react.git
	branch = loadOnRefetch-version-inc

[submodule "microservices/www/packages/grapher-react"]
	path = microservices/www/packages/grapher-react
	url = https://github.com/Floriferous/grapher-react.git
	branch = loadOnRefetch-version-inc

[submodule "microservices/pro/packages/grapher-react"]
	path = microservices/pro/packages/grapher-react
	url = https://github.com/Floriferous/grapher-react.git
	branch = loadOnRefetch-version-inc
	
[submodule "microservices/pdf/packages/grapher-react"]
	path = microservices/pdf/packages/grapher-react
	url = https://github.com/Floriferous/grapher-react.git
	branch = loadOnRefetch-version-inc