# Dependencies
node_modules/

# Compiled language files
microservices/**/lang/*

# IntelliJ config files
.idea/

# Compiled plugin files
core/assets/public/files/frontPlugin/*.js

# Mac files
**/.DS_Store

# dotenv environment variable files
**/.env*

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*