.contact-page {
  .www-main {
    overflow: hidden;
  }

  .www-footer {
    z-index: 1;

    margin-top: -300px;
  }
}

.contact-page-top {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    color: $primary;
  }

  .description {
    max-width: 600px;
    margin-top: 0;

    text-align: justify;
  }
}

.contact-page .contact-info {
  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  padding: 0 16px 80px 16px;

  h3 {
    flex-grow: 1;
    flex-shrink: 1;

    color: white;
  }
}

.contact-page .contact-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;

  white-space: nowrap;

  color: white;

   > div {
    display: flex;
    align-items: center;

    &:hover {
      opacity: 0.5;
    }

    &.email {
      flex: 1;
    }

    .icon {
      padding: 16px;
      padding-left: 0;
    }

    h4 {
      flex-grow: 1;
      flex-shrink: 1;

      color: white;
    }
  }
}

.contact-page .google-map {
  position: relative;

  display: flex;

  width: 100%;
  height: 600px;

  .directions-button {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;
  }

  .map {
    flex-grow: 1;
  }
}

.contact-page .contact-us-form {
  position: relative;
  z-index: 1;

  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 16px;
  margin-bottom: -120px;

  @include screen(large) {
    margin-bottom: 0;
  }
}
