.admin-search {
  width: 100%;

  text-align: center;

  .icon-link {
    display: flex;
    align-items: center;

    &-icon {
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
  }
}

.list {
  width: 100%;
}

.search-field {
  font-size: inherit;

  margin: 16px;
}

.search-input {
  font-size: 36px;
}

.search-results,
.search-results-collection {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
}
