.new-loan-form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;

  &-textfield {
    align-self: center;

    width: 400px;
    margin: 32px;
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
     > * {
      margin-left: 16px;
    }
  }
}
