.blog-post-page {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
  }

  .back {
    align-self: flex-start;
  }
}

.blog-post-page-content {
  width: 100%;
  max-width: 900px;
  margin-top: 40px;
  box-sizing: border-box;

  h1 {
    color: $primary;
    margin-bottom: 0;
  }

  h2,
  h3,
  h4 {
    margin-top: 40px;
  }

  .date {
    margin-top: 0;
  }

  @include screen(med, min) {
    padding: 40px;
  }

  .thumbnail {
    display: block;
    margin: auto;
    max-height: 300px;
    max-width: 300px;
  }

  p {
    margin: 0;
    margin-top: 32px;
    line-height: 1.5em;
  }

  blockquote {
    padding-left: 16px;
    margin-top: 48px;
    margin-bottom: 24px;
    font-size: 1.1rem;
    border-left: 2px solid $primary;
    margin-left: 0;

    @include screen(med) {
      padding-left: 16px;
    }

    p {
      margin-bottom: 16px;
    }

    cite {
      font-size: 1rem;
      display: block;
      width: 100%;
      text-align: left;
      opacity: 0.6;
    }
  }

  figure {
    margin-top: 2em;
    margin-left: 0;
    margin-right: 0;
  }

  figcaption {
    text-align: center;
    font-size: 0.9rem;
  }

  img {
    max-width: 100%;
  }

  .youtube-player {
    width: 100%;
  }

  a {
    color: $primary;
    
    &:hover {
      opacity: 0.5;
    }
  }
}

.blog-author {
  margin-top: 24px;
  display: flex;
  align-items: center;

  img {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 50%;
  }
}

.blog-post-page-share {
  margin-top: 16px;
  display: flex;

  .share-button {
    margin-right: 8px;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }
}
