// Loading Animation
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  &.small {
    transform: scale(0.5);
  }

  &.fullScreen {
    width: 100%;
    min-width: 100px;
    height: 100%;
    min-height: 100px;
  }
}

.loading-box {
  position: relative;

  display: inline-flex;
  float: left;

  width: 100px;
  height: 100px;

  transition: all 0.2s ease;

  @include screen(med) {
    width: 100%;
  }
}

/* -------------- loader2 -------------- */

.loader2 {
  position: relative;
  top: 49%;
  top: -webkit-calc(50% - 43px);
  top: calc(50% - 2.5px);
  left: 49%;
  left: -webkit-calc(50% - 43px);
  left: calc(50% - 2.5px);

  width: 5px;
  height: 5px;

  border-radius: 50px;
  background-color: white;
}

.loader2:before {
  position: absolute;
  top: -40px;
  left: 2px;

  width: 40px;
  height: 40px;

  content: '';
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-animation: loader2 1.5s linear infinite;
  animation: loader2 1.5s linear infinite;

  border-top: 3px solid $primary;
  border-right: 3px solid $primary;
  border-radius: 0 50px 0 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.loader2:after {
  position: absolute;
  top: 2px;
  right: 2px;

  width: 40px;
  height: 40px;

  content: '';
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-animation: loader2 1.5s linear infinite;
  animation: loader2 1.5s linear infinite;

  border-bottom: 3px solid $primary;
  border-left: 3px solid $primary;
  border-radius: 0 0 0 50px;
  background-color: rgba(255, 255, 255, 0.8);
}

@-webkit-keyframes loader2 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
