normalize-css()

// Grid, copied from bootstrap sizes
$xsmall = 340px
$small = 480px
$med = 768px
$large = 992px
$wide = 1200px
$xwide = 1600px;

// Colors
black = #222;
grey = #D8D8D8;
light-grey = #EEE;
border-grey = #DEE2E6;

grey1 = #d8d8d8;
grey2 = #eee;
grey3 = #f8f8f8;

//Custom Colors
textcolor = #333333;
backgroundcolor = #FCFCFC
brand-primary = #4990E2;
brand-success = #6ED2B1;
brand-warning = #F3AF50;
brand-danger = #B73E25;
brand-black = #051C2C;
brand-grey = #637E94;


z = {
  neg: -7,
  lowest: 1,
  low: 4,
  mid: 5,
  video: 6,
  header: 7,
  nav: 8,
  mini: 9,
  modal: 10,
  highest: 11
}

social = {
  twitter: #00aced,
  facebook: #3b5998,
  google: #dd4b39,
  youtube: #bb0000
}

$side-nav = 250px
$side-nav-large = 250px
$bottom-nav-height = 80px

$bezier = cubic-bezier(.02, .01, .47, 1);


.hover-rise
  text-decoration none
  list-style: none;
  cursor pointer
  -webkit-transition all 250ms cubic-bezier(.02, .01, .47, 1)
  -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  transition: all 250ms cubic-bezier(.02, .01, .47, 1)
  // Prevent weird text color changes during transitions
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:hover
    +above($med)
      box-shadow: 0px 40px 40px 15px rgba(0,0,0,0.16);
      transform: translate(0, -10px);
      transition-delay: 0s !important;

.dropzone
  border-color brand-primary
  border-style dashed
  color brand-primary
  &:hover
    border-style: solid;
  .filepicker-file-icon
    pointer-events: none;


// Loading Animation
.loading-container{
	text-align: center;
	overflow: hidden;
  height: 100%;
}


.loading-box{
	display: inline-block;
	height: 100%;
	width: 100%;
	float:left;
	position: relative;
	transition: all .2s ease;
}

/* MEDIA QUERIES */
@media (max-width: 700px){
	.loading-box{
		width: 100%;
	}

	.loading-box:nth-child(2n-1){
		background-color: inherit;
	}

	.loading-box:nth-child(4n),.box:nth-child(4n-3) {
		// background-color: rgba(0,0,0,0.05);
	}

}

@media (max-width: 420px){
	.loading-box{
		width: 100%;
	}

	.loading-box:nth-child(4n),.box:nth-child(4n-3){
		background-color: inherit;
	}

	.loading-box:nth-child(2n-1){
		// background-color:rgba(0,0,0,0.05);
	}

}



/* -------------- loader2 -------------- */

.loader2{
	position: relative;
	width: 5px;
	height: 5px;

	top: 49%;
	top: -webkit-calc(50% - 43px);
	top: calc(50% - 2.5px);
	left: 49%;
	left: -webkit-calc(50% - 43px);
	left: calc(50% - 2.5px);

	background-color: white;
	border-radius: 50px;
}

.loader2:before{
	content: "";
	position: absolute;
	top: -38px;
	border-top: 3px solid brand-primary;
	border-right: 3px solid brand-primary;
	border-radius: 0 50px 0px  0;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-transform-origin:  0% 100%;
	transform-origin:  0% 100% ;
	-webkit-animation: loader2 1.5s linear infinite;
	animation: loader2 1.5s linear infinite;
}

.loader2:after{
	content: "";
	position: absolute;
	top: 2px;
	right: 2px;
	border-bottom: 3px solid brand-primary;
	border-left: 3px solid brand-primary;
	border-radius: 0 0px 0px  50px;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-transform-origin:  100% 0%;
	transform-origin:  100% 0% ;
	-webkit-animation: loader2 1.5s linear infinite;
	animation: loader2 1.5s linear infinite;
}



@-webkit-keyframes loader2{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader2{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

.minimal-table
  width: 100%;
  height: auto;
  display: table;
  margin: 0 auto 40px auto
  max-width: 1000px;
  min-width: 600px;
  // table-layout: fixed;
  transition: all 0.3s $bezier;
  tr
    transition: all 0.3s $bezier;
  th
    font-weight: 300;
    padding: 10px;
    border-bottom:  solid 1px grey;
    white-space: nowrap;
  td
    height: 60px;
    padding: 0 10px;
    vertical-align: middle;
    // padding-top: 20px;
    font-size: 1.1em;
    +above($med)
      font-size: 1.2em;
  .r
    text-align: right;
  .l
    text-align: left;
  .c
    text-align: center;
  tr:hover
    background-color: light-grey;
  tr.choose:hover
    background-color: alpha(brand-success, 0.5);
    cursor: pointer;
  tr.chosen
    background-color: brand-success;
    color: white;
    h3
      color: white;


.trancheBar
  position: relative;
  height: 50px;
  width: 100%;
  background-color: backgroundcolor;
  border-radius: 5px;
  .bar
    transition: width 0.3s ease;
    height: 100%;
    background-color: lightness(brand-primary, 70%);
    border-radius: 5px;
    &.main
      background-color: lightness(brand-primary, 80%)
  .money
    position: absolute;
    top: 0;
    left: 50%;
    .center-adjust
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      left: -50%;
      height: 50px;
      white-space: nowrap;
      .text-span
        line-height: 50px;
        margin-left: 8px;
        margin-right: 8px;

// Animated checkmark SVG
$curve = cubic-bezier(0.650, 0.000, 0.450, 1.000);

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: brand-success;
  fill: none;
  animation: stroke .6s $curve forwards;
}

.checkmark {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  stroke-width: 4;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px brand-success;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px brand-success;
  }
}


.partner-logos
  position: relative;
  width: 50%;
  max-width: 400px;
  max-height: 200px;
  min-width: 200px;
  margin: 0 auto;
  .partner
    position: relative;
    width: 100%;
  .epotek
    position: absolute;
    width: 50%;
    max-width: 200;
    bottom: 10%;
    right: -20%;
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.97);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


.dz-image
  background: linear-gradient(to bottom, lightness(brand-primary, 80%), brand-primary) !important;


#expensesChart
  position: relative;
  display: block;
  overflow: visible !important;
  .highcharts-container
    overflow: visible !important;
  .highcharts-label
    overflow: visible;
    text
      overflow: visible !important;

div.strategy-choices
  width: 100%;
  display: flex;
  flex-direction: column;
  .choice
    border-radius: 4px;
    border: solid 1px grey1;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    box-sizing: content-box;
    &:hover
      border: solid 1px brand-primary;
    &.chosen
      border: solid 2px brand-primary;
    .content
      padding: 16px;
      display: flex;
      flex-direction: column;
      &:hover
        cursor: pointer;
      .top
        display: flex;
        justify-content: flex-start;
        margin-bottom: 8px;
        align-items: center;
        .title
          margin: 0;
        .recommended
          background-color: brand-primary;
          color: white;
          margin-left: 8px;
          border-radius: 4px;
          padding: 2px 4px;




.dropzoneArrayItem
  width: 100%;
  +above($med)
    width: 80%;
  max-width: 600px;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  transition: all 0.2s ease;
  // will-change: height;
  // will-change: width;
  // transform: translate3d(0, 0, 0);
  // overflow: hidden !important;
  &:hover
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
    background-color: rgba(240, 240, 240, 0.2);
  &.disabled
    opacity: 0.8;
    background-color: white;
    &:hover
      box-shadow: 0 0 4px 0 rgba(33,37,41,0.16);
  .top
    min-height: 80px;
    width: 100%;
    display: flex;
    .left, .right
      min-height: 80px;
      width: 48px;
      border-right: solid 1px grey;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      +above($xsmall)
        width: 80px;
    .left
      span
        border-radius: 50%;
        border: solid 1px grey;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    .text
      min-height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-grow: 1;
      padding: 8px 16px;
      h3, h5
        margin: 0;
    .right
      border-right: none;
      border-left: solid 1px grey;
      color: #fcfcfc;
  .dropzoneDiv
    flex-grow: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    > div
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .filepicker
        flex-grow: 1;

.bert-content
  h5, p
    color: white !important;

.bert
  color: white !important;

.metrics
  display: flex;
  margin: 48px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  .metric
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
    margin: auto 0;
    border-right: 1px solid #ccc
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 180px;
    div
      h1, h4
        margin: 0;
      h1
        font-size: 3em;
        +above($med)
          font-size: 4em;
  div:last-child
    border-right: none;


.admin-todo
  text-decoration: none;
  color: inherit;
  height: 100px;
  width: 100%;
  min-width: 400px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .text
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    h3
      margin: 0;
    p
      margin: 0;

ul.request-map
  list-style: none;
  width: 100%;
  li
    width: 33%;
    display: inline-block;
  ul
    width: 100%;
    list-style: none;
    display: block;
  div
    width: 100%;
    h2
      border-bottom: solid 1px #ccc;

// .dashboard-item
//   transition: all 0.2s ease;
//   margin-bottom: 40px;
//   overflow: visible !important;
//   padding: 0 0 40px 0 !important;
//   max-height: 4000px;
//   &.inactive
//     height: auto;
//     .top .right button
//       transform: rotate(-180deg);
//   .top
//     padding-left: 20px;
//     height: 80px;
//     border-bottom: solid 1px light-grey;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     h2
//       margin: 0;
//     .right
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       width: 80px;
//       height: 100%;
//       border-left: solid 1px light-grey;
//   .active-div
//     margin-top: 0px;
//     .charts
//       display: inline-block;
//       width: 100%;


// .stepper
//   padding: 0 8px;
//   margin: 40px 20px;
//   width: calc(100% - 40px);
//   .vertical
//     margin: auto;
//     width: 100%;
//     max-width: 400px;
//   .horizontal
//     margin: 0 auto;
//     width: 100%;
//     max-width: 800px;
//     overflow: hidden;
//   .right-icon
//     border: 1px solid light-grey;
//     border-radius: 50%
//     display: flex !important;
//     justify-content: center;
//     align-items: center;
//     &.success
//       border: 1px solid brand-success;
//       color: brand-success;


.oscar
  width: 100%;
  height: unset !important;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .small-oscar
    width: calc(100% - 16px);
    +above($med)
      width: calc(100% - 32px);
    max-width: 1200px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    hr
      width: 100%;
      margin: 0;
      margin-bottom: 16px;
    h1:first-child
      margin 16px 0;
      padding: 0 !important;
    .content
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      +above($med)
        flex-direction: row;
        justify-content: space-around;
      .recap
        padding: 0 16px;
        width 100%;
        +above($med)
          width: 50%;
        max-width: 400px;
      .separator
        display: none;
        +above($med)
          display: initial;
          width: 1%
          max-width: 1px;
          background-color: #eee;
          height: 200px;
      .sliders
        width: 100%;
        padding: 0 8px;
        +above($med)
          width: 49%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .reset-button
          margin-bottom: 16px;
        .slider
          padding: 0 32px;
    .oscar-line
      position: relative;
      display: inline-block;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 16px;
      label
        font-size: 1em;
        margin: 0;
      .text-div
        overflow: visible;
        display: flex;
        .input
          font-size: 32px !important;
          line-height: 24px !important;
          height: 48px !important;
          width: 200px !important;
          +above($med)
            font-size: 40px !important;
            line-height: 36px !important;
            height: 64px !important;
            width: 230px !important;
        .reset
          margin-left: 8px;
          display: flex;
          align-self: center;
          z-index: 1;
          cursor: pointer;
          svg
            color: alpha(#222, 0.7) !important;
          &:hover
            svg
              color: alpha(#222, 0.9) !important;
          &.off
            cursor: default;
            svg
              color: alpha(#222, 0.4) !important;
      .slider > div
        margin: 0 !important;
        margin-top: 8px !important;
      .sliderDiv
        position: relative;
        margin-top: -8px;
      .sliderMaxButton
        height: 32px;
        display: inline;
        position: absolute;
        right: -10px;
        top: 0px;
        svg
          height: 30px !important;
  .chart
    z-index: 1;
    width: 100%;
    margin-bottom: 40px;
    // max-width: 100%;
    #expensesChart
      margin-bottom: 0;
  .button
    margin: 40px 0;


.start1-errors
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  padding: 40px;
  border: 1px solid rgba(0,0,0,0.04);
  .icon
    height: 3em !important;
    width: 3em !important;
    +above($med)
      margin: 0 2em;
      height: 3em !important;
      width: 3em !important;
  #content
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    +above($med)
      padding: 16px;
    h4
      text-align: left;
      line-height: 1.5em;


.validator
  min-height: 140px;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  label
    width: 100%;
    margin: 0;
    margin-top: 16px;
  h4
    margin: auto;
    text-align: left;
  .result
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    div
      h3, h4
        margin: 0;
      h3
        text-align: right;
        opacity: 0.8;
        transition: color 0.2s ease;
        font-size: 1.375em !important;
        span.sum
          margin-top: 16px;
          border-top: solid 1px grey;
        .fa
          width: 21px;
          text-align: center;
      &:hover
        transition: all 0.2s $bezier;
        transform: scale(1.03);
        &.no-scale
          transform: none;
        color: black;
        opacity: 1;
        h3, h4
          color: inherit;
          opacity: inherit;
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

.ux-text
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  justify-content: center;
  align-items: center;
  div.text
    padding: 40px;
    max-width: 1000px;
    h1
      color: #aaa;
      margin-bottom: 0;
    h2
      margin-top: 0;
      small
        color: #888


.start2
  width: calc(100% - 40px);
  min-height: 100%;
  margin: 0 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  justify-content: center;
  align-items: flex-start;
  h1.fixed-size
    font-size: 1.4em !important;
    +above($small)
      font-size: 1.6em !important;
    +above($med)
      font-size: 2em !important;
  .form
    width: 100%;
    +above($med)
      padding-right: 440px;
      padding-left: 0;
    +above($large)
      padding-left: 0;
    section
      width: 100%;
      max-width: 700px;
      +above($wide)
        max-width: 800px;
      +above($xwide)
        max-width: 1000px;
      margin: 0 auto;
    &.isFinished
      padding-right: 0;
      section
        max-width: 1000px;
  .start2recap
    display: none;
    +above($med)
      display: flex;
    position: fixed;
    width: 50%;
    max-width: 400px;
    top: 82px;
    right: 16px;
    max-height: calc(100% - 98px);
    .recap-title
      color: white;
      background-color: brand-primary;
      height: 60px;
      line-height: 60px;
      text-align: center;
      margin-left: -16px;
      margin-top: -16px;
      width: 400px;
      position: fixed;
      z-index: 1;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    .validator
      position: relative;
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-top: 60px;
      max-height: calc(100% - 98px);
      div.result
        div
          flex-shrink: 0;
    .shadow-top, .shadow-bottom
      position: absolute;
      bottom: 16px;
      width: calc(100% - 32px);
      height: 100%;
      max-height: calc(100% - 92px);
      box-shadow: 0px 40px 40px -30px white inset;
      z-index: 1;
      pointer-events: none;
    .shadow-bottom
      box-shadow: 0px -40px 40px -30px white inset;
  .scroll
    .startArticle
      display: inline-block;
      align-items: center;
      width: 100%;
      transform-origin: left center;
      transition: all 0.3s ease;
      transform: scale(0.8);
      opacity: 0.8;
      .delete-button
        display: none;
        position: absolute;
        right: -24px;
        top: 50%;
        cursor: pointer;
        svg
          color: alpha(#222, 0.7) !important;
        &:hover
          svg
            color: alpha(#222, 0.9) !important;
        &.off
          cursor: default;
          svg
            color: alpha(#222, 0.4) !important;
        .absolute-wrapper
          top: 50%;
          transform: translateY(-50%);
          position: relative;
      span.active
        input
          color: inherit !important;
      .inputHider
        display: none;
      &:hover
        cursor: pointer;
        transform: scale(0.9);
        opacity: 0.9;
        &:before
          content: 'Modifier';
          position: absolute;
          left: 0;
          top: 0;
          opacity: 1;
          color: brand-primary;
          +below($small)
            top: -4px;
        .delete-button
          display:block;
      &.no-modify:hover
        &:before
          content: '';
      h1.array-input
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        span.array-input-span
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          label
            margin: 0;
            margin-top: 16px;
            font-size: initial;
    &:last-child
      .startArticle
        cursor: default;
        transform: scale(1);
        opacity: 1;
        .inputHider
          display: inline-block;
      .last
        cursor: pointer;
        transform: scale(0.9);
        opacity: 0.9;
    &:last-child:hover:before
      .startArticle
        content: '';
        &.no-scale
          transform: scale(1) !important;
    .activeLine
      opacity: 1 !important;
      transform: scale(1) !important;
      cursor: default !important;
      &:hover:before
        content: '';
  .recap
    transition: all 0.3s ease;
    display: none;
    +above($med)
      display: flex;
    flex-direction: column;
    width: 200px;
    position: fixed;
    top: 16px;
    right: 16px;
    margin: 0 auto;
    div
      display: flex;
      flex-direction: column;
      h5, h4
        margin 0;
      h4
        align-self: flex-end;
        margin-bottom: 8px;
  [name='final']
    width: 100%;
  .start-result
    width: 100%;
    margin-top: 40px;
    h1
      text-align: center;
      margin-bottom: 50px;
    .content
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      +above($large)
        flex-direction: row;
        justify-content: space-around;
      .chart
        text-align: center;
        flex-grow: 0;
        max-width: 100%;
        h3
          margin-bottom: 30px;
        #expensesChart
          z-index: 1;
          margin-bottom: 16px;
          +above($med)
            margin-bottom: 0;
        +above($large)
          max-width: 50%;
          text-align: center;
          flex-grow: 1;
      .validator
        margin-bottom: 40px;
        +above($large)
          margin-bottom: 0;
    .buttons
      display: flex;
      justify-content: center;
      margin: 40px 0;
  .email
    input
      font-size: inherit !important;
  .slider-labels
    position: absolute;
    top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  .loanWanted-slider
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -16px;
    div
      display: flex;
      flex-direction: column;
      align-items: center;
      &:first-child
        margin-right: 8px;
        padding-right: 8px;
        border-right: 1px solid light-grey;
      h1
        margin: 0;
      label
        font-size: initial;
        color: initial;
        margin: 0;

.overview-items
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .borrower-recap, .request-recap
    padding: 0;
    margin: 16px;
    flex: 0 1 200px;
    height: 200px;
    display: inline;
    flex-direction: column;
    color: initial;
    .image
      background-color: brand-primary;
      height: 120px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    .text
      padding: 4px 16px;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h3, p
        margin: 0;

.new-borrower, .new-request
  transition: all 250ms $bezier;
  background-color: brand-primary !important;
  padding: 16px;
  margin: 16px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 0;
  h1, h4
    margin: 0;
    color: white;
  &:hover
    background-color: white !important;
    h1, h4
      color: brand-primary;


.properties
  width: 100%;
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

.borrower-form
  width: 100%;
  display: flex;
  justify-content: center;
  form
    width: 100%;
    max-width: 400px;

.borrower-page
  header
    .fa
      padding: 20px;
    h1
      margin: 0;
    h3
      margin-top: 0;
  .borrower-links
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    margin: 40px auto;
    a
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      flex-basis: 120px;
      flex-grow: 1;
      color: #777;
      border-right: 1px solid light-grey;
      h4
        color: inherit;
      &:hover
        color: brand-primary;
        h4
          color: brand-primary;
      &:last-child
        border-right: none;

.borrower-finance-page
  .conditions
    width: 100%;
    max-width: 500px;
    margin: 40px auto 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;



.password-page
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img
    width: calc(100% - 32px);
    max-width: 500px;
    margin: 40px 16px 8px 16px;
  h3
    margin-bottom: 40px;
  .subscribe
    margin: 40px 0;


@keyframes fadeInUpCustom
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }

.fadeInUpCustom
  animation: fadeInUpCustom 600ms $bezier;

.page-title
  margin: -16px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .top-bar, .bottom-bar
    z-index: z.nav;
    width: 100%;
    position: relative;
    +above($med)
      position: fixed;
      width: calc(100% - 300px); // Side-nav width, careful, not updated with variable
    height: 64px;
    background-color: #F1F3F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    right: 0;
    .title
      margin: 0;
      color: #495057;
    .buttons
      display: flex;
      flex-wrap: nowrap;
  .top-bar
    +above($med)
      top: 64px;
  .bottom-bar
    bottom: 0;
  .children
    padding: 16px;
    +above($med)
      padding-top: 80px;
    position: relative;


.verification-comment-list
  list-style: none;
  padding: 0;
  hr
    width: 50%;
    margin: 40px auto;


.admin-offer-list
  list-style: none;
  padding: 0;
  .top
    display: flex;
    flex-direction: column;
  li
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    .title
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      h2
        margin: 0;
    .overview
      padding: 0;
      display: flex;
      justify-content: flex-start;
      li
        display: flex;
        flex-direction: row;
        margin-right: 16px;
        span:first-child
          margin-right: 4px;

.dashboard-list
  .link
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
    &:last-of-type
      margin-bottom: 0px;
    &:hover
      .icon
        color: #444;
        fill: #444 !important;
    .text
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
    .icon
      color: #D8D8D8;
      fill: #d8d8d8 !important;
      transition: all 0.1s $bezier;

.grid
  width: 100%;
  position: relative;

.grid-sizer, .grid-item
  width: 100%;
  +above($med)
    width: calc((100% - 16px) / 2);
  +above($wide)
    width: calc((100% - 32px) / 3);

.grid-item
  margin-bottom: 16px;
  // width: 100%;

.compare-table
  display: flex;
  overflow-x: scroll;
  overflow-y: auto;
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 16px;
  .empty-compare-header
    flex-shrink: 0;
    height: 100%;
    flex-basis: 196px;
    +above($small)
      flex-basis: 236px;


ul.compare-column
  list-style: none;
  width: 240px;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  li
    transition: background-color 200ms $bezier, transform 200ms $bezier;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    +above($small)
      height: 80px;
    width: 100%;
    padding: 0 16px;
    transform: scale(1);
    overflow-x: hidden;
    .content
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .text
        white-space: normal;
        // overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // text-overflow: clip;
    &.hovered
      background-color: grey3;
      transform: scale(1.05);
      color: #111;
    &:first-of-type
      background-color: brand-primary;
      color: white;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
  &.header-column
    width: 160px;
    margin-right: 40px;
    +above($small)
      margin-right: 80px;
    flex-shrink: 0;
    li
      cursor: pointer;
    li:first-of-type
      cursor: default;
      height: 48px;
      padding: 0;
    li:last-of-type
      cursor: default;
      height: 48px;
  &.default-column
    margin-top: 48px;
    margin-right: 16px;
    li:first-of-type
      font-weight: 400;

.rotate-270
  transform: rotate(270deg);

.flip-rotate-270
  transform: scaleX(-1) rotate(270deg);

.property-adder-map
  width: 100%;
  height: 250px;
  +above($small)
    height: 400px;
  // +above($large)
  //   height: 500px;

// Material-ui dialogs have a 1500 z-Index
.popover
  z-index: 1501;
  border-color: rgba(0,0,0,0.04);
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 300 !important;
  .arrow
    border-bottom-color: rgba(0,0,0,0.08) !important;


.strategy-description
  max-width: 600px;
  opacity: 0.5;
  margin: 32px 0;
  font-size: 1.25em;
  line-height: 1.5em;

.tranche-picker
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  .picker-content
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .selector
      display: flex;
      flex-direction: column;
      .tranche-count
        display: flex;
        align-items: center;
  .buttons
    display: flex;
    justify-content: center;
  // #tranche-chart
  //   width: 200px;
  //   height: 200px !important;

.uploader
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid light-grey;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 8px;
  .title
    display: flex;
    align-items: flex-end;
    h4, h5
      margin: 0;
    padding-bottom: 8px;
  .file
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid light-grey;
    .verified
      color: brand-success;
    .unverified
      color: black;
      opacity: 0.6;

.summary-component
  background-color: brand-primary;
  color: white;
  border-radius: 4px;
  padding: 16px;
  h1, h2, h3, h4, h5, h6
    color: white;
    margin: 0;
