normalize-css()

// Grid, copied from bootstrap sizes
$xsmall = 340px
$small = 480px
$med = 768px
$large = 992px
$wide = 1200px
$xwide = 1600px;

// Colors
black = #222
grey = #D8D8D8
light-grey = #EEE
purp = #524763
dark-purp = #373142
red = #E54B4B
teal = #82D8D8
dark-teal = #66A6A6
green = #CBE56C
bright-blue = #0082C8
maroon = #6A2140
light-red = #CA5765
pink = #CF256D
orange = #E8846B


//Custom Colors
textcolor = #333333;
backgroundcolor = #FCFCFC
brand-primary = #4990E2;
brand-success = #6ED2B1;
brand-warning = #F3AF50;
brand-danger = #B73E25;
brand-black = #051C2C;
brand-grey = #637E94;


z = {
  neg: -7,
  lowest: 1,
  low: 4,
  mid: 5,
  video: 6,
  header: 7,
  nav: 8,
  mini: 9,
  modal: 10,
  highest: 11
}

social = {
  twitter: #00aced,
  facebook: #3b5998,
  google: #dd4b39,
  youtube: #bb0000
}

$side-nav = 250px
$side-nav-large = 250px
$bottom-nav-height = 80px

$bezier = cubic-bezier(.02, .01, .47, 1);


.hover-rise
  text-decoration none
  list-style: none;
  cursor pointer
  -webkit-transition all 250ms cubic-bezier(.02, .01, .47, 1)
  -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  transition: all 250ms cubic-bezier(.02, .01, .47, 1)
  // Prevent weird text color changes during transitions
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:hover
    +above($med)
      box-shadow: 0px 40px 40px 15px rgba(0,0,0,0.16);
      transform: translate(0, -10px);
      transition-delay: 0s !important;

.dropzone
  border-color brand-primary
  border-style dashed
  color brand-primary
  &:hover
    border-style: solid;
  .filepicker-file-icon
    pointer-events: none;


// Loading Animation
.loading-container{
	text-align: center;
	overflow: hidden;
  height: 100%;
}


.loading-box{
	display: inline-block;
	height: 100%;
	width: 100%;
	float:left;
	position: relative;
	transition: all .2s ease;
}

/* MEDIA QUERIES */
@media (max-width: 700px){
	.loading-box{
		width: 100%;
	}

	.loading-box:nth-child(2n-1){
		background-color: inherit;
	}

	.loading-box:nth-child(4n),.box:nth-child(4n-3) {
		// background-color: rgba(0,0,0,0.05);
	}

}

@media (max-width: 420px){
	.loading-box{
		width: 100%;
	}

	.loading-box:nth-child(4n),.box:nth-child(4n-3){
		background-color: inherit;
	}

	.loading-box:nth-child(2n-1){
		// background-color:rgba(0,0,0,0.05);
	}

}



/* -------------- loader2 -------------- */

.loader2{
	position: relative;
	width: 5px;
	height: 5px;

	top: 49%;
	top: -webkit-calc(50% - 43px);
	top: calc(50% - 2.5px);
	left: 49%;
	left: -webkit-calc(50% - 43px);
	left: calc(50% - 2.5px);

	background-color: white;
	border-radius: 50px;
}

.loader2:before{
	content: "";
	position: absolute;
	top: -38px;
	border-top: 3px solid brand-primary;
	border-right: 3px solid brand-primary;
	border-radius: 0 50px 0px  0;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-transform-origin:  0% 100%;
			transform-origin:  0% 100% ;
	-webkit-animation: loader2 1.5s linear infinite;
			animation: loader2 1.5s linear infinite;
}

.loader2:after{
	content: "";
	position: absolute;
	top: 2px;
	right: 2px;
	border-bottom: 3px solid brand-primary;
	border-left: 3px solid brand-primary;
	border-radius: 0 0px 0px  50px;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-transform-origin:  100% 0%;
			transform-origin:  100% 0% ;
	-webkit-animation: loader2 1.5s linear infinite;
			animation: loader2 1.5s linear infinite;
}



@-webkit-keyframes loader2{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader2{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

.minimal-table
  width: 100%;
  height: auto;
  display: table;
  margin: 0 auto 40px auto
  max-width: 1000px;
  min-width: 600px;
  table-layout: fixed;
  transition: all 0.3s $bezier;
  tr
    transition: all 0.3s $bezier;
  th
    font-weight: 300;
    padding: 10px;
    border-bottom:  solid 1px grey;
  td
    height: 60px;
    padding: 0 10px;
    vertical-align: middle;
    // padding-top: 20px;
    font-size: 1.1em;
    +above($med)
      font-size: 1.2em;
  .r
    text-align: right;
  .l
    text-align: left;
  .c
    text-align: center;
  tr:hover
    background-color: light-grey;
  tr.choose:hover
    background-color: alpha(brand-primary, 0.5);
    cursor: pointer;
  tr.chosen
    background-color: brand-primary;
    color: white;
    h3
      color: white;


.trancheBar
  position: relative;
  height: 50px;
  width: 100%;
  background-color: backgroundcolor;
  border-radius: 5px;
  .bar
    transition: width 0.3s ease;
    height: 100%;
    background-color: lightness(brand-primary, 70%);
    border-radius: 5px;
    &.main
      background-color: lightness(brand-primary, 80%)
  .money
    position: absolute;
    top: 0;
    left: 50%;
    .center-adjust
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      left: -50%;
      height: 50px;
      white-space: nowrap;
      .text-span
        line-height: 50px;
        margin-left: 8px;
        margin-right: 8px;

// Animated checkmark SVG
$curve = cubic-bezier(0.650, 0.000, 0.450, 1.000);

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: brand-success;
  fill: none;
  animation: stroke .6s $curve forwards;
}

.checkmark {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  stroke-width: 4;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px brand-success;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px brand-success;
  }
}


// Styles of react-tooltip
.info-tooltip
  opacity: 0.85 !important;


.partner-logos
  position: relative;
  width: 50%;
  max-width: 400px;
  max-height: 200px;
  min-width: 200px;
  margin: 0 auto;
  .partner
    position: relative;
    width: 100%;
  .epotek
    position: absolute;
    width: 50%;
    max-width: 200;
    bottom: 10%;
    right: -20%;
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.97);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


.dz-image
  background: linear-gradient(to bottom, lightness(brand-primary, 80%), brand-primary) !important;


#expensesChart
  margin-bottom: 50px;
  position: relative;
  display: block;
  height: 250px;
  overflow: visible !important;
  +above($xsmall)
    height: 300px;
  +above($small)
    height: 400px;
    // z-index: -1;
  .highcharts-container
    overflow: visible !important;
    // max-width: 100%;
    .highcharts-root
      // max-width: 100%;
  .highcharts-data-labels
    display: none;
    +above($med)
      display: inline;
  .highcharts-label
    overflow: visible;
    text
      overflow: visible !important;
      +above($large)
        font-size: 12px !important;
      +above($wide)
        font-size: 14px !important;
  .highcharts-legend
    display: initial;
    +above($med)
      display: none;
  .highcharts-title
    transform: translateY(-45px);
    +above($xsmall)
      transform: translateY(-40px);
    +above($small)
      transform: translateY(-35px);


div.strategy-choices
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0;
  span.loading
    width: 100%;
  article
    transition: box-shadow 0.4s ease-in-out;
    position: relative;
    padding: 0;
    width: 250px;
    height: 390px;
    margin: 0 4px 32px 4px;
    overflow: visible;
    border-radius: 5px;
    &.chosen
      border: solid 2px brand-success;
      border-top: none;
      box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.2);
    ul
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      li:first-child
        padding: 30px 10px;
        border-bottom: 1px solid #eee;
        background-color: brand-primary
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &.title-chosen
          background-color: brand-success;
        h4
          color: white;
          margin: 0;
      li.reason
        padding: 20px;
        border-bottom: 1px solid #eee;
    div.recommended
      transition-delay: 1s;
      position: absolute;
      top: -30px;
      left: 50%;
      div
        position: relative;
        color: white;
        font-size: 0.9em;
        background-color: brand-success;
        height: 30px;
        width: 160px;
        line-height: 30px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        left: -50%;
    div.button
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      padding: 20px;
      width: 100%;
      height: 80px;


.description
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  p
    max-width: 500px;
    text-align: justify;


.dropzoneArrayItem
  width: 100%;
  +above($med)
    width: 80%;
  max-width: 600px;
  padding: 0 !important;
  display: block;
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;
  overflow: hidden !important;
  &:hover
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
    background-color: rgba(240, 240, 240, 0.2);
  .top
    height: 80px;
    width: 100%;
    display: flex;
    .left, .right
      height: 80px;
      width: 50px;
      border-right: solid 1px grey;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      +above($xsmall)
        width: 80px;
    .left
      span
        border-radius: 50%;
        border: solid 1px grey;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    .text
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-grow: 1;
      padding: 8px 16px;
      h3, h5
        margin: 0;
    .right
      border-right: none;
      border-left: solid 1px grey;
      color: #fcfcfc;
  .dropzoneDiv
    height: calc(100% - 80px);
    width: 100%;
    padding: 20px;
    >div
      height: 100%;
      div.filepicker
        height: 100%;

.strategyCashTable
  display: flex;
  justify-content: center;
  align-items: center;
  ul
    width: 100%;
    max-width: 800px;
    list-style: none;
    padding: 0;
    li
      height: 50px;
      &.total
        border-top: 1px solid #ccc;
        height: 40px;
        margin-bottom: 30px;
        margin-top: 10px;
        width: calc(100% + 30px);
        margin-left: -15px;
        h3
          padding: 0 15px;
      h3
        display: inline-flex;
        margin: 0;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        span
          margin: auto 0;
        input
          color: brand-primary !important;
        div
          width: 130px;
          +above($med)
            width: 170px;

.bert-content
  h5, p
    color: white !important;

.bert
  color: white !important;

.metrics
  display: flex;
  margin: 50px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  .metric
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: auto 0;
    border-right: 1px solid #ccc
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 180px;
    div
      h1, h4
        margin: 0;
      h1
        font-size: 3em;
        +above($med)
          font-size: 4em;
  div:last-child
    border-right: none;

.strategy-page
  a
    width: 100%;
    height: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 40px;
    overflow: hidden;
    +above($small)
      height: 120px;
    div.description
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      padding: 8px 20px;
      flex-grow: 1;
      height: 100%;
      p
        color: #444;
        margin: 0;
      h3
        margin: 0;
        width: 100%;
        padding-bottom: 8px;
        border-bottom: 1px solid #ccc
    div.arrow
      width: 50px;
      height: 100%;
      flex-grow: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ccc;
      +above($med)
        width: 120px;
        border-left: 1px solid #ccc


.admin-todo
  text-decoration: none;
  color: inherit;
  height: 100px;
  width: 100%;
  min-width: 400px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .text
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    h3
      margin: 0;
    p
      margin: 0;

ul.request-map
  list-style: none;
  width: 100%;
  li
    width: 33%;
    display: inline-block;
  ul
    width: 100%;
    list-style: none;
    display: block;
  div
    width: 100%;
    h2
      border-bottom: solid 1px #ccc;

.dashboard-item
  transition: all 0.2s ease;
  margin-bottom: 40px;
  overflow: visible !important;
  padding: 0 0 40px 0 !important;
  max-height: 4000px;
  &.inactive
    height: auto;
    .top .right button
      transform: rotate(-180deg);
  .top
    padding-left: 20px;
    height: 80px;
    border-bottom: solid 1px light-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2
      margin: 0;
    .right
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 100%;
      border-left: solid 1px light-grey;
  .active-div
    margin-top: 0px;
    .charts
      display: inline-block;
      width: 100%;
      #expensesChart
        .highcharts-data-labels
          display: none;
        .highcharts-legend
          display: initial;


.stepper
  padding: 0 8px;
  margin: 40px 20px;
  width: calc(100% - 40px);
  .vertical
    margin: auto;
    width: 100%;
    max-width: 400px;
  .horizontal
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
  .right-icon
    border: 1px solid light-grey;
    border-radius: 50%
    display: flex !important;
    justify-content: center;
    align-items: center;
    &.success
      border: 1px solid brand-success;
      color: brand-success;


.oscar
  width: 100%;
  height: unset !important;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .small-oscar
    width: calc(100% - 20px);
    +above($med)
      width: calc(100% - 40px);
    max-width: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    hr
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    h1:first-child
      margin 20px 0;
      padding: 0 !important;
    .content
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      +above($med)
        flex-direction: row;
        justify-content: space-around;
      .recap
        padding: 0 20px;
        width 100%;
        +above($med)
          width: 50%;
        max-width: 400px;
      .separator
        display: none;
        +above($med)
          display: initial;
          width: 1%
          max-width: 1px;
          background-color: #eee;
          height: 200px;
      .sliders
        width: 100%;
        padding: 0 10px;
        +above($med)
          width: 49%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .reset-button
          margin-bottom: 20px;
        .slider
          padding: 0 30px;
    .oscar-line
      position: relative;
      display: inline-block;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
      label
        font-size: 16px;
        margin: 0;
      .text-div
        overflow: visible;
        display: flex;
        .input
          font-size: 30px !important;
          line-height: 25px !important;
          height: 50px !important;
          width: 200px !important;
          +above($med)
            font-size: 40px !important;
            line-height: 36px !important;
            height: 60px !important;
            width: 230px !important;
        .reset
          margin-left: 8px;
          display: flex;
          align-self: center;
          z-index: 1;
          cursor: pointer;
          svg
            color: alpha(#222, 0.7) !important;
          &:hover
            svg
              color: alpha(#222, 0.9) !important;
          &.off
            cursor: default;
            svg
              color: alpha(#222, 0.4) !important;
      .slider > div
        margin: 0 !important;
        margin-top: 8px !important;
      .sliderDiv
        position: relative;
        margin-top: -10px;
      .sliderMaxButton
        height: 30px;
        display: inline;
        position: absolute;
        right: -10px;
        top: 0px;
        svg
          height: 30px !important;
  .chart
    z-index: 1;
    width: 100%;
    margin-bottom: 40px;
    // max-width: 100%;
    #expensesChart
      margin-bottom: 0;
  .button
    margin: 40px 0;


.validator
  min-height: 140px;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  label
    width: 100%;
    margin: 0;
    margin-top: 16px;
  h4
    margin: auto;
  .result
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    div
      h3, h4
        margin: 0;
      h3
        text-align: right;
        opacity: 0.8;
        transition: color 0.2s ease;
        font-size: 1.375em !important;
        span.sum
          margin-top: 16px;
          border-top: solid 1px grey;
        .fa
          width: 21px;
          text-align: center;
      &:hover
        transition: all 0.2s $bezier;
        transform: scale(1.03);
        &.no-scale
          transform: none;
        color: black;
        opacity: 1;
        h3, h4
          color: inherit;
          opacity: inherit;
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

.ux-text
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  justify-content: center;
  align-items: center;
  h1
    color: #aaa;
    padding: 20px;


.start2
  width: calc(100% - 40px);
  min-height: 100%;
  margin: 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  justify-content: center;
  align-items: flex-start;
  h1.fixed-size
    font-size: 1.4em !important;
    +above($small)
      font-size: 1.6em !important;
    +above($med)
      font-size: 2em !important;
  .form
    width: 100%;
    +above($med)
      padding-right: 440px;
      padding-left: 0;
    +above($large)
      padding-left: 0;
    section
      width: 100%;
      max-width: 700px;
      +above($wide)
        max-width: 800px;
      +above($xwide)
        max-width: 1000px;
      margin: 0 auto;
    &.isFinished
      padding-right: 0;
      section
        max-width: 1000px;
  .start2recap
    display: none;
    +above($med)
      display: flex;
    position: fixed;
    width: 50%;
    max-width: 400px;
    top: 86px;
    right: 20px;
    max-height: calc(100% - 106px);
    .recap-title
      color: white;
      background-color: brand-primary;
      height: 60px;
      line-height: 60px;
      text-align: center;
      margin-left: -20px;
      margin-top: -20px;
      width: 400px;
      position: fixed;
      z-index: 1;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    .validator
      position: relative;
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-top: 60px;
      max-height: calc(100% - 106px);
      div.result
        div
          flex-shrink: 0;
    .shadow-top, .shadow-bottom
      position: absolute;
      bottom: 20px;
      width: calc(100% - 40px);
      height: 100%;
      max-height: calc(100% - 100px);
      box-shadow: 0px 40px 40px -30px white inset;
      z-index: 1;
      pointer-events: none;
    .shadow-bottom
      box-shadow: 0px -40px 40px -30px white inset;
  .scroll
    .startArticle
      display: inline-block;
      align-items: center;
      width: 100%;
      transform-origin: left center;
      transition: all 0.3s ease;
      transform: scale(0.8);
      opacity: 0.8;
      .delete-button
        display: none;
        position: absolute;
        right: -24px;
        top: 50%;
        cursor: pointer;
        svg
          color: alpha(#222, 0.7) !important;
        &:hover
          svg
            color: alpha(#222, 0.9) !important;
        &.off
          cursor: default;
          svg
            color: alpha(#222, 0.4) !important;
        .absolute-wrapper
          top: 50%;
          transform: translateY(-50%);
          position: relative;
      span.active
        input
          color: inherit !important;
      .inputHider
        display: none;
      &:hover
        cursor: pointer;
        transform: scale(0.9);
        opacity: 0.9;
        &:before
          content: 'Modifier';
          position: absolute;
          left: 0;
          top: 0;
          opacity: 1;
          color: brand-primary;
        .delete-button
          display:block;
      &.no-modify:hover
        &:before
          content: '';
      h1.array-input
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        span.array-input-span
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          label
            margin: 0;
            margin-top: 16px;
            font-size: initial;
    &:last-child
      .startArticle
        cursor: default;
        transform: scale(1);
        opacity: 1;
        .inputHider
          display: inline-block;
      .last
        cursor: pointer;
        transform: scale(0.9);
        opacity: 0.9;
    &:last-child:hover:before
      .startArticle
        content: '';
        &.no-scale
          transform: scale(1) !important;
    .activeLine
      opacity: 1 !important;
      transform: scale(1) !important;
      cursor: default !important;
      &:hover:before
        content: '';
  .recap
    transition: all 0.3s ease;
    display: none;
    +above($med)
      display: flex;
    flex-direction: column;
    width: 200px;
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 0 auto;
    div
      display: flex;
      flex-direction: column;
      h5, h4
        margin 0;
      h4
        align-self: flex-end;
        margin-bottom: 8px;
  [name='final']
    width: 100%;
  .start-result
    width: 100%;
    margin-top: 40px;
    h1
      text-align: center;
      margin-bottom: 50px;
    .content
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      +above($large)
        flex-direction: row;
        justify-content: space-around;
      .chart
        h3
          margin-bottom: 30px;
        #expensesChart
          z-index: 1;
          +above($med)
            margin-bottom: 0;
      .validator
        margin-bottom: 40px;
        +above($large)
          margin-bottom: 0;
    .buttons
      display: flex;
      justify-content: center;
      margin: 40px 0;
  .email
    input
      font-size: inherit !important;
  .slider-labels
    position: absolute;
    top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  .loanWanted-slider
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
    div
      display: flex;
      flex-direction: column;
      align-items: center;
      &:first-child
        margin-right: 8px;
        padding-right: 8px;
        border-right: 1px solid light-grey;
      h1
        margin: 0;
      label
        font-size: initial;
        color: initial;
        margin: 0;

.overview-items
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .borrower-recap, .request-recap
    padding: 0;
    margin: 16px;
    flex: 0 1 200px;
    height: 200px;
    display: inline;
    flex-direction: column;
    color: initial;
    .image
      background-color: brand-primary;
      height: 120px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    .text
      padding: 5px 20px;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h3, p
        margin: 0;

.new-borrower, .new-request
  transition: all 250ms $bezier;
  background-color: brand-primary !important;
  padding: 20px;
  margin: 16px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 0;
  h1, h4
    margin: 0;
    color: white;
  &:hover
    background-color: white !important;
    h1, h4
      color: brand-primary;


.properties
  width: 100%;
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

.borrower-form
  width: 100%;
  display: flex;
  justify-content: center;
  form
    width: 100%;
    max-width: 400px;

.borrower-page
  header
    .fa
      padding: 20px;
    h1
      margin: 0;
    h3
      margin-top: 0;
  .borrower-links
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    margin: 40px auto;
    a
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      flex-basis: 120px;
      flex-grow: 1;
      color: grey;
      border-right: 1px solid light-grey;
      h4
        color: inherit;
      &:hover
        color: brand-primary;
        h4
          color: brand-primary;
      &:last-child
        border-right: none;

.borrower-finance-page
  .conditions
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;



.password-page
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img
    width: calc(100% - 40px);
    max-width: 500px;
    margin: 40px 20px 10px 20px;
  h3
    margin-bottom: 40px;
  .subscribe
    margin: 40px 0;


@keyframes fadeInUpCustom
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }

.fadeInUpCustom
  animation: fadeInUpCustom 600ms $bezier;
