.image-carousel {
  // display: flex;

  .content {
    margin-bottom: 24px;

    h1,
    h2 {
      margin-bottom: 23px;
      // Mobile/Title/H4
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: $title-text;
    }
  }

  .captions {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    counter-reset: curr-index;

    li {
      counter-increment: curr-index;
      // Mobile/Plain/L/Light
      opacity: 0.3;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.44;
      letter-spacing: normal;
      color: $body-text;
      cursor: pointer;

      &::before {
        content: counter(curr-index);
        margin-right: 8px;
        // Desktop/Plain/S
        font-size: 12px;
      }

      &:hover {
        opacity: 0.5 !important;
      }

      &.active {
        opacity: 1;
        color: $primary;
      }
    }
  }

  hr {
    margin: 24px 0;
  }

  p {
    // Desktop/Plain/S
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .current-image {
    min-height: 500px;
    img {
      max-width: 100%;
    }
  }

  @media screen and (max-width: $med) {
    .content {
      margin-bottom: 0;

      h1 {
        margin-bottom: 0;
      }
    }

    hr {
      margin: 0;
    }
  }

  @media screen and (min-width: $med) {
    display: flex;
    flex-direction: row-reverse;

    .content {
      flex-basis: 50%;
      margin-bottom: 0;

      h1,
      h2 {
        margin-bottom: 48px;
        // Desktop/Title/H1
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $title-text;
      }

      .captions {
        li {
          // Manrope-Regular
          font-size: 28px;
          font-weight: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: normal;

          &::before {
            margin-right: 15px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            vertical-align: top;
          }
        }
      }

      hr {
        margin: 32px 0;
      }

      p {
        // Desktop/Plain/L/Light
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: $body-text;
      }
    }

    .current-image {
      flex-basis: 50%;
      margin-right: 42px;
    }
  }
}
