{
  "presets": [
    "meteor",
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties"
    ],
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "core": "./imports/core"
        }
      }
    ],
    [
      "transform-imports",
      {
        "uniforms": {
          "transform": "uniforms/src/${member}",
          "preventFullImport": true
        },
        "uniforms-material": {
          "transform": "uniforms-material/src/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}