.loan-interest-rates-card {
  max-width: 600px;
  margin: 40px 0;

  .card-header span {
    font-weight: 400;
  }

  h4 {
    margin-top: 0;
  }
}

.dashboard-info-interests-offers {
  display: flex;
  align-items: center;

  > * {
    margin-right: 8px;
  }
}
