.linkify-link {
  display: block;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline !important;
  font-family: Eina04-Regular, Helvetica;
  color: blue !important;
}
