.linkify-link {
  display: block;
  overflow: hidden;

  max-width: 250px;

  white-space: nowrap;
  text-decoration: underline !important;
  text-overflow: ellipsis;

  color: blue !important;

  font-family: Eina04-Regular, Helvetica;
}
