.borrower-page {
  .core-tabs-top {
    display: flex;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .tab-content {
    padding-top: 32px;
  }

  .borrower-tab-labels {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    white-space: nowrap;
  }
}

.borrower-finance-page {
  .conditions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    max-width: 500px;
    margin: 40px auto 0 auto;
    padding: 40px;
  }

  .recap {
    max-width: 400px;
  }
}

.borrower-page-files,
.borrower-finance-page {
  display: flex;
  flex-direction: column;

  .description {
    align-self: center;
  }

  hr {
    width: 100%;
  }
}

.progress {
  &-block {
    margin-bottom: 8px;

    text-align: right;

     > span {
      display: inline-block;

      margin-bottom: 15px;

      color: $primary;

      font-size: 14px;
      font-weight: 400;
    }

    &.success {
       > span {
        color: $success;
      }

      .progress-bar__wrapper {
        background: $success;
      }
    }
  }

  &-bar {
    position: relative;

    display: block;
    display: block;

    height: 2px;
    height: 2px;

    background: #e7ebef;
    background: #e7ebef;

    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;

      height: 2px;

      transition: width 300ms ease;

      background: $primary;
    }
  }
}

.text--center {
  text-align: center;
}

.flex {
  &-justify--center {
    justify-content: center;
  }

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }

  &--helper {
    display: flex;
  }

  &--center {
    align-items: center;
  }
}

.m--20 {
  margin: 0 20px;
}

.p-d--16 {
  padding: 0 16px;
}

.p-t--109 {
  padding-top: 109px;
}

.p-t--159 {
  padding-top: 159px;
}

.col--50 {
  width: 50%;
}

.truncate {
  display: block;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.borrower-header {
  &__row {
    align-items: flex-start;

    box-sizing: border-box;
    width: 100%;

    background: #fff;
  }

  &__info {
    box-sizing: border-box;
    padding-bottom: 40px;

    border-left: 1px $border-grey solid;

    &:first-of-type {
      padding-right: 30px;

      border-left: 0;
    }

    &:nth-of-type(2) {
      padding-left: 30px;
    }

    h1 {
      margin: 0;

      color: #212529;

      font-size: 18px;
      font-weight: bold;

       > span {
        display: inline-block;

        &:nth-of-type(2) {
          margin-left: 10px;
        }
      }
    }

    .borrower-num {
      font-weight: 400;
    }

    .icon {
      width: 50px;
      height: 50px;
    }
  }

  .btn-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__user {
    width: calc(100% - 60px);
    padding-left: 15px;
  }

  .borrower-adder {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
  }
}

.user-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  &.card1 {
    box-sizing: border-box;
  }

  .form-select__row {
    position: relative;

    width: 100%;

    .mui-select {
      position: relative;

      margin-bottom: 16px;
      padding-right: 50px;
      box-sizing: border-box;
    }
  }

  .form-input__row {
    .todo-circle {
      top: 0;
      right: -12px;
    }

    .saving-icon {
      top: 0;
      right: -12px;
    }
  }

  .form-radio__row {
    box-sizing: border-box;
    padding-right: 50px;

    .todo-circle {
      top: -10px;
      right: -12px;
    }

    .saving-icon {
      top: 16px;
      right: -12px;
    }
  }

  &__finance {
    max-width: 400px;
  }
}

.borrower-page__wrapper {
  box-sizing: border-box;
  padding: 32px 16px 0;

  border-left: 1px $border-grey solid;

  &:first-of-type {
    padding-right: 32px;

    border-left: 0;
  }

  &:nth-of-type(2) {
    padding-left: 32px;
  }
}

.borrower-finance {
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
    padding: 0 8px;

    border-left: 1px $border-grey solid;

    &:first-of-type {
      border-left: 0;
    }
  }
}

.borrower-files {
  &__item {
    box-sizing: border-box;

    border-left: 1px $border-grey solid;

    &:first-of-type {
      border-left: 0;
    }

    .uploader {
      width: 80%;
      max-width: 100%;
    }
  }
}

.user-form__info h3,
h2 {
  margin-bottom: 25px;
  // font-size: 17px;

  font-weight: bold;
}

.user-form__info {
  h3 {
    margin-top: 40px;
  }

  .form-group {
     > div {
      max-width: 100% !important;
    }
  }

   > div {
    max-width: 100% !important;
  }

  .mui-text-input {
    box-sizing: border-box;
    max-width: 100% !important;
    padding-right: 50px;
  }
}

.description {
  align-self: initial;

   > p {
    justify-content: flex-start;

    max-width: 100%;
    margin-top: 0;

    font-size: 17px;
    font-style: italic;
  }
}

.borrowers-page-title,
.borrowers-page-title small {
  display: flex;
  align-items: center;
}

.borrowers-page-buttons {
  display: flex;
  justify-content: flex-start;

  margin: 32px;
  margin-bottom: 16px;

  .return-to-dashboard {
    margin: 0;
    margin-right: 16px;
  }
}
