.dashboard-recap-property {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  flex-grow: 1;

  min-width: 300px;
  padding: 16px;

  &-modifier {
    padding: 32px;
  }

  .recap.large {
    font-size: 1.3em;

    .recap-item {
      margin-bottom: 16px;
    }
  }
}

.dashboard-recap-property .map {
  overflow: hidden;

  width: calc(100% + 32px);
  height: 40%;
  min-height: 200px;
  margin: -16px -16px 16px -16px;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.dashboard-recap-property-empty.dashboard-recap-property-empty {
  // align-self: center;	
  max-width: 332px;
  padding: 16px;

  white-space: normal;
}

.dashboard-recap-property-title {
  white-space: normal;
}

.dashboard-recap-property-empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  min-height: 400px;
  padding: 32px;

  .icon {
    width: 120px;
    height: 120px;
    margin-bottom: 32px;

    color: $primary;
  }

  h3 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }
}
