// Default
@import '../imports/core/assets/css/core-styles.scss';
@import '../imports/core/assets/css/external-styles/animate.scss';
@import '../imports/core/assets/css/external-styles/bootstrap-popover.scss';
@import '../imports/core/assets/css/external-styles/rc-slider.scss';

// Layout
@import '{}/imports/ui/WwwLayout/WwwLayout.scss';

// Pages
@import '{}/imports/ui/pages/HomePage/HomePage.scss';
@import '{}/imports/ui/pages/Widget1Page/Widget1Page.scss';
@import '{}/imports/ui/pages/CheckMailboxPage/CheckMailboxPage.scss';
@import '{}/imports/ui/pages/ContactPage/ContactPage.scss';
@import '{}/imports/ui/pages/ConditionsPage/ConditionsPage.scss';
@import '{}/imports/ui/pages/AboutPage/AboutPage.scss';
@import '{}/imports/ui/pages/InterestsPage/InterestsPage.scss';
@import '{}/imports/ui/pages/CareersPage/CareersPage.scss';
@import '{}/imports/ui/pages/FaqPage/FaqPage.scss';

// Components
@import '{}/imports/ui/components/Waves/Waves.scss';
@import '{}/imports/ui/components/Widget1/Widget1.scss';
@import '{}/imports/ui/components/ContactUsForm/ContactUsForm.scss';

body {
  @include screen(med, min) {
    @include font-size($font-size-m);
  }
  @include screen(xwide, min) {
    @include font-size($font-size-l);
  }
}

.no-responsive-typo-s {
  font-size: $font-size-s !important;
}

.no-responsive-typo-m {
  font-size: $font-size-m !important;
}
