.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  // To hide the waves that overflow
  overflow-x: hidden;
}

.home-page .home-page-nav {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

@media (min-width: 800px) {
  .home-page .home-page-nav {
    padding: 0 80px;
  }
}

.home-page .home-page-nav img {
  width: 200px;
}

@media (max-width: 800px) {
  .home-page .home-page-nav img {
    width: 140px;
  }
}

.home-page .partners {
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.home-page .partners img {
  padding: 16px;
}
