// Default
@import '../imports/core/assets/css/core-styles.scss';
@import '../imports/core/assets/css/external-styles/animate.scss';
@import '../imports/core/assets/css/external-styles/bootstrap-popover.scss';
@import '../imports/core/assets/css/external-styles/bootstrap-tabs.scss';
@import '../imports/core/assets/css/external-styles/rc-slider.scss';

// Layout
@import '../imports/client/layouts/AdminLayout/AdminLayout.scss';

// Pages
@import '../imports/client/pages/SingleLoanPage/SingleLoanPage.scss';
@import '../imports/client/pages/SingleUserPage/SingleUserPage.scss';
@import '../imports/client/pages/SearchPage/SearchPage.scss';
@import '../imports/client/pages/SingleBorrowerPage/SingleBorrowerPage.scss';
@import '../imports/client/pages/SinglePropertyPage/SinglePropertyPage.scss';

// Components
@import '../imports/client/components/AdminNote/AdminNote.scss';
@import '../imports/client/components/MixpanelAnalytics/MixpanelAnalytics.scss';

// Make sure everything expands properly to take the full size of the browser
body,
html,
#react-root {
  display: flex;
  overflow: hidden; // Prevent double-scrollbars due to admin-layout
  flex: 1;
  flex-direction: column;
}
