{
  "presets": ["meteor", "@babel/preset-flow"],
  "plugins": [
    ["remove-test-ids", { "attributes": ["data-test", "data-test-id"] }],
    ["@babel/plugin-proposal-class-properties"],
    [
      "module-resolver",
      { "root": ["."], "alias": { "core": "./imports/core" } }
    ]
  ]
}
