.contact-button {
  position: fixed;
  z-index: 20;
  right: 24px;
  bottom: 24px;

  @include screen(med) {
    right: 16px;
    bottom: 16px;
  }
  @include screen(small) {
    right: 8px;
    bottom: 8px;
  }
}

.contact-button-overlay {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 72px;

  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;

  width: 240px;
  height: 270px;
  padding: 24px;

  transition: width 200ms $bezier, height 200ms $bezier, opacity 100ms $bezier;

  opacity: 1;
  box-shadow: 0 0 16px 0 rgba(33, 37, 41, 0.16);

  &.closed {
    width: 0;
    height: 0;

    opacity: 0;
  }

  img {
    width: 64px;
    height: 64px;
    margin-right: 16px;

    border-radius: 50%;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      flex-grow: 1;

      .staff-name {
        margin-bottom: 8px;
      }

      .secondary {
        margin: 0;
      }
    }
  }

  hr {
    margin: 16px -16px;
  }
}

.contact-button-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 16px;
  padding: 4px;

  border-radius: 4px;

  &:hover {
    background-color: $light-grey;
  }

  .text {
    flex-grow: 1;
  }

  .bold {
    margin: 0;
  }

  .iconDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
    margin-right: 16px;

    color: #495057;
    border-radius: 4px;
    background-color: #dee2e6;
  }
}

.impersonate-notification {
  position: fixed;
  right: 24px;
  bottom: 24px;

  display: flex;
  align-items: center;
  flex-direction: row;

  height: 50px;

  border-radius: 50px;
  background-color: white;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.1);

  img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-left: 4px;

    border-radius: 50%;
  }

  h4 {
    margin-right: 16px;
    margin-left: 8px;
  }

  .impersonate-icon {
    width: 32px;
    height: 32px;
    margin-left: 6px;
  }

  &-dialog {
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      border-radius: 50%;
    }

    p {
      margin-bottom: 40px;
    }

    .actions {
      display: flex;
      align-items: center;
      flex-direction: column;

       > *:first-child {
        margin-bottom: 8px;
      }
    }
  }
}
