.user-reservation {
  &-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &-deadline {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

    text-align: center;
  }

  .promotion-reservation-progress {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    > * {
      flex-grow: 1;
    }
  }
}
