.user-reservation {
  &-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &-deadline {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

    text-align: center;
  }

  .promotion-reservation-progress {
    align-items: flex-start !important;
    flex-grow: 1;
    justify-content: space-between;
  }
}
