.super-dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: -16px;

  &-title {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-direction: column;

    margin-bottom: 32px;
    padding: 32px;

    background-color: $primary;

    h1,
    p {
      margin: 0;
      margin-bottom: 16px;

      text-align: center;

      color: white;
    }
    p {
      font-size: 1.3rem;
    }

    h1 {
      max-width: 50%;
    }
  }
}

.loan-cards {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 80%;

  @include screen(large) {
    flex-direction: column;
    flex-wrap: unset;

    width: 100%;
  }

  .loan-card {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: calc(50% - 2 * 16px);
    height: 450px;
    margin: 16px;
    padding: 32px;

    background-color: #f9fbfc;

    @include screen(large) {
      width: 100%;
      margin: 0;
      margin-bottom: 40px;

      border-radius: 0;
    }
    @include screen(small) {
      padding: 16px;
    }

    &-header {
      position: relative;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;
      height: 50%;
      margin: -32px;
      margin-bottom: 32px;
      padding: 32px;
      padding-bottom: 0;

      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      background-color: $primary;

      @include screen(small) {
        margin: -16px;
        margin-bottom: 16px;
        padding: 16px;
      }
      @include screen(large) {
        border-radius: 0;

        &-cover,
        img,
        .gradient {
          border-radius: 0 !important;
        }
      }

      &-cover,
      img,
      .gradient {
        width: 100%;
        height: 100%;

        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      &-cover {
        position: absolute;
        top: 0;
        left: 0;

        img {
          overflow: hidden;

          object-fit: cover;
        }

        .gradient {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;

          background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65) 0%,
          rgba(0, 0, 0, 0) 100%
          );
        }
      }

      &-title {
        z-index: 3;

        display: flex;
        flex-direction: column;

        h2 {
          text-align: left;
        }
      }

      h2,
      h4,
      p {
        margin: 0;
        margin-bottom: 8px;

        color: white;
      }

      h4 {
        text-transform: uppercase;
      }

      .icon-button {
        z-index: 3;

        height: 50px;

        background-color: white;
      }

      .icon-button:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    &-body {
      position: relative;

      display: flex;
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;

      height: 50%;

      .borrowers {
        display: flex;
        flex-direction: column;

        h4 {
          margin-bottom: 24px;
        }

        .borrowers-list {
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          @include screen(custom, max, 1440) {
            span {
              display: block;
              overflow: hidden;

              max-width: 200px;

              text-overflow: ellipsis;
            }
          }
          @include screen(custom, max, 1280) {
            span {
              max-width: 100px;
            }
          }
          @include screen(large) {
            span {
              max-width: unset;
            }
          }
          @include screen(custom, max, 500) {
            span {
              max-width: 100px;
            }
          }

           > * {
            margin: 0 !important;
            margin-bottom: 16px !important;
          }
        }
      }

      .loan-progress {
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        h4 {
          text-align: right;
        }
        .step {
          position: relative;
          z-index: 5;

          width: 12px;
          height: 12px;
          margin-right: 16px;

          border-radius: 50%;
          background-color: #c4c4c4;
        }
        .step:last-of-type {
          margin: 0;
        }
        .step:not(:last-of-type):after {
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;

          width: 32px;
          height: 1px;

          content: '';

          background-color: #c4c4c4;
        }
        .step.done,
        .step.done:after {
          background-color: $success;
        }
      }

      .button-link {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  .loan-card:hover {
    cursor: pointer;
  }
}
