.page-title {
  margin: -16px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-title .top-bar,
.page-title .bottom-bar {
  z-index: 15;
  width: 100%;
  position: relative;
  height: 64px;
  background-color: #f1f3f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  right: 0;
}

@media (min-width: $med) {
  .page-title .top-bar,
  .page-title .bottom-bar {
    position: fixed;
    width: calc(
      100% - 300px - 32px
    ); // Side-nav width, careful, not updated with variable
  }
}

.page-title .top-bar .title,
.page-title .bottom-bar .title {
  margin: 0;
  color: #495057;
}

.page-title .top-bar .buttons,
.page-title .bottom-bar .buttons {
  display: flex;
  flex-wrap: nowrap;
}

.page-title .bottom-bar {
  bottom: 0;
}

.page-title .children {
  padding: 16px;
  position: relative;
}

@media (min-width: $med) {
  .page-title .children {
    padding-top: 80px;
  }
}
