.property-page {
  position: relative;

  display: flex;
  flex-direction: column;

  .description {
    align-self: center;
  }

  .map-container {
    height: 400px;
  }

  .property-deleter {
    position: absolute;
    top: 16px;
    right: 16px;

    @include screen(med) {
      position: initial;

      align-self: flex-start;
    }
  }

  .user-form {
    max-width: 400px;
  }
}

.single-property-page-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin: 32px;
  margin-bottom: 16px;

  .return-to-dashboard {
    margin: 0;
    margin-right: 16px;
  }
}
