.image-collage {
  // TODO: remove container from page level and apply to content
  overflow-x: hidden;

  .content {
    margin-bottom: 24px;

    h1,
    h2 {
      margin-bottom: 24px;
      // Mobile/Title/H4
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: #2c2c2c;
    }

    p {
      // Mobile/Plain/M/Light
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #000000;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }

  .collage {
    // TODO: add parallax ? - https://tympanus.net/codrops/2020/02/05/crafting-a-cutout-collage-layout-with-css-grid-and-clip-path/
    // flex-basis: 50%;
    min-width: 500px;
    height: 300px;
    // TODO: add fallback layout (single image ?)

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(8, 1fr);
      position: relative;
      // margin-right: 100px;

      img {
        object-fit: cover;
        height: 100%;
      }

      img:nth-of-type(1) {
        grid-column: 1 / span 3;
        z-index: 0;
        grid-row: 1 / span 2;
      }

      img:nth-of-type(2) {
        grid-column: 3 / span 4;
        z-index: 1;
        grid-row: 2 / span 6;
      }

      img:nth-of-type(3) {
        grid-column: 6 / span 3;
        z-index: 0;
        grid-row: 6 / span 3;
      }

      img:nth-of-type(4) {
        grid-column: 8 / span 3;
        z-index: 0;
        grid-row: 2 / span 3;
      }
    }
  }

  @media screen and (min-width: $med) {
    display: flex;
    flex-direction: row-reverse;

    .content {
      flex-basis: 50%;
      margin-top: 178px;
      margin-bottom: 0;

      h1,
      h2 {
        margin-bottom: 24px;
        // Desktop/Title/H2
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #2c2c2c;
      }

      p {
        // Desktop/Plain/M/Light
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        color: #000000;
      }
    }

    .collage {
      flex-basis: 50%;
      height: 755px;
      // TODO: add fallback layout (single image ?)

      @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(12, 1fr);
        position: relative;
        // margin-right: 100px;

        img {
          object-fit: cover;
          height: 100%;
        }

        img:nth-of-type(1) {
          grid-column: 1 / span 3;
          z-index: 0;
          grid-row: 1 / span 5;
        }

        img:nth-of-type(2) {
          grid-column: 3 / span 4;
          z-index: 1;
          grid-row: 3 / span 6;
        }

        img:nth-of-type(3) {
          grid-column: 6 / span 3;
          z-index: 0;
          grid-row: 8 / span 3;
        }

        img:nth-of-type(4) {
          grid-column: 2 / span 3;
          z-index: 0;
          grid-row: 10 / span 3;
        }
      }
    }
  }
}
