.icon-link {
  display: inline-flex;
  align-items: center;

  padding: 4px;

  border-radius: 4px;

  white-space: nowrap;

  &:hover {
    color: white !important;
    background-color: $primary;
  }

  .collection-icon {
    margin-right: 8px;
  }
}
