.status-label {
  display: inline;
  flex-grow: 0;

  padding: 4px 4px;

  white-space: nowrap;

  color: white;
  border-radius: 4px;

  font-size: 12px;
  line-height: initial;
}

.status-label-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.status-label,
.status-label-dot {
  &.allowModify {
    cursor: pointer;
  }
}
