$footer-height: 64px;

.simple-borrowers-page {
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  @include screen(large, min) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .card1 {
      padding: 32px;
      box-sizing: border-box;
    }
  }

  @include screen(large) {
    padding-bottom: calc(#{$footer-height});
  }

  &-header {
    display: flex;
    justify-content: space-between;

    h2 {
      margin: 0;
      margin-bottom: 8px;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    &.grow {
      flex-grow: 1;
    }

    .max-property-value-cta {
      margin-top: 16px;
    }
  }

  &-forms {
    width: 100%;
    max-width: 600px;
    align-self: center;

    .borrower-forms-tabs {
      width: 100%;
    }

    .forms {
      &.two-borrowers {
        max-width: unset;
      }
    }

    .borrower-form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      max-width: 400px;
      width: 100%;
      margin: auto;
    }

    .borrower-remover {
      align-self: flex-end;
      margin-bottom: 16px;
    }

    .borrower-tab-labels {
      display: flex;
      align-items: center;
    }
  }

  &-max-property-value-placeholder {
    @include screen(large, min) {
      min-width: 400px;
      min-height: 200px;
    }
  }

  &-max-property-value {
    background-color: $primary;
    color: white;

    &.fixed {
      position: fixed;
      top: 132px;
      left: calc(50% + 100px);
    }

    h2,
    h3,
    h4 {
      color: white;
    }

    @include screen(large, min) {
      min-width: 400px;
      min-height: 200px;
    }

    &-sticky {
      background-color: $primary;
      color: white;
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      height: $footer-height;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2,
      h3,
      h4 {
        color: white;

        @include screen(small) {
          font-size: 1.3rem;
        }
      }

      h2,
      h3 {
        margin: 0;
      }
    }
  }
}
