.premium-badge {
  display: inline-block;

  padding: 4px;

  color: white;
  border-radius: 4px;
  background-color: #c3a343;

  font-size: 0.8rem;
  line-height: initial;

  &.small {
    padding: 1px 4px;
    font-size: 0.7rem;
  }
}
