.admin-timeline {
  margin-top: 40px;

  .timeline {
    overflow-x: scroll;
  }

  h2 {
    margin: 0;
  }


  &-description {
    a {
      text-decoration: underline;

      &:hover {
        cursor: pointer;

        color: $primary;

        > * {
          color: $primary;
        }
      }
    }
  }

  .timeline-title {
    .activity-modifier {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;

      display: none;
    }
  }

  li {
    position: relative;

    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;

    padding-bottom: 16px; // To avoid the scroll-bar from overlapping with text	

    &:hover {
      .activity-modifier {
        display: block;
      }
    }

    .today {
      position: absolute;
      top: 0;
      left: -8px;

      width: 2px;
      height: 100%;

      background-color: red;

      .today-dot {
        position: absolute;
        top: 0;
        left: -3px;

        width: 8px;
        height: 8px;

        border-radius: 50%;
        background-color: red;
      }
    }
  }
}
