.mortgage-notes-picker-summary {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 8px !important;

  h5 {
    margin: 0;
  }

  .calculated-value {
    margin: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.mortgage-note-list-item {
  position: relative;

  width: 500px;
  height: 64px;
  padding: 12px;

  .mortgage-note-list-item-description {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    &-canton {
      position: absolute;
      top: calc((64px - 12px - 8px) / 2);
      right: 50px;

      margin: 0;
      padding-right: 8px;
    }
  }

  .icon {
    margin-right: 12px !important;
  }
}
