.mortgage-notes-picker-summary {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  h4 {
    margin: 0;
  }

  .calculated-value {
    margin: 8px 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.mortgage-notes-picker-dialog {
  a {
    display: block;

    max-width: 400px;
  }
}
