.dashboard-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .cards > * {
    flex-grow: 1;
    flex-basis: 0;
    margin: 8px;
    max-width: 33%;
  }
}

.dashboard-info-team {
  .card-bottom {
    display: flex;
    justify-content: center;
  }
}

.dashboard-info-team-company-member {
  display: flex;
  align-items: center;
  margin: 16px 0;

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
  }

  .person {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    & > * {
      margin: 0px;
    }
  }

  .contact {
    display: flex;
    flex-wrap: nowrap;
  }
}

.dashboard-info-team-external {
  h3 {
  }

  hr {
    border: none;
    height: 1px;
    background-color: $border-grey;
    margin: 40px -16px;
  }
}
