version: 2
jobs:
  deploy:
    machine:
      enabled: true
    steps:
      - run:
          command: .deployment/deploy-staging.sh all
  build:
    working_directory: ~/app
    docker:
      - image: circleci/openjdk:8-jdk-browsers
        environment:
          # lang settings required for Meteor's Mongo
          LANG: C.UTF-8
          LANGUAGE: C.UTF-8
          LC_ALL: C.UTF-8
          LC_NUMERIC: en_US.UTF-8
          METEOR_BIN_TMP_DIR: /home/circleci/build-temp/
          METEOR_BIN_TMP_FILE: meteor-bin-temp
          # TZ: "/usr/share/zoneinfo/Europe/Zurich"
          NODE_ENV: development
          TOOL_NODE_FLAGS: "--max_old_space_size=4096 --optimize_for_size --gc-interval=100" # if builds run out of memory
          # METEOR_PROFILE: 1 # If you need to debug meteor, turn this on
    steps:
      - add_ssh_keys
      - checkout
      - restore_cache:
          name: restore cached build
          key: build-temp-{{ checksum ".meteor/release" }}-{{ checksum ".circleci/config.yml" }}
      - restore_cache:
          name: restore cached meteor
          key: meteor-release-{{ checksum ".meteor/release" }}-{{ checksum ".circleci/config.yml" }}
      - restore_cache:
          name: restore cached meteor packages
          key: meteor-packages-{{ checksum ".meteor/versions" }}-{{ checksum ".circleci/config.yml" }}
      - restore_cache:
          name: restore cached npm packages
          key: npm-packages-{{ checksum "package.json" }}-{{ checksum ".circleci/config.yml" }}
      - run:
          name: restore cached meteor bin
          command: |
            if [ -e ~/build-temp/meteor-bin ]
            then
                echo "Cached Meteor bin found, restoring it."
                sudo cp ~/build-temp/meteor-bin /usr/local/bin/meteor
            else
                echo "No cached Meteor bin found."
            fi
      - run:
          name: install Meteor
          command: |
            # only install meteor if bin isn't found
            command -v meteor >/dev/null 2>&1 || curl https://install.meteor.com | /bin/sh
      - run:
          name: check versions
          command: |
            echo "Meteor version:"
            # this forces Meteor to download whatever release your project is using
            meteor --version
            which meteor
            echo "Meteor node version:"
            meteor node -v
            echo "Meteor npm version:"
            meteor npm -v
            echo "Java version:"
            java -version
      - run:
          name: Setup microservices
          command: |
            cd scripts
            ./setup.sh
      - run:
          name: create results directory
          command: mkdir ./results
      - run:
          name: run tests for App
          command: |
            cd microservices/app
            meteor npm i selenium-webdriver@3.0.0-beta-2 chromedriver
            meteor npm run test-CI
      - run:
          name: run tests for admin
          command: |
            cd microservices/admin
            meteor npm i selenium-webdriver@3.0.0-beta-2 chromedriver
            meteor npm run test-CI
      - run:
          name: copy meteor bin to build cache
          command: |
            mkdir -p ~/build-temp
            cp /usr/local/bin/meteor ~/build-temp/meteor-bin
      # - save_cache:
      #     name: save build
      #     key: build-temp-{{ checksum ".meteor/release" }}-{{ checksum ".circleci/config.yml" }}
      #     paths:
      #       - ~/build-temp
      # - save_cache:
      #     name: save meteor
      #     key: meteor-release-{{ checksum ".meteor/release" }}-{{ checksum ".circleci/config.yml" }}
      #     paths:
      #       - ~/.meteor
      # - save_cache:
      #     name: save meteor packages
      #     key: meteor-packages-{{ checksum ".meteor/versions" }}-{{ checksum ".circleci/config.yml" }}
      #     paths:
      #       - .meteor/
      # - save_cache:
      #     name: save npm packages
      #     key: npm-packages-{{ checksum "package.json" }}-{{ checksum ".circleci/config.yml" }}
      #     paths:
      #       - ./node_modules/
      #       - ~/.npm/
      - store_test_results:
          path: ./results
      - store_artifacts:
          path: ./results
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - staging
