.side-nav-user {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 300px;
  min-height: calc(100% - 64px);

  transition: all 300ms $bezier;

  background-color: #fff;

  .mui-select div[role='button'][aria-haspopup='true'] {
    display: block;

    padding-top: 0;
    padding-right: 30px;

    > svg {
      vertical-align: text-top;
    }
  }
}

.side-nav-user .scrollable {
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;

  width: 100%;
  height: calc(100vh - 64px);
}

.side-nav-user .link {
  display: flex;
  align-items: center;
  // flex-shrink: 0;
  justify-content: flex-start;

  width: 100%;
  height: 64px;

  transition: all 300ms $bezier;
  text-decoration: none;

  color: #343a40 !important;
}

.side-nav-user .link .title {
  font-weight: 400 !important;
}

.side-nav-user .link .icon {
  display: flex;
  align-items: center;

  padding: 0 16px;
}

.side-nav-user .link:hover {
  background-color: #f4f6f8;
}

.side-nav-user .link.active-link {
  border-left: 2px solid $primary;
  background-color: #f1f3f5;
}

.side-nav-user .link.active-link h4 {
  color: $primary;
}

.side-nav-user .link.active-link svg {
  fill: $primary !important;
}

.side-nav-user .side-stepper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-shrink: 0;

  width: 100%;
  margin-top: 16px;

  transition: all 300ms $bezier;

  @include screen(med) {
    margin-bottom: 44px; // extra padding for iOS bottom bar
  }
}

.side-nav-user .side-stepper .available-icon {
  width: 4px;
  height: 4px;

  border-radius: 100%;
  background-color: #fff;
}

.side-nav-user .side-stepper .top-title {
  margin: 8px 0;
  padding-left: 16px;

  font-weight: 400 !important;
}

.side-nav-user .side-stepper .list {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 0;

  list-style: none;
}

.side-nav-user .side-stepper .list .step {
  position: relative;

  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;

  padding-left: 16px;

  transition: all 300ms $bezier;
}

.side-nav-user .side-stepper .list .step.isActive {
  background-color: #f8f9fa;
}

.side-nav-user .side-stepper .list .step.isActive .title {
  color: #212529;
}

.side-nav-user .side-stepper .list .step:hover {
  background-color: #f9fafb;
}

.side-nav-user .side-stepper .list .step:first-child {
  cursor: default;
}

.side-nav-user .side-stepper .list .step.off {
  cursor: not-allowed;
}

.side-nav-user .side-stepper .list .step.off .top {
  cursor: not-allowed;
}

.side-nav-user .side-stepper .list .step .top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // width: 100%;

  height: 64px;

  cursor: pointer;
  transition: all 300ms $bezier;
}

.side-nav-user .side-stepper .list .step .top.inactive {
  cursor: default;
}

.side-nav-user .side-stepper .list .step .top .icon {
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  margin-right: 8px;

  color: #fff;
  border-radius: 100%;
  background-color: #ced4da;
}

.side-nav-user .side-stepper .list .step .top .icon.done {
  background-color: $success;
}

.side-nav-user .side-stepper .list .step .top .icon svg {
  width: 18px !important;
  height: 18px !important;

  color: #fff !important;
}

.side-nav-user .side-stepper .list .step .top .text {
  display: flex;
  flex-direction: column;

  line-height: 1.2em;
}

.side-nav-user .side-stepper .list .step .top .text .title {
  color: #343a40;

  font-weight: 400;
}

.side-nav-user .side-stepper .list .step .top .text .subtitle {
  color: #868e96;

  font-weight: 400;
}

.side-nav-user .side-stepper .list .step .absolute-line {
  position: absolute;
  left: 32px;

  height: 100%;

  opacity: 0.5;
  border-right: 1px solid #dee2e6;
}

.side-nav-user .side-stepper .list .step:first-child .absolute-line {
  bottom: 0;

  height: calc(100% - 32px);
}

.side-nav-user .side-stepper .list .step:last-child .absolute-line {
  top: 0;

  height: calc(100% - 32px);
}

.side-nav-user .side-stepper .list .step .step-list {
  // width: 100%;
  padding: 0;
  padding-left: 16px;

  list-style: none;
}

.side-nav-user .side-stepper .list .step .step-list .item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  // width: 100%;

  height: 64px;
  padding-right: 16px;

  transition: all 300ms $bezier;
  text-decoration: none !important;

  border-left: 1px solid rgba(0, 0, 0, 0);
}

.side-nav-user .side-stepper .list .step .step-list .item:hover {
  cursor: pointer;

  background-color: #f4f6f8;
}

.side-nav-user .side-stepper .list .step .step-list .item.disable {
  cursor: default;
}

.side-nav-user .side-stepper .list .step .step-list .item.off {
  cursor: not-allowed;
}

.side-nav-user .side-stepper .list .step .step-list .item .icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;

  color: #dee2e6;
}

.side-nav-user
  .side-stepper
  .list
  .step
  .step-list
  .item
  .icon
  .circular-progress {
  position: absolute !important;
  top: 22px;
  left: 14px;

  width: 20px !important;
  height: 20px !important;
}

.side-nav-user
  .side-stepper
  .list
  .step
  .step-list
  .item
  .icon
  .available-icon {
  background-color: #dee2e6;
}

.side-nav-user .side-stepper .list .step .step-list .item .icon.warning {
  color: $warning;
}

.side-nav-user .side-stepper .list .step .step-list .item .icon.success {
  color: $success;
}

.side-nav-user .side-stepper .list .step .step-list .item .icon svg {
  width: 20px !important;
  height: 20px !important;

  color: inherit;
}

.side-nav-user .side-stepper .list .step .step-list .item .text {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;

  line-height: 1.4em;
}

.side-nav-user .side-stepper .list .step .step-list .item .text .title {
  overflow: hidden;

  color: #343a40;

  font-weight: 400;
}

.side-nav-user .side-stepper .list .step .step-list .item .text .subtitle {
  color: #adb5bd;

  font-weight: 400;
}

.side-nav-user
  .side-stepper
  .list
  .step
  .step-list
  .item
  .text
  .subtitle.warning {
  color: $warning;
}

.side-nav-user .side-stepper .list .step .step-list .item.active {
  border-left: 1px solid $primary;
  background-color: #f1f3f5;
}

.side-nav-user .side-stepper .list .step .step-list .item.active .title {
  color: $primary;
}

.side-nav-user
  .side-stepper
  .list
  .step
  .step-list
  .item.active
  .available-icon {
  background-color: $primary;
}

.side-nav-user .onclick-wrapper {
  display: flex;
  align-items: center;

  width: calc(100% + 16px);
  height: 100%;
  margin-right: -16px;
  padding-right: 16px;
}

.side-nav-user .top-bar {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 64px;

  border-bottom: 1px solid $border-grey;
}

.side-nav-user .top-bar img,
.side-nav-user .top-bar a {
  height: 64px;

  @include screen(med, min) {
    height: 64px;
  }
}
