.side-nav-user {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 300px;
  min-height: calc(100% - 64px);

  transition: background-color 300ms $bezier, color 300ms $bezier;

  background-color: #fff;
}

.side-nav-user .scrollable {
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;

  width: 100%;
  height: calc(100vh - 64px);
}

.side-nav-user .top-bar {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 64px;

  border-bottom: 1px solid $border-grey;
}

.side-nav-user .top-bar img,
.side-nav-user .top-bar a {
  height: 64px;

  @include screen(med, min) {
    height: 64px;
  }
}

.loan-side-nav {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-left: 0;

  list-style: none;

  .loan-side-nav-link {
    padding: 16px;

    text-decoration: none;

    &.active {
      border-right: 2px solid $primary;
    }
  }
}

.loan-selector {
  width: 75%;
  margin: 16px 0;

   > * {
    width: 100%;
  }
}
