.www-top-nav {
  position: fixed;
  z-index: $z-nav;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 0 16px;

  background-color: $primary;

  .www-top-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  &.white {
    background-color: white;
  }

  &.transparent {
    background-color: transparent;
  }

  &.grey {
    background-color: $background-color;
  }
}

.www-top-nav-logo {
  display: flex;

  width: 80px;
  height: 80px;

  @include screen(med) {
    width: 160px;
  }

  img {
    width: 48px;
    height: 48px;
    margin: 16px;
  }
}

.www-top-nav-links-large {
  display: flex;

  height: 80px;
  margin-left: 32px;

  @include screen(med) {
    display: none;
  }

  .www-top-nav-link {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;

    padding: 16px;

    transition: opacity 200ms $bezier;
    text-decoration: none;

    opacity: 1;

    &:hover {
      opacity: 0.5;
    }

    .www-top-nav-link-label {
      color: white;
    }

    &.white .www-top-nav-link-label,
    &.grey .www-top-nav-link-label,
    &.transparent .www-top-nav-link-label {
      color: $primary;
    }
  }
}

.www-top-nav-links-small {
  display: none;

  @include screen(med) {
    display: flex;
  }
}

.www-top-nav-links-small-link {
  text-decoration: none;

  h3 {
    text-decoration: none;

    span {
      text-decoration: none;
    }
  }
}
