.page-links {
  border-bottom: 1px solid $border-grey;

  a {
    display: inline-block;
    opacity: 0.5;
    border-bottom: 5px solid transparent;
    padding: 16px 0;
    transition: all 0.3s;
    margin-right: 20px;

    &.active-page,
    &[aria-current='page'],
    &:hover {
      opacity: 1;
      transition: all 0.3s;
    }

  }

}
