@import '{}/client/css/variables.scss';

.admin-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.admin-layout .main-row {
  padding-top: 64px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-grow: 1;
}

.admin-layout .main-row main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 16px;
}

.admin-layout .main-row .admin-side-nav {
  // padding-top: 64px;
  background-color: white;
  border-right: 1px solid $border-grey;
  display: flex;
  flex-direction: row;
}

.admin-side-nav .main-side-nav-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-side-nav .main-side-nav-list-item .label {
  color: inherit;
  margin: 0px;
}

.admin-side-nav .main-side-nav-list-item.primary {
  color: $primary;
}

.admin-side-nav .detail-side-nav {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $border-grey;
  width: 300px;
}

.detail-side-nav .detail-side-nav-header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  color: inherit;
  border-bottom: 1px solid $border-grey;
}

.detail-side-nav .detail-side-nav-header h3 {
  margin: 0;
}

.detail-side-nav .detail-side-nav-header:hover h3 {
  color: $primary;
}

.detail-side-nav .detail-side-nav-header:hover {
  color: $primary;
}
