@import './LoanTabs/ActionsTab/ActionsTab.scss';
@import './LoanTabs/OffersTab/OffersTab.scss';
@import './LoanTabs/OverviewTab/OverviewTab.scss';

.single-loan-page {
  .single-loan-page-tasks {
    margin: 16px 0;
  }

  .google-map {
    position: relative;

    display: flex;
    flex: 1;

    width: 100%;
    min-height: 400px;

    .map {
      flex: 1;
    }
  }

  .single-loan-page-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > * {
      display: inline;
    }

    .update-field {
      display: inline-block;

      min-width: 170px;
      margin-left: 8px;
    }

    form > * {
      margin-top: 0;
    }

    .icon-link {
      transform: scale(1.5);
      transform-origin: 0%;
    }

    .single-loan-date-modifiers {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;

      > * {
        margin-right: 8px;
        padding: 8px;
      }
    }
  }
}

.properties-tab .property-form {
  margin: 32px;
}

.single-borrower-tab {
  display: flex;
  flex-direction: column;

  .recap {
    align-self: center;
    margin: 40px 0;
  }
}
