@import './LoanTabs/ActionsTab/ActionsTab.scss';
@import './LoanTabs/FilesTab/FilesTab.scss';
@import './LoanTabs/FormsTab/FormsTab.scss';
@import './LoanTabs/OffersTab/OffersTab.scss';
@import './LoanTabs/OverviewTab/OverviewTab.scss';

.single-loan-page {
  .single-loan-page-tasks {
    margin: 16px 0;
  }

  .google-map {
    position: relative;

    display: flex;
    flex: 1;

    width: 100%;
    min-height: 400px;

    .map {
      flex: 1;
    }
  }

  .single-loan-page-header {
    display: inline;

    .update-field {
      display: inline-block;
      margin-left: 8px;
      min-width: 170px;
    }
  }
}

.properties-tab .property-form {
  margin: 32px;
}
