.promotion-users-page {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin-top: 16px;
  padding: 16px;

  .promotion-users-table {
    align-self: stretch;

    .invitedBy-assign-dropdown {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }
}
