.valuation {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;

  margin: 80px;
  padding: 48px;

  &-label {
    margin-bottom: 0;
  }

  &-results {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 24px;
  }

  &-value {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .error {
    max-width: 600px;

    text-align: center;
  }
}

.microlocation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &-factors {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  &-factor {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: 32px;
    padding: 16px 0;
  }

  &-rating {
    display: flex;
    align-items: center;
    flex-direction: row;

    h4 {
      width: 240px;
    }

    p {
      width: 240px;
      margin-right: 8px;
    }
  }

  h3 {
    display: flex;
    align-items: center;

    margin-bottom: 0;
     > :first-child {
      margin-right: 8px;
    }
  }
}
