.valuation {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;

  margin: 80px;
  padding: 48px;

  &-label {
    margin-bottom: 0;
  }

  &-results {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 24px;
  }

  &-value {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
