@import './client/FinancingStructuresHeader/FinancingStructuresHeader.scss';
@import './client/FinancingStructuresProject/FinancingStructuresProject.scss';
$labels-width: 200px;
$item-height: 32px;
$card1_padding: 24px;

.financing-structures {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .input-and-slider {
    > *:first-child {
      margin-bottom: 8px;
    }
  }
}

.structure {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;

  box-sizing: border-box;
  width: 300px;

  border-right: solid 1px $light-grey;
  border-left: solid 1px $light-grey;

  .card1 > *,
  > * {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;

    min-height: $item-height;
    // Use padding on both sides to allow labels to center properly
    padding: 8px 0;
  }

  .radio-buttons {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .calculated-value {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    color: $primary;
    // To match material-ui input size

    font-size: calc((16 / 14) * 1rem);

    .chf {
      margin-right: 4px;

      opacity: 0.5;
      color: initial;
    }
  }
}

.financing-structures-section {
  position: relative;

  overflow-x: scroll;

  width: 100%;
  margin-bottom: 32px;

  background-color: #f7fafb;

  input {
    color: $primary;
  }

  &.result-section {
    color: white;
    background-color: $primary;

    font-family: 'Eina04-Bold';

    .label {
      color: rgba(255, 255, 255, 0.78);
    }

    .section-title {
      color: white;
    }

    .calculated-value,
    .chf {
      color: white;
    }

    .card1 {
      background-color: unset;
      box-shadow: unset;
    }

    .structure {
      border-right-color: rgba($color: #000, $alpha: 0.1);
      border-left-color: rgba($color: #000, $alpha: 0.1);
    }

    h4 {
      color: white;
    }
  }

  .section-summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0;

    .structure {
      align-items: center;

      box-sizing: border-box;
    }

    .calculated-value {
      color: initial;
    }

    .section-title {
      font-size: 16px;
    }
  }

  .section-detail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 0;

    .structure {
      box-sizing: border-box;
      padding: 16px;

      .card1 {
        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        padding: $card1_padding;
      }
    }
  }

  .section-title {
    margin: 0;

    color: #69707a;
  }

  .section-subtitle {
    margin-top: 32px;
  }
}

.financing-structures-labels {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-shrink: 0;

  width: $labels-width;
  padding: 16px;
  padding-top: calc(16px + #{$card1_padding});

  &.summary-labels {
    padding-top: 16px;
  }

  .label {
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.68);
  }
}

.financing-structures-result-chart {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;

  .total {
    font-size: 36px;

    .chf {
      font-size: 20px;
    }
  }
}

.financing-mortgageLoan {
  > *:first-child {
    margin-bottom: 8px;
  }

  > *:last-child {
    align-self: center;
  }
}
.calculated-value.requiredOwnFunds-component {
  display: flex;
  flex-direction: column;

  .text {
    text-align: center;

    color: initial;
  }

  .value {
    display: flex;
    align-items: center;
  }
}

.expand-helper {
  position: absolute;
  top: 4px;
  left: 16px;

  display: none;

  animation-duration: 400ms !important;

  color: $primary;
}

.section-summary:hover .expand-helper.appear {
  display: flex;
}

.own-funds-label {
  display: flex;
  flex-direction: column;

  .chf {
    margin: 0 4px;
  }

  .value {
    display: flex;
    align-items: center;

    opacity: 0.5;
  }
}
