@import './client/FinancingStructuresHeader/FinancingStructuresHeader.scss';
$labels-width: 200px;
$item-height: 48px;

.financing-structures {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.structure {
  flex-shrink: 0;
  width: 300px;
  border-right: solid 1px $light-grey;
  border-left: solid 1px $light-grey;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;

  .card1 > *,
  > * {
    min-height: $item-height;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
}

.financing-structures-section {
  width: 100%;
  position: relative;
  background-color: #f7fafb;
  margin-bottom: 32px;
  overflow-x: scroll;

  &.result-section {
    background-color: $primary;
    color: white;

    .card1 {
      box-shadow: unset;
      background-color: unset;
    }

    .structure {
      border-left-color: rgba($color: #000000, $alpha: 0.1);
      border-right-color: rgba($color: #000000, $alpha: 0.1);
    }
  }

  .section-summary {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .structure {
      box-sizing: border-box;
      align-items: center;
    }
  }

  .section-detail {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .structure {
      padding: 16px;
      box-sizing: border-box;

      .card1 {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 32px;
      }
    }
  }

  .section-title {
    margin: 0;
  }
}

.financing-structures-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: $labels-width;
  padding: 16px;
  flex-shrink: 0;

  .label {
    min-height: $item-height;
    display: flex;
    align-items: center;
  }
}
