.widget1-single-input {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
}

.widget1-single-input .box {
  display: flex;
  flex-direction: column;

  border-radius: 4px;
  background-color: rgb(244, 247, 249);
}

.widget1-single-input .box label {
  margin: 0;
  padding: 4px 16px;
  padding-bottom: 0;
}

.widget1-single-input .box .box-content {
  display: flex;
  flex-direction: column;

  margin: 4px;
  padding: 0 8px;

  border-radius: 4px;
  background-color: white;
}

.widget1-single-input .widget1-input {
  display: flex;
  align-items: center;
  flex-direction: row;

   > * {
    align-items: center;

    color: $primary;
  }

  .widget1-input-currency {
    color: $primary;
  }
}

.widget1-single-input .widget1-input input {
  width: 100%;

  color: $primary;

  font-size: 32px;

  @include screen(xwide) {
    font-size: 24px;
  }
}

.widget1-single-input .widget1-slider {
  display: flex;
  align-items: center;
  flex-direction: row;

  padding-left: 8px;
}

.widget1-single-input .widget1-slider .button-placeholder {
  flex-shrink: 0;

  width: 48px;
  height: 48px;
}

.widget1-single-input .widget1-input.auto input,
.widget1-single-input .widget1-input.auto .currency {
  opacity: 0.5;
}
