@import './OrganisationTasks/OrganisationTaskInserter/OrganisationTaskInserter.scss';

.single-organisation-page {
  > *:not(:last-child) {
    margin-bottom: 32px;
  }

  &-header {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;

    img {
      width: 200px;
    }

    &-type {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;

      margin-left: 32px;

      > * {
        margin: 0;
        margin-bottom: 8px;
      }
    }
  }

  .user {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    > * {
      padding: 8px;
    }
  }
}
