.financing-structures-property-picker {
  .calculated-value {
    margin-top: 16px;
  }
}

.notary-fees {
  flex-direction: row !important;
  align-items: center !important;
}

.notary-fees-dialog {
  display: flex;
  align-items: center;
  flex-direction: column;

  .recap {
    margin-top: 40px;
  }
}
