.financing-structures-property-picker {
  .calculated-value {
    margin-top: 16px;
  }
}

.notary-fees {
  flex-direction: row !important;
}

.notary-fees-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  .recap {
    margin-top: 40px;
  }
}
