@import './DescriptionItem/DescriptionItem.scss';
$progression-color: #8db6e6;

.home-page-description {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 16px;
}

.home-page-description .title {
  align-self: center;

  color: $primary;
}

.home-page-description .seo-title {
  align-self: center;

  padding-top: 100px;

  color: $primary;
}

.home-page-description .description {
  display: flex;
  flex-direction: column;

  max-width: 800px;

  span {
    width: 100%;
  }
}

.home-page-description .steps {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
}

.home-page-description .progression {
  position: absolute;
  top: calc(#{$step-height}/ 2);
  left: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: calc(#{$step-height} * 4);

  @include screen(custom, max, $break-off) {
    top: calc(#{$image-height} + 16px);
    left: 10%;

    height: calc((#{$step-height} + 80px) * 4);
  }
}

.home-page-description .progression .segment {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.home-page-description .progression .dot {
  flex-shrink: 0;

  width: 16px;
  height: 16px;

  border: 2px solid $progression-color;
  border-radius: 50%;
}

.home-page-description .progression .dash {
  width: 2px;
  height: 3px;
  margin-left: 9px;

  background-color: $progression-color;
}

// For width: auto; specificity
span.home-page-description-seo-click.home-page-description-seo-click {
  display: flex;
  align-items: center;
  align-self: center;

  width: auto;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
