<template name="accountForm">
    {{> atForm}}
</template>

<template name="override-atForm">
    {{#unless hide}}
        <div class="at-form text-center">
            {{#if showOauthServices}} {{> atOauth}} {{/if}} {{#if showServicesSeparator}} {{> atSep}} {{/if}} {{#if showError}} {{> atError}} {{/if}} {{#if showResult}} {{> atResult}} {{/if}} {{#if showMessage}} {{> atMessage}} {{/if}} {{#if showPwdForm}} {{> atPwdForm}}
            {{/if}} {{#if showTermsLink}} {{> atTermsLink}} {{/if}} {{#if showSignInLink}} {{> atSigninLink}} {{/if}} {{#if showSignUpLink}} {{> atSignupLink}} {{/if}} {{#if showResendVerificationEmailLink}} {{> atResendVerificationEmailLink}} {{/if}}
        </div>

    {{/unless}}
</template>

<template name="override-atTitle">
    <div class="at-title">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
        </div>
    </div>
</template>

<template name="override-atOauth">
    <div class="at-oauth">
        {{#each oauthService}} {{> atSocial}} {{/each}}
    </div>
</template>

<template name="override-atSep">
    <div class="at-sep">
        <strong>{{sepText}}</strong>
    </div>
</template>

<template name="override-atError">
    <div class="at-error">
        {{#each error}}
        <p>{{errorText}}</p>
        {{/each}}
    </div>
</template>

<template name="override-atResult">
    <div class="at-result">
        {{result}}
    </div>
</template>

<template name="override-atMessage">
    <div class="at-message">
        <p>{{message}}</p>
    </div>
</template>

<template name="override-atPwdForm">
    <div class="at-pwd-form">
        <form role="form" id="at-pwd-form" class="form-horizontal {{disabled}}" novalidate action="#" method="POST">
            {{#each fields}}
            <div class="form-group">
                {{> atInput}}
            </div>
            {{/each}}

             {{#if showReCaptcha}} {{> atReCaptcha}} {{/if}} {{#if showForgotPasswordLink}} {{> atPwdLink}} {{/if}} {{> atPwdFormBtn}}
        </form>
    </div>
    <hr/>
</template>


<template name="override-atTermsLink">
    <div class="at-terms-link at-wrap">
        <p>
            {{text}} {{#if privacyUrl}}
            <a href="{{privacyUrl}}" class="{{disabled}}">{{privacyLinkText}}</a> {{/if}} {{#if showTermsAnd}} {{and}} {{/if}} {{#if termsUrl}}
            <a href="{{termsUrl}}" class="{{disabled}}">{{termsLinkText}}</a> {{/if}}
        </p>
    </div>
</template>

<template name="override-atSigninLink">
    <div class="at-signin-link">
        <p>
            {{preText}}
            <a href="{{signInLink}}" id="at-signIn" class="at-link at-signin {{disabled}}">{{linkText}}</a> {{suffText}}
        </p>
    </div>
</template>

<template name="override-atSignupLink">
    <div class="at-signup-link">
        <p>
            {{preText}}
            <a href="{{signUpLink}}" id="at-signUp" class="at-link at-signup {{disabled}}">{{linkText}}</a> {{suffText}}
        </p>
    </div>
</template>

<template name="override-atResendVerificationEmailLink">
    <div class="at-resend-verification-email-link at-wrap">
        <p>
            {{preText}}
            <a href="{{resendVerificationEmailLink}}" id="at-resend-verification-email" class="at-link at-resend-verification-email {{disabled}}">{{linkText}}</a> {{suffText}}
        </p>
    </div>
</template>

<template name="override-atSocial">
    <button class="at-social-btn {{disabled}}" id="at-{{name}}" name="{{name}}">
        <i class="{{iconClass}}"></i> {{buttonText}}
    </button>
</template>

<template name="override-atInput">
    {{> Template.dynamic template=templateName}}
</template>

<template name="override-atTextInput">
    <div class="at-input {{#if isValidating}}validating{{/if}} {{#if hasError}}has-error{{/if}} {{#if hasSuccess}}has-success{{/if}} {{#if feedback}}has-feedback{{/if}}">
        {{#if showLabels}}
        <label for="at-field-{{_id}}">
            {{displayName}} {{#unless required}}{{optionalText}}{{/unless}}
        </label>
        {{/if}}
        <input type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" placeholder="{{placeholder}}" autocapitalize="none" autocorrect="off"> {{#if hasIcon}}
        <span class="{{iconClass}}"></span> {{/if}} {{#if hasError}}
        <span>{{errorText}}</span> {{/if}}
    </div>
</template>

<template name="override-atCheckboxInput">
    <div class="at-input">
        <input type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" {{disabled}}>
        <label for="at-field-{{_id}}">{{displayName}}</label>
    </div>
</template>

<template name="override-atSelectInput">
    <div class="at-input">
        <label for="at-field-{{_id}}">{{displayName}}</label>
        <select id="at-field-{{_id}}" name="at-field-{{_id}}">
            {{#each values}}
            <option value="{{value}}">{{text}}</option>
            {{/each}}
        </select>
    </div>
</template>

<template name="override-atRadioInput">
    <div class="at-input">
        <label>{{displayName}}</label>
    </div>
    {{#each values}}
    <div class="at-input">
        <input id="at-field-{{id}}-choice-{{value}}" type="radio" name="at-field-{{id}}" value={{value}}>
        <label>{{text}}</label>
    </div>
    {{/each}}
</template>

<template name="override-atHiddenInput">
    <input type="hidden" id="at-field-{{_id}}" name="at-field-{{_id}}">
</template>


<template name="override-atPwdLink">
    <div class="at-pwd-link">
        <p>
            {{preText}}
            <a href="{{forgotPwdLink}}" id="at-forgotPwd" class="at-link at-pwd {{disabled}}">{{linkText}}</a> {{suffText}}
        </p>
    </div>
</template>


<template name="overrideatPwdFormBtn">
    <button type="submit" class="btn btn-primary submit {{submitDisabled}}" id="at-btn">
        {{buttonText}}
    </button>


    <!-- <script>
        // Remove the modal backdrop properly
        $('.submit').click(function() {
            $('modalId').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
        });
    </script> -->

</template>
