.dashboard-recap-property {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-width: 300px;
  padding: 16px;
}

.dashboard-recap-property .map {
  overflow: hidden;

  width: calc(100% + 32px);
  height: 40%;
  min-height: 200px;
  margin: -16px -16px 16px -16px;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.dashboard-recap-property h3 {
  margin-bottom: 0;
}

.dashboard-recap-property-empty.dashboard-recap-property-empty {
  align-self: center;

  max-width: 300px;
  padding: 16px;

  white-space: normal;
}
