.careers-page {
  display: flex;
  flex-direction: column;
  flex: 1;

  .careers-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 32px;
    padding-top: 0;
    width: 100%;

    h1,
    h2 {
      color: $primary;
    }

    .careers-page-content-subtitle {
      margin-top: 64px;
    }
  }
}

@media (max-width: $med) {
  .careers-page-content {
    padding: 16px;
  }
}

.careers-page-list,
.careers-page-list-department {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;

  .careers-page-list-empty {
    text-align: center;
    width: 100%;
    max-width: 500px;
    align-self: center;
  }
}

.careers-page-list-department {
  margin-bottom: 40px;
  padding: 16px;

  .careers-page-list-department-title {
    color: $primary;
  }
}

.careers-page-job {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  text-decoration: none;
  transition: all 200ms $bezier;
  margin-bottom: 16px;

  .careers-page-job-hover {
    display: none;
    margin: 0;
  }

  &:hover {
    background-color: $background-color;
    text-decoration: underline;
    color: grey;
    transform: scale(1.02);

    .careers-page-job-hover {
      display: flex;
    }
  }
}
