$borrowers-item-width: 600px;

.property-card {
  display: flex;
  align-items: stretch;
  align-self: center;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  max-width: calc(#{$borrowers-item-width} * 2);
  margin-top: 16px;
  padding: 32px;

  @include screen(small) {
    padding: 16px;
  }

  .top {
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: space-between;

    @include screen(wide) {
      flex-direction: row;
      align-items: center;
    }

    .property-card-actions {
      margin-top: 16px;
      width: 100%;

      .button {
        width: 100%;
      }

      @include screen(wide) {
        width: auto;
        align-self: flex-end;

        .button {
          width: auto;
        }
      }

      @include screen(med) {
        width: 100%;

        .button {
          width: 100%;
        }
      }
    }

    @include screen(med) {
      flex-wrap: wrap;
    }
  }

  &-infos {
    display: flex;
    align-items: center;
    flex-direction: row;

    img,
    .icon {
      width: 100px;
      height: 100px;
      margin-right: 32px;

      @include screen(med) {
        margin-right: 16px;
      }
    }

    img {
      object-fit: cover;
    }

    .icon {
      color: $primary;
    }

    &-description {
      h3,
      p {
        margin-right: 8px;
      }
    }
  }

  .button {
    width: 300px;
    padding: 8px 48px 8px 48px;

    @include screen(med) {
      width: 100%;
      margin-top: 16px;
    }
  }

  &-actions {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    @include screen(med) {
      width: 100%;
    }

    .toggle {
      display: flex;
      justify-content: center;
    }

    .toggle-label-left {
      font-size: 1em;
    }
  }

  &-subtitle {
    > span {
      display: flex;
      align-items: center;
    }
  }
}
.residence-type-setter-dialog {
  img {
    height: 150px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .icon {
    width: 100px !important;
    margin-right: 16px !important;
    flex-basis: unset !important;
  }

  .card1 {
    padding: 24px 8px;
    margin: 0;
    box-shadow: unset;
  }

  .residence-type-setter {
    @include screen(med) {
      flex-direction: column;
    }
  }
}
