$borrowers-item-width: 500px;

.property-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: calc(#{$borrowers-item-width} * 2);

  padding: 32px;
  margin-top: 16px;
  align-self: center;

  @include screen(med) {
    flex-wrap: wrap;
  }

  @include screen(xsmall) {
    padding: 16px;
  }

  &-infos {
    display: flex;
    flex-direction: row;
    align-items: center;

    img,
    .icon {
      height: 100px;
      width: 100px;
      margin-right: 32px;

      @include screen(med) {
        margin-right: 16px;
      }
    }

    img {
      object-fit: cover;
    }

    .icon {
      color: $primary;
    }

    &-description {
      h3,
      p {
        margin-right: 8px;
      }
    }
  }

  .button {
    padding: 8px 48px 8px 48px;
    width: 300px;

    @include screen(med) {
      margin-top: 16px;
      width: 100%;
    }
  }

  &-actions {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    @include screen(med) {
      width: 100%;
    }

    .toggle {
      display: flex;
      justify-content: center;
    }

    .toggle-label-left {
      font-size: 1em;
    }
  }
}
