.home-page .partners {
  position: relative;

  align-self: center;

  width: 100%;
  max-width: 1000px;
  margin: 80px 0;
}

.home-page .partners .list {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 100%;

  transition: 1s cubic-bezier(.19, 1, .22, 1);

  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
  filter: blur(0);
  will-change: transform;
}

.home-page .partners img {
  padding: 16px;
}

.home-page .partners .partner-button {
  position: absolute;
  z-index: 1;
  top: calc(50% - 44px);
  left: 50%;

  transition: all .15s ease;
  transition: .7s cubic-bezier(.19, 1, .22, 1);
  transform: translate(-50%, 5px) scale(.95);

  opacity: 0;
}

.home-page .partners:hover .partner-button {
  opacity: 1;
}

.home-page .partners:hover .list {
  transform: scale(.95);

  opacity: .7;

  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  filter: blur(10px);
}
