.home-page .partners {
  position: relative;
  width: 100%;
  margin: 80px 0;
}

.home-page .partners .list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
  filter: blur(0);
}

.home-page .partners img {
  padding: 16px;
}

.home-page .partners .partner-button {
  transition: all 0.15s ease;
  position: absolute;
  top: calc(50% - 44px);
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 5px) scale(0.95);
  opacity: 0;
  transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.home-page .partners:hover .partner-button {
  opacity: 1;
}

.home-page .partners:hover .list {
  opacity: 0.7;
  transform: scale(0.95);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  filter: blur(10px);
}
