.other-page {	
  &-label {	
    display: flex;	
    align-items: center;	

    > *:first-child {	
      width: 16px;	
      height: 16px;	
      margin-right: 4px;	
    }	
  }	

  .tab-content {	
    padding: 0;	
  }	
}