// Default
@import '../imports/core/assets/css/index.scss';
@import '../imports/core/assets/css/external-styles/animate.scss';

// Layout
@import '../imports/client/layouts/AppLayout/AppLayout.scss';

// Pages
@import '../imports/client/pages/AppPage/AppPage.scss';
@import '../imports/client/pages/AppPromotionLotPage/AppPromotionLotPage.scss';
@import '../imports/client/pages/AppWidget1Page/AppWidget1Page.scss';
@import '../imports/client/pages/BorrowersPage/BorrowersPage.scss';
@import '../imports/client/pages/DashboardPage/DashboardPage.scss';
@import '../imports/client/pages/AppPromotionPage/AppPromotionPage.scss';
@import '../imports/client/pages/PropertiesPage/PropertiesPage.scss';
@import '../imports/client/pages/RefinancingPage/RefinancingPage.scss';
@import '../imports/client/pages/SignupSuccessPage/SignupSuccessPage.scss';
@import '../imports/client/pages/SimpleDashboardPage/SimpleDashboardPage.scss';
@import '../imports/client/pages/SinglePropertyPage/SinglePropertyPage.scss';
@import '../imports/client/pages/SolvencyPage/SolvencyPage.scss';

// Components
@import '../imports/client/components/BorrowersAdder/BorrowersAdder.scss';
@import '../imports/client/components/ReturnToDashboard/ReturnToDashboard.scss';
@import '../imports/client/components/SideNavUser/SideNavUser.scss';
@import '../imports/client/components/SummaryComponent/SummaryComponent.scss';
@import '../imports/client/components/WelcomeScreen/WelcomeScreen.scss';
@import '../imports/client/components/DeactivatedFormInfo/DeactivatedFormInfo.scss';
