// Default
@import '../imports/core/assets/css/core-styles.scss';
@import '../imports/core/assets/css/external-styles/animate.scss';
@import '../imports/core/assets/css/external-styles/bootstrap-popover.scss';
@import '../imports/core/assets/css/external-styles/bootstrap-tabs.scss';
@import '../imports/core/assets/css/external-styles/rc-slider.scss';

// Layout
@import '../imports/client/layouts/AppLayout/AppLayout.scss';

// Pages
@import '../imports/client/pages/ContractPage/ContractPage.scss';
@import '../imports/client/pages/DashboardPage/DashboardPage.scss';
@import '../imports/client/pages/StrategyPage/StrategyPage.scss';
@import '../imports/client/pages/BorrowerPage/BorrowerPage.scss';
@import '../imports/client/pages/PropertyPage/PropertyPage.scss';
@import '../imports/client/pages/VerificationPage/VerificationPage.scss';
@import '../imports/client/pages/StructurePage/StructurePage.scss';
@import '../imports/client/pages/AuctionPage/AuctionPage.scss';
@import '../imports/client/pages/ClosingPage/ClosingPage.scss';

// Components
@import '../imports/client/components/Page/Page.scss';
@import '../imports/client/components/SideNavUser/SideNavUser.scss';
@import '../imports/client/components/StrategyChoices/StrategyChoices.scss';
@import '../imports/client/components/SummaryComponent/SummaryComponent.scss';

// Make sure everything expands properly to take the full size of the browser
body,
html,
#react-root {
  display: flex;
  flex: 1;
  flex-direction: column;
}
