@import './css/variables.scss';

@import '../imports/ui/layouts/AppLayout/AppLayout.scss';

// Pages CSS
@import '../imports/ui/pages/ContractPage/ContractPage.scss';
@import '../imports/ui/pages/DashboardPage/DashboardPage.scss';
@import '../imports/ui/pages/StrategyPage/StrategyPage.scss';
@import '../imports/ui/pages/BorrowerPage/BorrowerPage.scss';

// Components CSS
@import '../imports/ui/components/Page/Page.scss';
@import '../imports/ui/components/SideNavUser/SideNavUser.scss';
@import '../imports/ui/components/StrategyChoices/StrategyChoices.scss';
@import '../imports/ui/components/SummaryComponent/SummaryComponent.scss';

// To display choices with proper hover effects
.choice {
  border-radius: 4px;
  border: solid 1px $grey1;
  display: flex;
  margin-bottom: 16px;
  box-sizing: content-box;
  padding: 16px;
}

.choice:hover {
  border: solid 1px $primary;
  cursor: pointer;
}

.choice.chosen {
  border: solid 2px $primary;
}

.choice.chosen.disabled {
  border: solid 2px $success;
}

.choice.disabled {
  cursor: default !important;
}
