.tasks-table table {
  min-width: 1200px;

  table-layout: fixed;
}

.task-modifier-date-setter {
  display: grid;

  margin-bottom: 8px;

  grid-auto-flow: column;
  grid-gap: 8px;
  justify-items: stretch;
}
