.single-file-tab {
  display: flex;
  flex-direction: column;

  .additional-doc-adder {
    align-self: center;

    margin: 16px;
  }

  .uploader-category {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.file-tab-label {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  white-space: nowrap;

  .name {
    overflow: hidden;

    max-width: 160px;

    text-overflow: ellipsis;
  }
}
