.files-tab .tab-content.tab-content {
  padding: 0;
}

.files-tab-container {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  grid-template-columns: 1fr minmax(400px, 33%);
  align-items: start;

  .loan-google-drive {
    min-width: 400px;
  }
}

.single-file-tab {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 8px;

  .additional-doc-adder {
    align-self: center;

    margin: 16px;
  }

  .uploader-category {
    display: flex;
    align-items: center;
    flex-direction: column;

    .uploader-array {
      width: 100%;
    }
  }
}

.borrowers-file-tab {
  display: flex;

  padding-top: 32px;

  > *:not(:first-child) {
    border-left: 1px solid $border-grey;
  }

  &-single {
    flex-grow: 1;
  }

  .borrower-name {
    display: flex;
    align-items: center;

    h1 {
      margin: 0;
      padding-left: 15px;

      font-size: 18px;
    }

    .icon {
      width: 50px;
      height: 50px;
      margin-left: 30px;
    }
  }
}

.file-tab-label {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  white-space: nowrap;

  .name {
    overflow: hidden;

    max-width: 160px;

    text-overflow: ellipsis;
  }
}

.zip-loan {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  padding: 16px;
}

.zip-loan-modal {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  fieldset {
    margin: 0;
  }

  h4 {
    margin: 0;
  }

  p {
    margin: 0;
    margin-bottom: 8px;
  }

  &-documents {
    display: flex;
    flex-direction: column;

    padding: 16px;

    fieldset {
      padding-left: 16px;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

    width: 100%;

    > * {
      margin-left: 8px;
    }
  }
}
