.single-file-tab {
  display: flex;
  flex-direction: column;

  .additional-doc-adder {
    align-self: center;

    margin: 16px;
  }
}

.file-tab-label {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  white-space: nowrap;
}
