.click-to-edit-field {
  padding: 4px;

  transition: color 200ms $bezier, background-color 200ms $bezier;

  border-radius: 4px;

  &.not-editing {
    cursor: pointer;

    &:hover {
      color: white;
      background-color: $primary;
    }
  }
}
