@import '{}/client/css/variables.scss';

.side-nav-user {
  transition: all 300ms $bezier;
  background-color: #fff;
  min-height: calc(100% - 64px);
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-nav-user .scrollable {
  width: 100%;
  height: calc(100vh - 64px);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.side-nav-user .link {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #343a40 !important;
  text-decoration: none;
  flex-shrink: 0;
  transition: all 300ms $bezier;
}

.side-nav-user .link .title {
  font-weight: 400 !important;
}

.side-nav-user .link .icon {
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.side-nav-user .link:hover {
  background-color: #f4f6f8;
}

.side-nav-user .link.active-link {
  background-color: #f1f3f5;
  border-left: 2px solid $primary;
}

.side-nav-user .link.active-link h4 {
  color: $primary;
}

.side-nav-user .link.active-link svg {
  fill: $primary !important;
}

.side-nav-user .side-stepper {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 16px;
  transition: all 300ms $bezier;
}

@media (max-width: $med) {
  .side-nav-user .side-stepper {
    margin-bottom: 44px; // extra padding for iOS bottom bar
  }
}

.side-nav-user .side-stepper .available-icon {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #fff;
}

.side-nav-user .side-stepper .top-title {
  padding-left: 16px;
  margin: 8px 0;
  font-weight: 400 !important;
}

.side-nav-user .side-stepper .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.side-nav-user .side-stepper .list .step {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  width: 100%;
  position: relative;
  transition: all 300ms $bezier;
}

.side-nav-user .side-stepper .list .step.isActive {
  background-color: #f8f9fa;
}

.side-nav-user .side-stepper .list .step.isActive .title {
  color: #212529;
}

.side-nav-user .side-stepper .list .step:hover {
  background-color: #f9fafb;
}

.side-nav-user .side-stepper .list .step:first-child {
  cursor: default;
}

.side-nav-user .side-stepper .list .step.off {
  cursor: not-allowed;
}

.side-nav-user .side-stepper .list .step.off .top {
  cursor: not-allowed;
}

.side-nav-user .side-stepper .list .step .top {
  height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 100%;
  transition: all 300ms $bezier;
}

.side-nav-user .side-stepper .list .step .top.inactive {
  cursor: default;
}

.side-nav-user .side-stepper .list .step .top .icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background-color: #ced4da;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: #fff;
}

.side-nav-user .side-stepper .list .step .top .icon.done {
  background-color: $success;
}

.side-nav-user .side-stepper .list .step .top .icon svg {
  color: #fff !important;
  width: 18px !important;
  height: 18px !important;
}

.side-nav-user .side-stepper .list .step .top .text {
  display: flex;
  flex-direction: column;
  line-height: 1.2em;
}

.side-nav-user .side-stepper .list .step .top .text .title {
  color: #343a40;
  font-weight: 400;
}

.side-nav-user .side-stepper .list .step .top .text .subtitle {
  color: #868e96;
  font-weight: 400;
}

.side-nav-user .side-stepper .list .step .absolute-line {
  position: absolute;
  left: 32px;
  opacity: 0.5;
  height: 100%;
  border-right: 1px solid #dee2e6;
}

.side-nav-user .side-stepper .list .step:first-child .absolute-line {
  bottom: 0;
  height: calc(100% - 32px);
}

.side-nav-user .side-stepper .list .step:last-child .absolute-line {
  top: 0;
  height: calc(100% - 32px);
}

.side-nav-user .side-stepper .list .step .step-list {
  padding: 0;
  padding-left: 16px;
  list-style: none;
  width: 100%;
}

.side-nav-user .side-stepper .list .step .step-list .item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none !important;
  height: 64px;
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0);
  padding-right: 16px;
  transition: all 300ms $bezier;
  position: relative;
}

.side-nav-user .side-stepper .list .step .step-list .item:hover {
  background-color: #f4f6f8;
  cursor: pointer;
}

.side-nav-user .side-stepper .list .step .step-list .item.disable {
  cursor: default;
}

.side-nav-user .side-stepper .list .step .step-list .item.off {
  cursor: not-allowed;
}

.side-nav-user .side-stepper .list .step .step-list .item .icon {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dee2e6;
}

.side-nav-user
  .side-stepper
  .list
  .step
  .step-list
  .item
  .icon
  .circular-progress {
  position: absolute !important;
  top: 22px;
  left: 14px;
  width: 20px !important;
  height: 20px !important;
}

.side-nav-user
  .side-stepper
  .list
  .step
  .step-list
  .item
  .icon
  .available-icon {
  background-color: #dee2e6;
}

.side-nav-user .side-stepper .list .step .step-list .item .icon.warning {
  color: $warning;
}

.side-nav-user .side-stepper .list .step .step-list .item .icon.success {
  color: $success;
}

.side-nav-user .side-stepper .list .step .step-list .item .icon svg {
  color: inherit;
  width: 20px !important;
  height: 20px !important;
}

.side-nav-user .side-stepper .list .step .step-list .item .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  line-height: 1.4em;
}

.side-nav-user .side-stepper .list .step .step-list .item .text .title {
  font-weight: 400;
  color: #343a40;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.side-nav-user .side-stepper .list .step .step-list .item .text .subtitle {
  color: #adb5bd;
  font-weight: 400;
}

.side-nav-user
  .side-stepper
  .list
  .step
  .step-list
  .item
  .text
  .subtitle.warning {
  color: $warning;
}

.side-nav-user .side-stepper .list .step .step-list .item.active {
  border-left: 1px solid $primary;
  background-color: #f1f3f5;
}

.side-nav-user .side-stepper .list .step .step-list .item.active .title {
  color: $primary;
}

.side-nav-user
  .side-stepper
  .list
  .step
  .step-list
  .item.active
  .available-icon {
  background-color: $primary;
}

.side-nav-user .onclick-wrapper {
  display: flex;
  align-items: center;
  width: calc(100% + 16px);
  height: 100%;
  margin-right: -16px;
  padding-right: 16px;
}

.side-nav-user .top-bar {
  border-bottom: 1px solid $border-grey;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.side-nav-user .top-bar img,
.side-nav-user .top-bar a {
  height: 16px;
}

@media (min-width: $med) {
  .side-nav-user .top-bar img,
  .side-nav-user .top-bar a {
    height: 24px;
  }
}
