.top-nav {
  position: fixed;
  z-index: $z-nav;
  top: 0;

  display: flex;

  width: calc(100% - 16px);
  padding: 0 8px;

  border-bottom: 1px solid $border-grey;
  background-color: #fff;

  .top-nav-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;

    .empty,
    .menu-button {
      display: flex;
    }

    .buttons {
      display: flex;
      align-items: center;
    }
  }
}

.top-nav-logo {
  display: flex;

  height: 64px;

  img,
  .link {
    display: flex;

    height: 100%;
  }
}

.top-nav-dropdown svg.font-awesome {
  width: 20px !important;
  height: 20px !important;
  padding: 2px;
}
