.password-reset-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  width: 100%;

  .card1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &-button {
    margin-top: 40px;
  }

  &-input {
    width: 250px;
    margin-top: 16px;
  }

  .top {
    display: flex;
    align-items: center;
    flex-direction: column;

    .icon {
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
  }
  
  .text {
    display: flex;
    align-items: center;
  }

  .disclaimer {
    text-align: center;
    max-width: 400px;
    margin-top: 16px;

    a {
      color: $primary;
    }
  }
}
