.password-reset-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  .card1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include screen(med, min) {
      padding: 32px;
    }
  }

  .description {
    max-width: 400px;
  }

  h1 {
    @include screen(med) {
      font-size: 1.3rem;
    }
  }

  &-button {
    margin-top: 40px;

    &.enrollment {
      margin-top: 16px;
    }
  }

  &-input {
    width: 250px;
    margin-top: 16px;
  }

  .top {
    display: flex;
    align-items: center;
    flex-direction: column;

    .icon {
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
  }

  .text {
    display: flex;
    align-items: center;
  }

  .disclaimer {
    max-width: 400px;
    margin-top: 16px;

    text-align: center;

    a {
      color: $primary;
    }
  }

  .checkbox {
    margin: 16px 0;
  }
}
