.widget1-single-input-form {
  display: flex;
  padding: 32px;
  margin: 16px;
  width: 100%;
  max-width: 300px;
  z-index: 20;
}

.widget1-single-input-form form {
  // For react overdrive to be above svg
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  z-index: 20;
}

.widget1-single-input-form .buttons {
  width: 100%;
  display: flex;
  padding-top: 32px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.widget1-single-input-form .buttons > * {
  margin: 4px;
}
