.widget1-single-input-form {
  display: flex;
  padding: 16px;
  margin: 16px;
  flex-grow: 1;
  height: 200px;
  z-index: 20;
}

.widget1-single-input-form form {
  // For react overdrive to be above svg
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  z-index: 20;
}
