@import './iphone.scss';

.home-page header {
  position: relative;

  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around; // Fallback for IE
  justify-content: space-evenly;

  min-height: 600px;
  padding: 40px 16px 80px 16px;

  @include screen(med) {
    align-items: stretch;
    flex-direction: column;
  }

  .text h1,
  .text h4 {
    max-width: 500px;

    color: white;
  }

  .separator {
    display: flex;

    width: 40px;
    height: 4px;
    margin: 16px 0;

    background-color: white;
  }

  .home-page-header-background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -50%;

    width: 200%;
    height: 250%;

    transform: rotate(-15deg);
    transform-origin: 0 25%;

    background-color: blue;
  }

  .buttons {
    margin-bottom: 16px;

    @include screen(med) {
      display: flex;
      align-items: stretch;
      flex-direction: column;

      > * {
        margin: 0;
        margin-bottom: 8px;
      }
    }
  }

  .iphone-x {
    margin-bottom: -250px;
    margin-left: 100px;
    // height of iphone is 864

    transform: scale(0.7);
    transform-origin: top center;

    @include screen(xwide, min) {
      margin-bottom: -170px;

      transform: scale(0.8);
    }
    @include screen(large) {
      margin-left: 0;
    }
    @include screen(med) {
      align-self: center;

      margin-top: 50px;
    }
    @include screen(small) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
