.loan-board {
  &-options {
    display: flex;
    justify-content: space-between;
  }

  &-options > * {
    background-color: white;
    padding: 16px;
    display: flex;
    align-items: flex-start;
  }

  &-options .right {
    > * {
      margin-left: 8px;
    }
  }

  &-options .left {
    flex-grow: 1;

    > * {
      margin-right: 32px;
    }
  }

  &-column-header {
    display: flex;
    justify-content: center;
    position: relative;

    .title {
      margin-top: 0;
    }

    .sort {
      position: absolute;
      right: -16px;
      top: -16px;
    }
  }

  &-card {
    margin-bottom: 8px;
    padding: 8px;

    .top {
      display: flex;
      align-items: center;
    }

    .title {
      margin: 0;
      margin-right: 8px;
    }
  }

  .board-column {
    max-width: 400px;
  }
}

.sort-label {
  margin: 0;
  display: flex;
  justify-content: space-between;

  .icon {
    margin-left: 8px;
    &.rotate {
      transform: rotate(180deg);
    }
  }
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: scroll;

  > * {
    margin-left: 0;
  }

  .checkbox {
    padding: 4px;
  }
}

.radio-group > * {
  margin-left: 0;

  .radio {
    padding: 4px;
  }
}
