.loan-board {
  &-options {
    background-color: white;
    padding: 16px;
    display: flex;

    > * {
      margin-right: 32px;
      min-width: 150px;
    }
  }

  &-column-header {
    display: flex;
    justify-content: center;
    position: relative;

    .title {
      margin-top: 0;
    }

    .sort {
      position: absolute;
      right: -16px;
      top: -16px;
    }
  }

  &-card {
    margin-bottom: 8px;
    padding: 8px;

    .top {
      display: flex;
      align-items: center;
    }

    .title {
      margin: 0;
      margin-right: 8px;
    }
  }
}

.sort-label {
  margin: 0;
  display: flex;
  justify-content: space-between;

  .icon {
    margin-left: 8px;
    &.rotate {
      transform: rotate(180deg);
    }
  }
}
