.single-interest-rate-field {
  display: flex;
  flex-direction: column;

  padding: 12px;

   > * {
    margin-bottom: 0;
    padding-right: 8px;
  }

  &-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
  }

  .interest-rates-dialog-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

     > * {
      margin: 0;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .current-rates {
    display: flex;
    align-items: center;
    flex-direction: row;

     > table {
      padding: 4px;
    }

     > * {
      margin-right: 4px;
    }
  }
}
