.notification-list {	
  display: flex;	
  align-items: stretch;	
  flex-direction: column;	

  min-width: 200px;	

  hr {	
    width: 100%;	
  }	

  &-item {	
    display: flex;	
    align-items: center;	
    justify-content: space-between;	

    div.buttons {	
      display: flex;	
      flex-wrap: nowrap;	
    }	
  }	
}