.home-page footer {
  position: relative;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  overflow: hidden;
}

.home-page footer .waves {
  z-index: -2;
  transform: scale(1, -1);
  top: 300px;
}

.home-page footer .waves svg {
  overflow: visible;
}

.home-page footer h2,
.home-page footer p {
  color: white;
}

.home-page footer .home-page-footer-content {
  width: 100%;
  flex: 1;
  max-width: 800px;
  margin-top: 200px;
}

.home-page footer .home-page-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-page footer .home-page-footer-top .cta {
  flex-shrink: 0;
}

.home-page footer hr {
  color: white;
  width: 100%;
}

.home-page footer .home-page-footer-links {
  display: flex;
  justify-content: space-between;
}

.home-page footer .home-page-footer-links h4 {
  color: white;
}

.home-page footer .home-page-footer-links .links {
  display: flex;
}

.home-page footer .home-page-footer-links .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-page footer .home-page-footer-links a {
  color: white;
  text-decoration: none;
}

.home-page footer .home-page-footer-links a:hover {
  text-decoration: underline;
}

.home-page footer .company {
  width: 100%;
  max-width: 400px;
  padding-left: 8px;
}

.home-page footer .copyright {
  margin-bottom: 0;
}

.home-page footer .social-links {
  display: flex;
}

.home-page footer .social-links a {
  color: white;
  padding: 8px;
  opacity: 1;
}

.home-page footer .social-links a:hover {
  opacity: 0.5;
}
