.pro-revenues-page {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  .explained {
    align-self: flex-start;
  }

  h1 {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
  }
}
