.overview-tab .admin-section {
  display: flex;
  flex-direction: column;

  .admin-note-wrapper {
    display: flex;

    .admin-note {
      flex-grow: 1;
    }
  }
}

.overview-tab {
  .overview-recap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;

    .borrower-recaps {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .recap-div {
      display: flex;
      align-items: center;
      flex-direction: column;

      width: 400px;
    }
  }
}
