.overview-tab .admin-section .card-top {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .update-field {
    min-width: 200px;
  }

  > * {
    margin-right: 8px;
  }
}

.overview-tab .admin-section .card-bottom {
  display: flex;
  justify-content: center;
}

.overview-tab {
  display: flex;
  flex-direction: column;

  .overview-recap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
    margin-top: 40px;

    .borrower-recaps {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .recap-div {
      display: flex;
      align-items: center;
      flex-direction: column;

      width: 400px;
    }
  }

  .admin-note {
    margin-top: 40px;
    h2 {
      margin: 0;
    }
  }
}

.overview-tab .solvency {
  display: flex;
  flex-direction: column;

  .flex {
    align-items: center;
  }
  .flex > * {
    margin-right: 8px;
  }

  h3 {
    margin-bottom: 0;
  }

  .toggle {
    padding: 0;
  }

  .organisation-select {
    min-width: 120px;
  }

  table {
    align-self: center;

    td {
      padding: 8px;

      .flex {
        padding-bottom: 4px;
      }
    }

    tr:not(:first-child) {
      td:not(:first-child) {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.overview-tab .lender-solvency {
  display: flex;
  flex-direction: row;

  padding: 32px;

  > * {
    display: flex;
    flex-direction: column;

    padding: 8px;
  }
}

.max-property-value-tools {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-top: 40px;

  > * {
    margin-top: 16px;
  }
}

.loan-timeline {
  margin-top: 40px;

  .timeline {
    overflow-x: scroll;
  }

  h2 {
    margin: 0;
  }

  .flex {
    display: flex;
    align-items: center;

    margin-bottom: 16px;
  }

  &-title {
    position: relative;

    h4 {
      display: flex;
      align-items: center;

      margin: 0;
      margin: 0;

      white-space: nowrap;
      text-overflow: ellipsis;

      &.title {
        margin-left: -4px;

        .text {
          overflow: hidden;

          max-width: 250px;

          vertical-align: middle;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .icon {
        margin-right: 4px;
      }
    }

    .activity-modifier {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;

      display: none;
    }
  }

  li {
    position: relative;

    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;

    padding-bottom: 16px; // To avoid the scroll-bar from overlapping with text

    &:hover {
      .activity-modifier {
        display: block;
      }
    }

    .today {
      position: absolute;
      top: 0;
      left: -8px;

      width: 2px;
      height: 100%;

      background-color: red;

      .today-dot {
        position: absolute;
        // content: '';
        top: 0;
        left: -3px;

        width: 8px;
        height: 8px;

        border-radius: 50%;
        background-color: red;
      }
    }
  }
}
