.promotion-page {
  display: flex;
  flex-direction: column;

  padding: 16px;

  &-header {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap-reverse;

    @include screen(small) {
      flex-direction: column-reverse;
    }

    &-right,
    &-left {
      flex-basis: 50%;
      flex-grow: 1;
      flex-shrink: 0;
    }

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      box-sizing: border-box;
      padding-right: 16px;

      h1 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      .promotion-title {
        align-self: center;

        width: 100%;
        max-width: 600px;
      }

      .logos,
      .contacts {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;

        .list {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          flex-wrap: wrap;
          justify-content: space-around;
        }
      }

      .logos {
        .logo {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: flex-start;

          width: 150px;
          min-height: 100px;

          p {
            max-width: 150px;
          }

          .logo-wrapper {
            max-width: 150px;
            height: 50px;
          }

          img {
            max-width: 150px;
            max-height: 50px;
            margin-bottom: 8px;
          }
        }
      }

      .contacts {
        .contact {
          display: flex;
          align-items: flex-start;
          flex-basis: 200px;
          flex-direction: column;

          margin-bottom: 16px;

          h4 {
            margin: 0;
          }

          .title {
            margin-bottom: 8px;
          }
        }
      }
    }

    &-right > * {
      flex-basis: 50%;
      flex-grow: 1;

      min-width: 300px;
      min-height: 500px;

      @include screen(small) {
        min-width: unset;
        min-height: 300px;
      }
    }
  }

  .buttons {
    margin: 40px 0;
    > * {
      margin-right: 16px;
      margin-bottom: 8px;
    }
  }

  .map {
    align-self: stretch;

    height: 500px;
    margin-top: 40px;
  }

  .promotion-table-actions {
    display: flex;
    align-self: flex-start;

    > * {
      margin-right: 8px;
    }
  }

  .additional-lots {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 32px 0;

    &-button {
      align-self: center;
    }
  }

  .priority-setter {
    display: flex;
    align-items: center;

    > * {
      margin-left: 4px;
    }
  }

  .residence-type-setter {
    display: flex;
    align-items: center;
    align-self: center;

    width: 50%;
    // On very small screens
    min-width: 224px;
    margin: 16px 0;
    padding: 16px;

    .icon {
      width: 80x;
      height: 80px;
      color: $primary;
    }

    > * {
      flex-grow: 1;
    }
  }
}

.promotion-page.simple {
  width: 100%;
  max-width: 1200px;
  margin-top: 16px;
  align-self: center;
  box-sizing: border-box;

  @include screen(wide) {
    width: 100%;
  }
}

.lot-chips {
  display: flex;
}
