@import './PromotionCustomers/PromotionCustomers.scss';
@import './PromotionLotDetail/PromotionLotDetail.scss';

.promotion-page {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  &-header {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    height: 50vw;
    min-height: 200px;
    max-height: 500px;
    padding: 32px;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    @include screen(med) {
      padding: 16px;
    }

    .decrement {
      top: unset;
      bottom: 8px;
      left: 8px;
    }

    .increment {
      top: unset;
      bottom: 8px;
      left: 72px;
    }

    &-top {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: space-between;
    }

    &-text {
      padding: 8px;

      border-radius: 4px;
      background-color: rgba($color: #000, $alpha: 0.4);
    }

    &-title {
      margin: 12px 0;
    }

    &-actions {
      margin-bottom: 8px;

      > *:last-child {
        margin-left: 8px;
      }
    }

    h1,
    h3,
    h4 {
      margin: 0;

      color: white;
    }

    h1 {
      margin-right: 8px;
    }

    .priority-setter {
      display: flex;
      align-items: center;

      > * {
        margin-left: 4px;
      }
    }

    &-linkers {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      > * {
        min-width: 200px;
        margin-right: 8px;

        @include screen(med) {
          min-width: 200px;
        }
      }
    }
  }

  .residence-type-setter {
    display: flex;
    align-items: center;
    align-self: center;
    // On very small screens

    min-width: 224px;
    margin: 16px 0;
    padding: 16px;

    .icon {
      width: 80px;
      height: 80px;
      padding: 8px 24px 8px 16px;

      color: $primary;
    }

    > * {
      flex-grow: 1;
    }
  }

  &-overview {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    > button,
    .mui-table {
      margin-top: 24px;
    }

    .promotion-timeline {
      overflow-x: scroll;
      align-self: stretch;
    }

    .mui-table,
    .additional-lots-table {
      align-self: stretch;
    }

    .additional-lots-table {
      display: flex;
      flex-direction: column;
    }
  }

  .promotion-partners {
    display: flex;
    align-items: center;
    flex-direction: column;

    .contacts,
    .logos {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-direction: column;

      margin-top: 32px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .contacts {
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .contact {
      display: flex;
      flex-direction: column;

      margin-right: 16px;
    }

    .logo {
      display: flex;
      align-items: center;
      flex-direction: column;

      margin: 16px;
      padding: 32px;

      &-wrapper {
        height: 120px;
        max-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }

  &-map {
    flex-grow: 1;

    width: 100%;
    min-height: 500px;

    .map {
      width: 100%;
      height: 100%;
      min-height: 500px;
    }
  }

  .priority-setter {
    display: flex;
    align-items: center;

    > * {
      margin-left: 4px;
    }
  }
}

.modal-promotion-lot-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.priority-order {
  display: flex;

  > * {
    margin-right: 4px;
  }

  .primary {
    color: white;
    background-color: $primary;
  }

  .success {
    color: white;
    background-color: $success;

    &:hover {
      background-color: $success-dark;
    }
  }

  .error {
    color: white;
    background-color: $error;

    &:hover {
      background-color: $error-dark;
    }
  }

  .icon {
    color: white;
  }
}

.book-client-infos {
  display: flex;
  flex-direction: column;

  &-table {
    border-spacing: 16px;
  }
}

.promotion-progress {
  display: flex;
  align-items: center;

  > * {
    margin-right: 8px;
  }
}

.promotion-lot-attributer {
  display: flex;
  align-items: center;

  > * {
    margin-right: 4px;
  }
}

.promotion-management {
  margin-top: 16px;

  &-charts {
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include screen(xwide) {
      flex-direction: column;
    }

    .chart {
      height: 400px;
      width: 600px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      .empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .icon {
          width: 200px;
          height: 200px;
          opacity: 0.5;
        }
      }
    }
  }
}
