.lenders-tab > h1 {
  margin-top: 40px;
}

.lenders-tab-empty-state {
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;

  .collection-icon {
    width: 100px;
    height: 100px;
    padding: 40px;
  }
}

.lenders-list {
  margin-top: 32px;

  .lender {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    min-width: 350px;
    margin-right: 16px;
    margin-bottom: 16px;

    h3 {
      margin: 0;
    }

    .offers {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      width: 100%;
    }

    .lender-offer {
      margin-bottom: 4px;
      padding: 16px;

      border: 2px solid $border-grey;
      border-radius: 4px;

      &:hover {
        border-color: $primary;
      }
    }

    .click-to-edit-field {
      box-sizing: border-box;
      width: 100%;
      margin-top: 8px;
      padding: 8px;

      border: 2px solid #dee2e6;
    }
  }
}

.lender-picker-dialog {
  .organisation {
    display: flex;
    justify-content: space-between;

    &-detail {
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: space-between;
    }

    h4 {
      width: 200px;
      margin: 0;
      margin-right: 8px;
    }
  }

  &-type {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  hr {
    margin: 0;
  }
}

.lender-picker-structures {
  display: flex;
  align-items: center;

  &-separator {
    width: 2px;
    height: 30px;
    margin: 0 4px;

    background-color: $border-grey;
  }
}
