.dashboard-recap-finance {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  flex-grow: 2;

  h3 {
    margin-top: 0;
  }

  .accounting {
    display: flex;

     > * {
      display: flex;
      display: flex;
      align-items: center;
      flex-basis: 0;
      flex-direction: column;
      flex-grow: 1;
    }

    .divider {
      flex-basis: unset;
      flex-grow: 0;

      width: 1px;
      margin: 0 16px;
      margin-bottom: -16px;

      background-color: $border-grey;
    }

    .validator {
      min-height: 80px;
    }
  }

  .card-bottom {
    display: flex;

     > * {
      flex-grow: 1;
    }
  }
}

.dashboard-recap-sum {
  display: flex;
  align-items: center;
  align-self: flex-end;

  margin-top: 16px;

   > * {
    margin: 0;
  }

  .value {
    margin-left: 16px;
  }
}

.dashboard-recap-chart {
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0;
  }

  .chart {
    display: flex;
    align-items: center;

     > *:not(:nth-child(2)) {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}

.dashboard-recap-chart-info {
  display: flex;
  flex-direction: column;

  padding: 0 16px;

  .value {
    font-size: 3em;
    line-height: 1em;
  }
}

.dashboard-recap-chart-legend {
  display: flex;
  flex-direction: column;

  max-width: 300px;
  margin-left: 24px;

  .legend-line {
    display: flex;
    align-items: center;

    .color {
      flex-shrink: 0;

      width: 16px;
      height: 16px;
      margin-right: 8px;

      background-color: white;
    }

    .id {
      flex-grow: 1;

      white-space: normal;
    }
  }
}

.dashboard-recap-finance-empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  min-height: 400px;
  padding: 32px;

  .icon {
    width: 120px;
    height: 120px;
    margin-bottom: 32px;

    color: $primary;
  }

  h3 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }
}
