.promotion-lot-page {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 16px;

  h1 {
    display: flex;
    align-items: center;
  }

  .promotion-lots-manager {
    display: flex;
    align-items: center;

    > * {
      margin-right: 4px;
    }
  }

  .solvent,
  .non-solvent {
    background-color: $success;
    color: white;
    border-radius: 4px;
    padding: 4px;
  }

  .non-solvent {
    background-color: $warning;
  }

  .promotion-lot-attributer {
    display: flex;
    align-items: center;

    > * {
      margin-right: 4px;
    }
  }

  .sold {
    background-color: $success;
    color: white;
    border-radius: 4px;
    padding: 4px;
  }

  .promotion-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

    > * {
      margin-right: 4px;
    }
  }
}

.priority-order {
  display: flex;

  > * {
    margin-right: 4px;
  }

  .primary {
    color: white;
    background-color: $primary;
  }

  .success {
    color: white;
    background-color: $success;
  }

  .error {
    color: white;
    background-color: $error;
  }

  .icon {
    color: white;
  }
}

.book-client-infos {
  display: flex;
  flex-direction: column;

  &-table {
    border-spacing: 16px;
  }
}

.promotion-progress {
  display: flex;
  align-items: center;

  > * {
    margin-right: 4px;
  }
}
