.single-user-page h1 {
  float: left;
}

.single-user-page .impersonate-link {
  float: right;
}

.admin-loan {
  justify-content: space-between;

  margin-bottom: 16px;
  .flex-col {
    padding-right: 32px;
    padding-bottom: 8px;
    label {
      margin: 0;

      color: #222;
    }
  }
}

.single-user-page-header {
  display: flex;
  flex-direction: column;

  .top {
    display: flex;

    h1 {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-grow: 1;

      margin: 0;
    }
  }

  .bottom {
    display: flex;
  }

  .created-at {
    margin-bottom: 32px;
  }
}
