.offer-list-item {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  border: 1px solid $border-grey;
  padding: 16px;
  margin-bottom: 16px;

  h3 {
    margin: 0;
    padding: 16px;
  }

  &-detail {
    display: flex;
    flex-wrap: wrap;
  }

  &-value {
    flex-basis: 25%;
    min-width: 140px;
    padding: 8px;
    box-sizing: border-box;
  }

  .value {
    display: flex;
    flex-direction: column;

    label {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 80%;
    }

    h4 {
      margin: 0;
    }
  }
}
