.offer-list-item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;

  margin-bottom: 16px;
  padding: 0;
  padding: 16px;

  border: 1px solid $border-grey;

  img {
    align-self: center;
    width: 150px;
    margin-bottom: 16px;
  }

  &-detail {
    display: flex;
    flex-wrap: wrap;
  }

  &-value {
    flex-basis: 20%;

    box-sizing: border-box;
    min-width: 140px;
    padding: 8px;
  }

  .icon {
    width: 25px;
    height: 25px;
    margin-bottom: 16px;
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .value {
    display: flex;
    flex-direction: column;

    label {
      overflow: hidden;

      margin: 0;

      white-space: nowrap;
      text-overflow: ellipsis;

      font-size: 80%;
    }

    h4 {
      margin: 0;
    }
  }

  &-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    > button {
      margin: 8px;
      padding: 8px;
    }

    > span > button {
      margin: 8px;
      padding: 8px;
    }
  }
}

.offer-list-sorting {
  display: flex;
  align-items: center;

  margin-bottom: 16px;
}
