div.strategy-choices {
  display: flex;
  flex-direction: column;

  width: 100%;
}

div.strategy-choices .choice {
  padding: 0;

  cursor: default;
}

div.strategy-choices .choice .content {
  display: flex;
  flex-direction: column;

  padding: 16px;
}

div.strategy-choices .choice .content:hover {
  cursor: pointer;
}

div.strategy-choices .choice .content:hover.disabled {
  cursor: default;
}

div.strategy-choices .choice .content .top {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 8px;
}

div.strategy-choices .choice .content .top .title {
  margin: 0;
}

div.strategy-choices .choice .content .top .recommended {
  margin-left: 8px;
  padding: 2px 4px;

  color: #fff;
  border-radius: 4px;
  background-color: $primary;
}

div.strategy-choices {
  display: flex;
  flex-direction: column;

  width: 100%;
}

div.strategy-choices .choice {
  padding: 0;

  cursor: default;
}

div.strategy-choices .choice .content {
  display: flex;
  flex-direction: column;

  padding: 16px;
}

div.strategy-choices .choice .content:hover {
  cursor: pointer;
}

div.strategy-choices .choice .content:hover.disabled {
  cursor: default;
}

div.strategy-choices .choice .content .top {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 8px;
}

div.strategy-choices .choice .content .top .title {
  margin: 0;
}

div.strategy-choices .choice .content .top .recommended {
  margin-left: 8px;
  padding: 2px 4px;

  color: #fff;
  border-radius: 4px;
  background-color: $primary;
}
