.www-footer {
  position: relative;

  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;

  box-sizing: border-box;
  width: 100%;
  min-height: 600px;
  padding: 32px;

  line-height: 1.4em;

  @include screen(med) {
    padding: 16px;
  }
}

.www-footer .waves {
  z-index: -2;
  top: 300px;

  transform: scale(1, -1);
}

.www-footer .waves svg {
  overflow: visible;
}

.www-footer h3,
.www-footer p {
  color: white;
}

.www-footer h3 {
  margin-top: 0;
  margin-bottom: 16px;
}

.www-footer .cta {
  margin-bottom: 16px;
}

.www-footer .www-footer-content {
  flex: 1;

  width: 100%;
  max-width: 800px;
  margin-top: 200px;
}

.home-page__footer {
  .www-footer-content {
    flex: none;
  }
}

.www-footer .www-footer-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  min-height: 65px;
}

.www-footer .www-footer-top .tagline {
  flex-basis: 500px;
  flex-grow: 0;
}

.www-footer .www-footer-top .cta {
  flex-shrink: 0;
}

.www-footer hr {
  width: 100%;

  color: white;
}

.www-footer .www-footer-links {
  display: flex;
  justify-content: space-between;
}

.www-footer .www-footer-links h4 {
  color: white;
}

.www-footer .www-footer-links .links {
  display: flex;
}

.www-footer .www-footer-links .list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.www-footer .www-footer-links a {
  margin-bottom: 8px;

  text-decoration: none;

  color: white;
}

.www-footer .www-footer-links a:hover {
  text-decoration: underline;
}

.www-footer .company {
  width: 100%;
  max-width: 400px;
  padding-left: 8px;
}

.www-footer .copyright {
  flex-shrink: 0;

  margin-bottom: 0;

  text-align: center;

  color: white;
}

.www-footer .social-links {
  display: flex;
  flex-shrink: 0;
}

.www-footer .social-links a {
  padding: 8px;

  opacity: 1;
  color: white;
}

.www-footer .social-links a:hover {
  opacity: 0.5;
}

.www-footer .switzerland {
  width: 20px;
  height: 20px;
  margin-bottom: -2px;

  color: red;
  background-color: white;
}
