.widget1-starter {	
  display: flex;	
  align-items: center;	
  flex-direction: column;	

  width: 300px;	
  height: 500px;	
}	

.widget1-starter .title {	
  padding: 16px 0;	

  text-align: center;	
}