.borrower-admin-form,
.property-admin-form {
  display: flex;
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: space-around;

   > * {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    max-width: 400px;
    margin: 0 16px;
  }
}
