.validator {
  display: flex;
  align-items: stretch;
  justify-content: center;

  width: 100%;
  max-width: 400px;
}

.validator label {
  width: 100%;
  margin: 0;
  margin-top: 16px;
}

.validator p:first-child {
  margin: auto;

  text-align: left;
}

.validator .result {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
}

.validator .result div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 0;

  transition: all 0.2s $bezier;
}

.validator .result div p:last-of-type {
  // Make sure the numbers aren't wrapped	
  flex-shrink: 0;

  margin: 0;
}

.validator .result div p:first-of-type {
  margin: 0;
}

.validator .result div p span.sum {
  margin-top: 16px;
  padding-top: 4px;

  border-top: solid 1px #808080;
}

.validator .result div p .fa {
  width: 21px;

  text-align: center;
}

.validator .result div:hover {
  transform: scale(1.03);

  opacity: 1;
  color: #000;
}

.validator .result div:hover.no-scale {
  transform: none;
}

.validator .result div:hover p,
.validator .result div:hover p {
  opacity: inherit;
  color: inherit;
}
