.borrower-forms {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: flex-start;

  &-form {
    margin: 0 16px;
    max-width: 400px;
  }

  .side-recap {
    position: fixed;
    top: 800px;
    display: none;
    width: 300px;
    left: 172px;

    &.right {
      left: unset;
      right: 48px;
    }
  }

  @media (min-width: 1700px) {
    .side-recap {
      display: block;
    }
  }

  @media (min-width: 2000px) {
    .side-recap {
      display: block;
      left: 272px;

      &.right {
        right: 148px;
      }
    }
  }

  @media (min-width: 2300px) {
    .side-recap {
      display: block;
      left: 372px;

      &.right {
        right: 248px;
      }
    }
  }
}

.user-form {
  width: unset;
}
