.borrower-forms {
  display: flex;
  align-items: flex-start;
  align-self: center;
  justify-content: center;

  &-form {
    width: 400px;
    padding: 0 16px;

    &.second {
      border-left: solid 1px $border-grey;
    }
  }

  .side-recap {
    position: fixed;
    left: 172px;

    display: none;

    width: 300px;

    &.right {
      right: 48px;
      left: unset;
    }
  }

  @media (min-width: 1700px) {
    .side-recap {
      display: block;
    }
  }

  @media (min-width: 2000px) {
    .side-recap {
      left: 272px;

      display: block;

      &.right {
        right: 148px;
      }
    }
  }

  @media (min-width: 2300px) {
    .side-recap {
      left: 372px;

      display: block;

      &.right {
        right: 248px;
      }
    }
  }
}
