.simple-max-property-value {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
  }

  &.loading {
    align-items: center;
    justify-content: center;

    > * {
      display: flex;
      align-items: center;
      flex-direction: column;

      text-align: center;
    }
  }

  .empty {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    max-width: 500px;
    padding: 32px;

    text-align: center;

    h4 {
      margin-bottom: 32px;
    }

    .icon {
      width: 64px;
      height: 64px;
    }
  }

  .mui-select {
    width: calc(50% - 4px);
    min-width: 160px;
    max-width: 200px;
  }

  &.blue .max-property-sharing-label {
    color: white;
  }

  &-signup {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      max-width: 500px;
      margin-bottom: 32px;
    }

    .autoform {
      label {
        color: white;

        @include screen(wide) {
          color: #666666;
        }
      }

      li {
        color: white;

        @include screen(wide) {
          color: #666666;
        }
      }

      div[class^='MuiInputBase-root']::before {
        border-bottom: 1px solid white;

        @include screen(wide) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.42);
        }
      }

      div:not([value='']) {
        color: white;

        @include screen(wide) {
          color: #444;
        }
      }

      button svg {
        color: white;

        @include screen(wide) {
          color: $primary;
        }
      }

      button[disabled] svg {
        color: rgba(0, 0, 0, 0.25) !important;
      }
    }
  }
}
