.single-contact-page-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.single-contact-page-infos {
  > * {
    padding: 8px;
  }
  .organisations {
    display: flex;
    flex-direction: row;
    align-items: center;
    > * {
      padding: 8px;
    }
  }

  .contact-details {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
