@import '{}/client/css/variables.scss';

ul.side-nav-list {
  list-style: none;
  text-decoration: none !important;
  width: 100%;
  color: $success;
  margin: 0;
  padding: 0;
}

ul.side-nav-list li {
  height: 64px;
}

ul.side-nav-list li a {
  height: 64px;
  display: flex;
  color: rgba(#222, 0.2);
  font-weight: 400 !important;
  text-decoration: none;
  transition: all 0.1s ease;
}

ul.side-nav-list li a:hover {
  text-decoration: none;
  border-left: solid 3px rgba($primary, 0.3);
  color: rgba(#222, 0.8);
}

ul.side-nav-list li a.active-link {
  border-left: solid 3px $primary;
  color: #222;
}

ul.side-nav-list li a.active-link h5 {
  color: $primary;
}

ul.side-nav-list li a .icon {
  display: inline-flex;
  align-items: center;
  padding: 0;
  color: inherit !important;
  width: 80px;
  justify-content: center;
}

ul.side-nav-list li a .icon svg {
  color: inherit !important;
}

ul.side-nav-list li a h5 {
  display: inline-flex;
  align-items: center;
  font-weight: 400 !important;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}
