.borrowers-adder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;

  .card1 {
    padding: 16px;
    display: flex;
    flex-direction: column;

    h1 {
      margin-bottom: 0;
    }

    p {
      margin-top: 16px;
      margin-bottom: 40px;
    }
  }
}
