.offer-recap-dialog {
  display: flex;
  flex-direction: column;

  p,
  ul {
    margin: 0;
  }

  img {
    align-self: center;

    width: 200px;
    margin-bottom: 40px;
  }

  .rates {
    display: flex;
    flex-wrap: wrap;

    > * {
      margin-right: 16px;

      p {
        margin: 0;
        margin-top: 8px;
      }

      h4 {
        margin: 0;
      }
    }
  }
}
