.max-property-value {
  display: flex;
  align-self: center;
  flex-direction: column;

  padding: 24px;

  &-empty-state {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .icon {
      flex-basis: 50%;
      flex-grow: 1;

      width: 80px;
      height: 80px;

      color: $primary;
    }

    h4,
    p {
      margin: 8px 0 8px 0;

      text-align: center !important;
    }
  }

  .mui-select {
    max-width: 200px;
    min-width: 160px;
    width: calc(50% - 4px);
  }

  &-results {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    hr {
      width: 100%;
      margin: 0;
      margin-top: 16px;
    }

    .top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        margin: 0;
      }

      h3 {
        margin: 0 0 8px 0;
      }
    }

    &-selects {
      display: flex;
      align-self: stretch;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-table {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin: 32px 0;

      .money-range {
        margin: 0;
        display: flex;
        align-items: center;

        > * {
          flex-basis: 45%;
          flex-grow: 1;

          &.divider {
            flex-shrink: 1;
            text-align: center;
            flex-basis: 10%;

            svg {
              width: 24px;
              height: 24px;
            }
          }

          &:last-child {
            text-align: right;
          }
        }

        @include screen(med, min) {
          font-size: 1.3em;
        }

        &.big {
          font-size: 1.2em;

          @include screen(xsmall) {
            font-size: 1.05em;
          }

          @include screen(med, min) {
            font-size: 1.4em;
          }
        }

        white-space: nowrap;
      }

      .labels {
        justify-content: space-between;
      }

      .label {
        margin-top: 16px;
        margin-bottom: 4px;
        text-transform: uppercase;
        opacity: 0.8;
      }
    }

    h3,
    h4 {
      margin: 0;

      white-space: nowrap;
    }

    button {
      margin-top: 16px;
    }
  }

  &.blue .max-property-sharing-label {
    color: white;
  }
}

.max-property-sharing {
  @include screen(xsmall) {
    padding-left: 0;
    padding-right: 0;
  }

  &-label {
    display: inline-flex;
    align-items: center;

    > * {
      display: inline-flex;
      align-items: center;

      &.error {
        background-color: $error;
        color: white;
        border-radius: 6px;
        padding: 0 2px 0 4px;
      }
    }
  }
}
