$footer-height: 64px;

.max-property-value {
  display: flex;
  align-self: center;
  flex-direction: column;

  padding: 32px;

  @include screen(small) {
    padding: 16px;
  }

  @include screen(xsmall) {
    padding: 8px;
  }

  &.simple {
    align-self: unset;
  }

  h2 {
    margin: 0;
  }

  &.noPadding {
    padding: 0;
  }

  &-empty-state {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .icon {
      flex-basis: 50%;
      flex-grow: 1;

      width: 80px;
      height: 80px;

      color: $primary;
    }

    h4,
    p {
      margin: 8px 0 8px 0;

      text-align: center !important;
    }
  }

  &-results {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    hr {
      width: 100%;
      margin: 0;
      margin-top: 16px;
    }

    .top {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      h2 {
        margin: 0;
      }

      h3 {
        margin: 0 0 8px 0;
      }
    }

    .show-best-toggle {
      align-self: center;

      > * {
        display: flex;
        align-items: center;
        justify-content: center;

        > * {
          font-size: initial;
        }
      }
    }

    &-selects {
      display: flex;
      align-self: stretch;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 16px;
      align-items: center;

      .mui-select {
        width: calc(50% - 4px);
        min-width: 160px;
        max-width: 300px;
      }

      p.locked-canton {
        font-size: 1.3rem;
        margin-top: 8px;
        text-transform: uppercase;
      }
    }

    &-table {
      display: flex;
      align-items: stretch;
      flex-direction: column;

      margin: 16px 0 32px 0;

      .balance-sheet,
      .sums {
        display: flex;

        .left,
        .right {
          display: flex;
          flex-basis: 50%;
          flex-direction: column;
        }

        .right {
          text-align: right;
        }

        .money {
          @include screen(med, min) {
            font-size: 1.3em;
          }
        }
      }

      .label {
        margin-top: 16px;
        margin-bottom: 4px;

        text-transform: uppercase;

        opacity: 0.8;

        @include screen(small) {
          font-size: 0.85em;
        }
        @include screen(xsmall) {
          font-size: 0.75em;
        }
      }
    }

    h3,
    h4 {
      margin: 0;

      white-space: nowrap;
    }

    button {
      margin-top: 16px;
    }

    .recap-value {
      font-size: 4em;
      font-weight: bold;
      margin: 64px 0 16px 0;

      @include screen(med) {
        margin: 32px 0 16px 0;
        font-size: 3em;
      }

      @include screen(small) {
        font-size: 2em;
      }
    }

    .show-recap-button {
      align-self: center;
    }
  }

  &.blue {
    .max-property-sharing-label {
      color: white;
    }

    .icon {
      color: white;
    }
  }

  &-sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: $footer-height;

    color: white;
    background-color: $primary;

    .calculate {
      border: 1px solid white;
      padding: 4px 16px;
      border-radius: $border-radius;
    }

    h2,
    h3,
    h4 {
      color: white;

      @include screen(small) {
        font-size: 1.3rem;
      }
    }

    h2,
    h3 {
      margin: 0;
    }

    &.success {
      color: white;
      background-color: $success;
    }

    .sticky-result {
      h3 {
        margin-top: 8px;
      }
    }
  }

  &.blue .max-property-sharing-label {
    color: white;
  }

  &-signup {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      width: 100px;
      height: 100px;
      margin: 30px 0;
    }

    h4 {
      max-width: 500px;
      margin-bottom: 32px;
    }
  }

  &-ready-title {
    padding: 32px;
  }
}

.max-property-sharing-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
