// html {
//   @include font-size(14px);
//   @include screen(xsmall, min) {
//     @include font-size(16px);
//   }
//   @include screen(med, min) {
//     @include font-size(18px);
//   }
//   // @include screen(xwide, min) {
//   //   @include font-size($font-size-m);
//   // }
// }

body {
  background-color: #fff;

  // Same as .text-m
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.85px;

  @media screen and (max-width: $med) {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.74px;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-right: 16px;
  padding-left: 16px;
}

section,
.section {
  // TODO: get standard section vertical spacing for mobile
  padding: 16px 0;

  @media (min-width: $med) {
    padding: 96px 0;
  }

  &.no-top-pad {
    padding-top: 0px;
  }
}

.text-l {
  font-size: 20px;
  line-height: 1.4;

  @media screen and (max-width: $med) {
    font-size: 16px;
    line-height: 1.44;
  }
}

.text-m {
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: 0.85px;

  @media screen and (max-width: $med) {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.74px;
  }
}

.text-s {
  font-size: 12px;
  color: black;
  line-height: normal;
}

@media screen and (max-width: $med) {
  h1,
  .font-size-1 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  
  h2,
  .font-size-2 {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  
  h3,
  .font-size-3 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}