body {
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;

  @media (max-width: $med - 1) {
    &--mobile {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  @media (min-width: $med) {
    &--desktop {
      max-width: 1200px;
      margin: auto;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

section,
.section {
  // TODO: get standard section vertical spacing for mobile
  padding: 50px 0;

  @media (min-width: $med) {
    padding: 128px 0;
  }

  &.no-top-pad {
    padding-top: 0px;
  }
}
