staging/*
!staging/launcher.js
!staging/settings-staging.json

production/*
!production/launcher.js
!production/settings-production.json

deploy.yml

ssh-tunnel/*
!ssh-tunnel/openSSHTunnel.js
!ssh-tunnel/connectToDB.js
!ssh-tunnel/pullDbLocally.js
!ssh-tunnel/productionDbToStaging.js
!ssh-tunnel/productionDbToDev.js