.promotion-users-table {
  margin-bottom: 16px;
  padding: 50px;
}

.search-pro-users {
  display: flex;
  flex-direction: column;

  padding: 16px;

  .user {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
     > * {
      padding: 8px;
    }
  }
}
