.promotion-users-table {
  margin-bottom: 16px;
  padding: 50px;
}

.user-list {
  width: 400px;
}

.user {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  > * {
    padding: 8px;
  }
}
