@import './Properties/PropertyCard/PropertyCard.scss';

.simple-dashboard-page {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;

  @include screen(wide) {
    padding-bottom: 64px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &-footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 16px;
  }

  &-borrowers {
    display: flex;
    align-self: center;

    width: 100%;
    max-width: calc(#{$borrowers-item-width} * 2);
    margin-top: 40px;

    border-radius: 8px;

    @include screen(wide) {
      flex-direction: column;
    }

    &-left,
    &-right {
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      flex-shrink: 1;

      box-sizing: content-box;
      width: 50%;
      max-width: $borrowers-item-width;


      @include screen(wide) {
        max-width: unset;
      }
      @include screen(xsmall) {
        padding: 16px;
      }
    }

    &-left {
      max-width: 50%;
      height: 50%;
      display: flex;
      align-items: stretch;
      flex-direction: column;

      @include screen(wide) {
        align-self: center;
        flex-basis: 100%;

        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
      }

      .property-form {
        align-items: stretch;

        .plus {
          padding: 40px;
          color: $primary;

          font-size: 4em;
        }
      }
    }

    &-right {
      height: 50%;
      margin-top: 0;
      margin-left: 24px;
      padding: 0;
      border-radius: 8px;

      @include screen(wide) {
        width: 100%;
        margin-left: 0;
      }
    }


    .borrowers-card {
      background: white;
      border-radius: 8px;

      @include screen(small) {
        padding: 16px;
      }

      &-recap {
        margin: 16px 0;
      }

      &-borrowers {
        flex-grow: 1;
      }

      &-empty {
        margin: 40px 0;

        text-align: center;
      }

      &-header {
        display: flex;
        flex-direction: column;

        margin-bottom: 24px;

        h2 {
          margin: 0;
          margin-bottom: 8px;
        }

        h4 {
          display: flex;
          align-items: center;

          margin-top: 0;
          margin-bottom: 40px;
        }
      }

      &-cta {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        margin-bottom: 32px;

        span {
          display: flex;
          align-items: center;

          white-space: nowrap;

          &.secondary {
            margin-right: 16px;
          }
        }
      }

      .validator {
        max-width: unset;
      }

      .recap-item {
        margin-bottom: 8px;
      }

      .recap-value {
        font-size: 1.2em;
        font-weight: bold;
      }

      .header {
        display: flex;
        align-items: center;

        .icon {
          width: 40px;
          height: 40px;
          margin-right: 16px;

          color: #666;
        }
      }

      .borrowers-form {
        display: flex;
        flex-direction: column;

        .core-tabs {
          padding: 0;

          border-radius: 0;
          background: unset;
          box-shadow: unset;

          &-top {
            margin: 0;
          }

          .tab-content {
            padding: 0;
          }
        }

        .borrower-tab-labels {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;

          white-space: nowrap;
        }

        .borrower-form {
          display: flex;
          align-items: stretch;
          flex-direction: column;

          margin-top: 16px;

          label[for='bonusExists'] {
            font-size: 0.9rem;
          }

          h3:first-of-type {
            margin-top: 16px !important;
            margin-bottom: 16px !important;
          }

          .borrower-remover {
            align-self: flex-end;

            margin-bottom: 16px;
          }
        }
      }

      button {
        align-self: center;

        @include screen(small) {
          align-self: stretch;
        }
      }

      .borrowers-progress {
        margin-bottom: 32px;

        &-signup {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;

          border-color: $primary;

          @include screen(small) {
            align-items: stretch;
            flex-direction: column;
          }

          > div {
            display: flex;
            align-items: center;
            .icon {
              width: 24px;
              height: 24px;

              color: $primary;
            }
          }
        }

        &-recap {
          margin-top: 8px;
          padding: 8px;

          cursor: pointer;

          border-radius: $border-radius;

          h4 {
            margin-top: 0;
          }

          &:hover {
            background-color: $grey3;
          }
        }
      }

      .button-switch {
        align-self: center;

        margin-bottom: 24px;
      }

      .flex-col {
        flex-wrap: nowrap;
      }
    }

    .max-property-value {
      height: 50%;

      color: white;
      border-radius: 8px;
      background-color: $primary;

      h1,
      h2,
      h3,
      h4 {
        color: white;
      }

      .show-recap-button {
        color: white;
        border-color: white;
      }
    }
  }

  &-ctas {
    display: flex;
    align-self: center;
    justify-content: space-between;

    width: 100%;
    max-width: calc(#{$borrowers-item-width} * 2);
    margin-top: 16px;

    @include screen(custom, max, 370) {
      align-items: stretch;
      flex-direction: column-reverse;

      > * {
        margin-bottom: 16px;
      }
    }
  }

  &-ctas.one-button {
    justify-content: flex-end;
  }
}

.full-application-description {
  display: block;

  img {
    display: block;

    width: 175px;
    height: 175px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
