.box {
  position: relative;

  padding: 16px;

  border: 1px solid $border-grey;
  border-radius: 8px;

  &-title {
    position: absolute;
    top: -12px;
    left: 12px;

    margin: 0;
    padding: 0 4px;

    background-color: white;

    line-height: 24px;

    > * {
      margin: 0;
    }
  }
}
