.interests-page {
  display: flex;
  flex: 1;
  flex-direction: column;

  h1 {
    color: $primary;
  }

  .interests-page-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
    padding: 32px;
    padding-top: 0;@include screen(med) {
      padding: 16px;
    }
  }
}

.interests-page-table {
  display: flex;
  flex-direction: column;

  margin: 80px 32px 0 32px;

  transform: scale(1.25);@include screen(med, min) {
    width: $small;
  }
}

.interests-table-trend {
  &.UP {
    color: $error;
  }

  &.DOWN {
    color: $success;
  }
}

.interests-table-date {
  align-self: flex-end;

  margin-top: 16px;
}
