.account-page {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  max-width: 500px;
  margin: auto;

  &-header {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    margin-bottom: 40px;

    h1 {
      margin-bottom: 0;
    }

    h3 {
      margin-top: 0;
    }

    .icon {
      width: 100px;
      height: 100px;

      color: #888;
    }
  }

  &-info {
    > div {
      margin-bottom: 32px;
    }
  }
}
