.home-page-reviews-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1200px;
}

.home-page-reviews-carousel button {
  z-index: 1;

  flex-shrink: 0;
}

.home-page-reviews-carousel .carousel-wrapper {
  position: relative;

  display: flex;

  width: 70%;
  height: 300px;

  @include screen(small) {
    height: 400px;
  }
}

.home-page-reviews-carousel .carousel-card {
  position: absolute;
  z-index: 0;
  top: 0;

  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 32px;

  @include screen(med) {
    width: calc(100% + 16px);
    /* Make the cards extend below the buttons which looks a bit better */
    margin: 0 -8px;
    padding: 16px;
  }
}

.home-page-reviews-carousel .carousel-card > * {
  align-self: center;

  width: 100%;
  max-width: 500px;
}

.carousel-card .carousel-card-top {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.carousel-card .carousel-card-name,
.carousel-card .carousel-card-title {
  align-self: flex-start;
}

.carousel-card .carousel-card-name {
  margin: 0;
}

.carousel-card .carousel-card-title {
  margin-top: 0;
}

.carousel-card .carousel-card-text {
  display: flex;
  flex-direction: column;

  margin-bottom: 0;
}
