.search-container {
  width: 100%;
  text-align: center;
}
.search-title,
.list {
  width: 100%;
}
.search-field {
  width: 100%;
  font-size: inherit;
}
.search-button {
  font-size: 20px;
}
.search-results-collection {
  display: block;
}
.link {
  text-decoration: none;
}
