.app-page {
  .app-item-wrapper {
    display: flex;
    align-items: flex-start;

    width: 100%;
    max-width: 600px;
    margin-bottom: 32px;
  }

  .app-item {
    &.card1 {
      flex-grow: 1;
    }

    .title {
      margin-top: 0;
    }

    .subtitle {
      margin-top: 0;
    }

    .main-text {
      align-self: center;

      margin: 40px 0;
    }
  }
}

.anonymous-app-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card1 {
    margin-bottom: 40px;
  }
}

.with-loan-start {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include screen(small) {
    padding: 24px;
  }

  h2 {
    margin: 0;
  }

  .cta {
    margin-top: 32px;
  }

  .icon {
    width: 120px;
    height: 120px;
    padding: 16px;
    padding-bottom: 64px;
  }
}
