@import './SuperDashboard/SuperDashboard.scss';

.app-page {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  .app-item-title {
    align-self: center;
  }

  .app-item-wrapper {
    display: flex;
    align-items: flex-start;
    align-self: center;

    width: 100%;
    max-width: 600px;
    margin-bottom: 32px;
  }

  .app-item {
    &.card1 {
      flex-grow: 1;
    }

    .title {
      margin-top: 0;
    }

    .subtitle {
      margin-top: 0;
    }

    .main-text {
      align-self: center;

      margin: 40px 0;
    }
  }

  .unverified-email {
    z-index: 1;

    align-self: center;

    margin-bottom: 16px;
  }
}

.anonymous-app-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .welcome-screen {
    align-self: stretch;

    margin-bottom: 40px;
  }
}

.with-loan-start {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;

  margin-bottom: 40px;
  padding: 40px;

  text-align: center;

  @include screen(small) {
    padding: 24px;
  }

  h2 {
    margin: 0;
  }

  .cta {
    margin-top: 32px;
  }

  .icon {
    width: 120px;
    height: 120px;
    padding: 16px;
    padding-bottom: 64px;
  }
}

.property-start {
  h3 {
    margin-bottom: 0;
  }
  h4 {
    margin-top: 0;
  }
}
