.actions-tab {
  display: flex;
  align-items: center;
  flex-direction: column;

  > * {
    margin-bottom: 8px;
  }

  .name-form {
    display: flex;
    align-items: center;
    position: relative;

    margin-bottom: 24px;

    > * {
      margin-right: 8px;
    }
  }
}
