.actions-tab {	
  display: flex;	
  align-items: center;	
  flex-direction: column;	

  > * {	
    margin-bottom: 8px;	
  }	

  .name-form {	
    position: relative;	

    display: flex;	
    align-items: center;	

    margin-bottom: 24px;	

    > * {	
      margin-right: 8px;	
    }	
  }	
}