.tranche-picker {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
}

.tranche-picker .picker-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tranche-picker .picker-content .selector {
  display: flex;
  flex-direction: column;
}

.tranche-picker .picker-content .selector .tranche-count {
  display: flex;
  align-items: center;
}

.tranche-picker .buttons {
  display: flex;
  justify-content: center;
}

.tranche-picker #tranche-chart {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
