.dashboard-progress {
  background-color: $primary;
  margin-top: -16px;
  margin-left: -16px;
  margin-bottom: 16px;
  width: calc(100% + 32px);
  padding: 24px;
  color: white;

  .title {
    margin-bottom: 16px;
  }
}

.dashboard-progress .dashboard-progress-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .text {
    display: flex;
    padding: 24px 0 16px 0;
    .icon {
      margin-right: 16px;
    }
  }
}

.dashboard-progress .dashboard-progress-bar {
  position: relative;
}

.dashboard-progress .dashboard-progress-bar .steps {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.dashboard-progress-bar-step {
  display: flex;
  // flex-grow: 1;
  // flex-basis: 0;
  flex-direction: column;
  align-items: center;
}

.dashboard-progress .dashboard-progress-bar .step {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: #ced4da;
  margin-bottom: 8px;
  &.done {
    background-color: $success;
  }
}

.dashboard-progress .dashboard-progress-bar .dashboard-progress-bar-step {
  .fa {
    color: white !important;
    transform: scale(0.7);
  }
}

.dashboard-progress
  .dashboard-progress-bar
  .dashboard-progress-bar-step:first-of-type {
  align-items: flex-start;
}

.dashboard-progress
  .dashboard-progress-bar
  .dashboard-progress-bar-step:last-of-type {
  align-items: flex-end;
}

.dashboard-progress .dashboard-progress-bar .absolute-lines {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.absolute-lines .line {
  flex-grow: 1;
  height: 2px;
  background-color: red;
}

.absolute-lines .line:nth-child(1) {
  background-color: blue;
}

.absolute-lines .line:nth-child(2) {
  background-color: green;
}
