.single-loan-page .overview-tab .admin-section {
  display: flex;

  .admin-note {
    flex-grow: 1;
  }
}

.recapDiv {
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  width: 400px;
}
