// $step-circle-size: 25px;	

.dashboard-progress {
  box-sizing: border-box;
  width: calc(100% + 32px);
  margin-top: -16px;
  margin-bottom: 16px;
  margin-left: -16px;
  padding: 24px;

  color: white;
  background-color: $primary;

  .title {
    margin-bottom: 16px;
  }

  .loan-checklist-dialog {
    margin-top: 16px;
  }
}

.dashboard-progress .dashboard-progress-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  padding-top: 16px;

  .todo {
    display: flex;
    align-items: center;

    margin: 8px 0;

    &.link:not(.isDone) {
      cursor: pointer;
    }

    &.isDone {
      opacity: 0.5;
    }

    p {
      margin: 0;
    }

    .icon {
      margin-right: 16px;
    }

    .icon-arrow {
      margin-left: 8px;

      transition: margin-left 200ms $bezier;

      color: white;
    }

    &:hover {
      .icon-arrow {
        margin-left: 16px;
      }
    }
  }
}
