.dashboard-progress {
  box-sizing: border-box;
  width: calc(100% + 32px);
  margin-top: -16px;
  margin-bottom: 16px;
  margin-left: -16px;
  padding: 24px;

  color: white;
  background-color: $primary;

  .title {
    margin-bottom: 16px;
  }
}

.dashboard-progress .dashboard-progress-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .text {
    display: flex;
    align-items: center;

    padding: 24px 0 16px 0;
    .icon {
      margin-right: 16px;
    }
  }
}

.dashboard-progress .dashboard-progress-bar {
  position: relative;
}

.dashboard-progress .dashboard-progress-bar .steps {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-progress-bar-step {
  display: flex;
  align-items: center;
  // flex-grow: 1;
  // flex-basis: 0;
  flex-direction: column;
}

.dashboard-progress .dashboard-progress-bar .step {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  margin-bottom: 8px;

  border-radius: 50%;
  background-color: #ced4da;
  &.done {
    background-color: $success;
  }
}

.dashboard-progress .dashboard-progress-bar .dashboard-progress-bar-step {
  .fa {
    transform: scale(0.7);

    color: white !important;
  }
}

.dashboard-progress
  .dashboard-progress-bar
  .dashboard-progress-bar-step:first-of-type {
  align-items: flex-start;
}

.dashboard-progress
  .dashboard-progress-bar
  .dashboard-progress-bar-step:last-of-type {
  align-items: flex-end;
}

.dashboard-progress .dashboard-progress-bar .absolute-lines {
  position: absolute;

  display: flex;
  flex-direction: row;

  width: 100%;
}

.absolute-lines .line {
  flex-grow: 1;

  height: 2px;

  background-color: red;
}

.absolute-lines .line:nth-child(1) {
  background-color: blue;
}

.absolute-lines .line:nth-child(2) {
  background-color: green;
}
