
.dashboard-progress {
  margin-bottom: 16px;
  padding: 24px;

  .title {
    margin-bottom: 16px;
  }

  .loan-checklist-dialog {
    margin-top: 16px;
  }
}

.dashboard-progress .dashboard-progress-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  padding-top: 16px;

  .todo {
    display: flex;
    align-items: center;

    margin: 8px 0;

    &.link:not(.isDone) {
      cursor: pointer;
    }

    &.isDone {
      opacity: 0.5;
    }

    p {
      margin: 0;
    }

    .icon {
      margin-right: 16px;
    }

    .icon-arrow {
      margin-left: 8px;

      transition: margin-left 200ms $bezier;
    }

    &:hover {
      .icon-arrow {
        margin-left: 16px;
      }

      opacity: 0.8 !important;
    }
  }
}
