.financing-offers .structure {
  overflow: auto;

  max-height: 800px;
}

.financing-offers-header-image {
  display: flex;

  img {
    width: 120px;
  }
}

.offer-picker-list {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  &-item {
    position: relative;

    display: flex;
    flex-direction: column;

    margin-bottom: 16px;
    padding: 24px;

    .icon {
      position: absolute;
      top: 8px;
      left: 8px;

      width: 24px;
      height: 24px;
    }

    &:last-of-type {
      margin-bottom: 16px;
    }

    &.selected {
      border: 2px solid $success;
    }

    &:hover {
      cursor: pointer;
    }

    img {
      align-self: center;

      width: 100px;
      margin-bottom: 8px;
    }

    p,
    h4 {
      margin: 0;
    }

    h4 {
      margin-bottom: 8px;
    }

    .single-rate {
      margin-right: 8px;
    }
  }
}

.offer-picker-dialog {
  display: flex;
  flex-direction: column;

  p,
  ul {
    margin: 0;
  }

  img {
    align-self: center;

    width: 200px;
    margin-bottom: 40px;
  }

  .rates {
    display: flex;
    flex-wrap: wrap;

    > * {
      margin-right: 16px;

      p {
        margin: 0;
        margin-top: 8px;
      }

      h4 {
        margin: 0;
      }
    }
  }
}
