.image-carrousel {
  position: relative;

  transition: background 200ms ease;

  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

   > :first-child {
    position: absolute;
    top: calc(50% - 28px);
    left: 8px;
  }

   > :last-child {
    position: absolute;
    top: calc(50% - 28px);
    right: 8px;
  }
}
