.files-verification-tab {
  padding: 40px 0;

  .item-verificator {
    display: flex;
    align-items: center;
    flex-direction: row;

    border-top: 1px solid $border-grey;

     > * {
      margin-right: 8px;
    }
  }
}
