@import '{}/client/css/variables.scss';

@import './Widget1Nav/Widget1Nav.scss';
@import './Widget1SingleInput/Widget1SingleInput.scss';
@import './Widget1SingleInputForm/Widget1SingleInputForm.scss';
@import './Widget1Recap/Widget1Recap.scss';
@import './Widget1Monthly/Widget1Monthly.scss';
@import './Widget1Inputs/Widget1Inputs.scss';

.widget1-page {
  display: flex;
  height: calc(100% - #{$top-nav-height});
  overflow: auto;
  flex: 1;
  margin-top: $top-nav-height;
  flex-direction: column;
  box-sizing: border-box;
  background-color: $background-color;
  padding: 16px;
}

@media (min-width: 800px) {
  .widget1-page {
    padding: 80px;
  }
}

.widget1-page .widget1-part-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.widget1-page .input-form-placeholder {
  display: flex;
  flex-grow: 1;
  margin: 16px;
  padding: 16px;
}

.widget1-page .widget1-part-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.widget1-page .widget1-part-2 .card1 {
  padding: 16px;
  margin: 16px;
  flex-grow: 1;
  flex-basis: 400px;
  max-width: 400px;
}

.widget1-page .widget1-part-2 .card1 h2 {
  color: $primary;
}

.widget1-page .cta {
  align-self: flex-end;
  margin: 16px;
}
