.insurance-modifier {
    position: relative;

    .insurance-remover {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}
    

.insurance-estimated-revenue-infos {
  th {
    max-width: 100px;
    text-align: left;
  }
}
