.text {
  // when section appears on a blog post
  .post & {
    max-width: 684px;
    margin: 0 auto;
    padding-left: 23px;
    padding-right: 23px;

    // TODO: decide how to handle header variations in mobile/desktop, when Prismic outputs RichText
    h4 {
      width: 329px;
      height: 112px;
      font-family: Manrope_;
      font-size: 20px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: var(--2c2c2c);
    }

    p {
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.8;
      letter-spacing: normal;
      color: #000000;
    }
  }
}
