.monitoring-activity {
  .charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
      margin-right: 16px;
    }
  }
}

.revenues-calendar {
  display: flex;
  overflow-x: scroll;

  &-column {
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;

    padding: 8px;

    border-right: 1px solid $border-grey;

    &-header {
      display: flex;
      justify-content: space-between;

      padding: 8px;

      border-bottom: 1px solid $border-grey;

      hr,
      h4 {
        margin: 0;
      }

      &-amount {
        text-align: right;
      }
    }
  }

  &-item {
    margin: 4px 0;
    padding: 8px;

    &:hover {
      cursor: pointer;
    }

    .source-organisation {
      display: flex;
      justify-content: flex-end;
    }
  }
}
