.board {
  display: flex;
  overflow-x: scroll;
  align-items: stretch;

  padding: 8px;
  height: 1rem;
  overflow-y: hidden;

  //   Make sure the edge padding appears properly
  &:after {
    display: inline-block;
    flex-shrink: 0;

    width: 8px;

    content: '';
  }

  &-column {
    display: flex;
    align-items: stretch;
    flex-basis: 300px;
    flex-direction: column;
    flex-shrink: 0;

    margin: 4px;
    padding: 0;

    background-color: $grey3;
    overflow-x: hidden;

    &-subtitle {
      padding: 8px;
    }
  }
}
