div.strategy-choices {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.strategy-choices .choice {
  padding: 0;
  cursor: default;
}

div.strategy-choices .choice .content {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

div.strategy-choices .choice .content:hover {
  cursor: pointer;
}

div.strategy-choices .choice .content:hover.disabled {
  cursor: default;
}

div.strategy-choices .choice .content .top {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
  align-items: center;
}

div.strategy-choices .choice .content .top .title {
  margin: 0;
}

div.strategy-choices .choice .content .top .recommended {
  background-color: $primary;
  color: #fff;
  margin-left: 8px;
  border-radius: 4px;
  padding: 2px 4px;
}

div.strategy-choices {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.strategy-choices .choice {
  padding: 0;
  cursor: default;
}

div.strategy-choices .choice .content {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

div.strategy-choices .choice .content:hover {
  cursor: pointer;
}

div.strategy-choices .choice .content:hover.disabled {
  cursor: default;
}

div.strategy-choices .choice .content .top {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
  align-items: center;
}

div.strategy-choices .choice .content .top .title {
  margin: 0;
}

div.strategy-choices .choice .content .top .recommended {
  background-color: $primary;
  color: #fff;
  margin-left: 8px;
  border-radius: 4px;
  padding: 2px 4px;
}
