.promotions {
  &-filters {
    margin-bottom: 50px;
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
    }
  }

  &-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;

    @media screen and (min-width: $med) {
      grid-template-columns: 339px 339px;
      grid-gap: 30px;
    }

    @media screen and (min-width: $wide) {
      grid-template-columns: 555px 555px;
    }
  }
}

.promotion-item {
  img {
    max-width: 100%;
  }
}
