.promotions {
  &-filters {
    margin-bottom: 50px;
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    justify-items: center;
    justify-content: center;

    @media screen and (min-width: $med) {
      grid-template-columns: 339px 339px;
      column-gap: 30px;
      row-gap: 100px;
    }

    @media screen and (min-width: $wide) {
      grid-template-columns: 484px 484px;
      column-gap: calc(100% - 968px);
    }
  }
}

.promotion-item {
  border-bottom: solid 0.5px $body-text-light;
  padding-bottom: 20px;
  
  &-images {
    position: relative;
    height: 205px;

    img {
      width: 100%;
      height: inherit;
      object-fit: cover;

      &:not(:first-child) {
        display: none;
      }
    }

    &-next {
      position: absolute;
      bottom: 8px;
      right: 8px
    }

    &-previous {
      position: absolute;
      bottom: 8px;
      left: 8px
    }

    &-finished {
      position: absolute;
      top: 8px;
      right: 8px;
      background-color: $error;
      color: white;
      padding: 0 4px;
      border-radius: 4px;
    }

    @media screen and (min-width: $med) {
      height: 300px;
    }
  }

  &-name, &-lots-count {
    // Mobile/Plain/L/Light
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: $body-text;
    margin-bottom: 0;

    @media screen and (min-width: $med) {
      // Desktop/Plain/L/Light
      font-size: 20px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
    }
  }

  &-lots-count {
    opacity: 0.5;
  }

  &-description {
    // Desktop/Plain/S
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;

    @media screen and (min-width: $med) {
      // Desktop/Plain/M/Light
      font-size: 16px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.44;
      letter-spacing: normal;
    }
  }

  &-footer {
    display: flex;

    .interest-button {
      margin-left: auto;
    }
  }
}
