.footer {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  color: #2c2c2ce0;
  width: 100%;
  box-sizing: border-box;

  hr {
    width: 100%;
    background-color: #2c2c2c66;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    
    @media screen and (max-width: $med) {
      flex-direction: column;
      padding: 50px 0;
    }
  }
  
  &-bottom {
    margin-bottom: 16px;
  }

  &-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px;
    grid-row-gap: 8px;
    margin-bottom: 8px;

    &-category {
      display: flex;
      flex-direction: column;

      &-title {
        margin-bottom: 8px;
      }
    }

    &-item {
      color: #2c2c2ca0 !important;
      text-decoration: none !important;

      &:hover {
        color: black !important;
      }
    }
  }

  &-notices {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#888;

    a {
      color: $primary !important;
      text-decoration: underline !important;
    }

    p,
    h5,
    h6 {
      margin: 0;
    }

    h5,
    h6 {
      color:#888;
      font-size: 14px;

      @media screen and (max-width: $small) {
        font-size: 10px;
      }
    }
  }

  &-contact {
    flex-basis: 50%;
    margin-left: 16px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $med) {
      margin-left: 0;
      margin-top: 20px;
    }

    &-links {
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .social-links {
        svg {
          margin: 0;
          margin-right: 8px;
        }
      }
    }

    &-email {
      // Mobile/Title/H4
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: $body-text;

      &-icon {
        color: $primary;
        margin-right: 4px;
        svg {
          width: 16px;
          height: 16px;
        }
      }

      a:hover {
        text-decoration: underline !important;
      }
    }

    &-locations {
      display: flex;
      flex-direction: row;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #2c2c2ce0;

      @media screen and (max-width: $large) {
        flex-direction: column;
      }

      @media screen and (max-width: $med) {
        flex-direction: row;
      }

      @media screen and (max-width: $small) {
        flex-direction: column;
      }
    }

    &-location {
      &:hover {
        .footer-contact-location-city {
          color: black;
        }
      }
      
      &:first-child {
        margin-right: 8px;
        
        @media screen and (max-width: $large) {
          margin-right: 0;
        }
        
        @media screen and (max-width: $med) {
          margin-right: 8px;
        }
        
        @media screen and (max-width: $small) {
          margin-right: 0;
        }
      }
      
      margin-bottom: 16px;
      flex-grow: 0;
      flex-basis: 50%;
      
      a {
        text-decoration: none !important;
        color: #2c2c2ca0;
      }

      a:hover {
        color: black;
      }
      
      &-phone:hover {
        text-decoration: underline;
        color: $primary !important;
      }
      
      &-city {
        display: flex;
        color: #2c2c2ce0;
      }

      &-map-icon {
        margin-left: 8px;
        color: $primary;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .language-picker {
    align-self: flex-end;
    margin-top: 8px;
  }
}

.footer-fill {
  flex-grow: 1;
}
