.footer {
  padding-top: 24px;
  padding-bottom: 24px;

  nav.menu {
    margin-bottom: 56px;

    li {
      // Mobile/Plain/M/Light
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #000000;

      + li {
        margin-top: 5px;
      }
    }
  }

  .contact {
    margin-top: 56px;

    &-email,
    &-phone {
      // Mobile/Title/H4
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: $body-text;
    }

    hr {
      margin: 20px 0;
      height: 1px;
      color: $body-text-light;
    }

    &-locations {
      display: inline-flex;
      flex-direction: column;
      margin-bottom: 76px;
      // Mobile/Plain/M/Light
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #000000;
    }

    .location {
      border: 0.5px solid $body-text-light;
      border-radius: 4px;
      padding: 10px;
    }

    .location-city {
      display: flex;
      margin-bottom: 10px;
    }

    .location-map-icon {
      margin-left: 20px;
      color: $primary;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    .footer-notices {
      margin: 56px 0 24px;
      // Desktop/Plain/S
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.5);

      a {
        color: $primary;
      }

      > p {
        margin: 5px 0;
      }

      h5,
      h6 {
        // Mobile/Plain/M/Light
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
      }
    }
  }

  .social-links + .language-picker {
    margin-left: 40px;
  }

  @media (min-width: $med) {
    display: flex;
    justify-content: space-between;
    padding-top: 128px;
    padding-bottom: 128px;

    nav.menu {
      flex: 1;
      padding-bottom: 0;

      li {
        // Desktop/Title/H4
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: $body-text;
      }
    }

    .contact {
      flex-basis: 384px;
      margin-top: 0;

      &-email,
      &-phone {
        // Desktop/Title/H4
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: $body-text;
      }

      hr {
        height: 1px;
        color: $body-text-light;
      }

      &-locations {
        // Desktop/Plain/M/Light
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        color: #000000;
      }

      .footer-notices {
        h5,
        h6 {
          // Desktop/Plain/M/Light
          font-size: 16px;
        }
      }
    }
  }
}
