.CalendarDay__selected {
  color: white;
  background: $primary;
}

.CalendarDay__selected:hover {
  color: white;
  background: $primary;
}

.CalendarDay__selected:active {
  color: white;
  background: $primary;
}

.date-input {
  display: flex;

  width: 100%;
}

.date-input .SingleDatePicker,
.mui-text-input .SingleDatePicker {
  width: 100%;
  margin-bottom: 1px;
}

.date-input .SingleDatePicker .SingleDatePickerInput,
.mui-text-input .SingleDatePicker .SingleDatePickerInput {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  border: none;

  font-family: 'Eina04-Regular', 'Helvetica' !important;
}

.date-input .SingleDatePicker .SingleDatePickerInput .DateInput,
.mui-text-input .SingleDatePicker .SingleDatePickerInput .DateInput {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  justify-content: flex-start;

  padding: 0;

  text-align: center;

  input {
    border-bottom-width: 0;
  }
}

.date-input
  .SingleDatePicker
  .SingleDatePickerInput
  .DateRangePickerInput__close {
  display: flex;
}

.date-input
  .SingleDatePicker
  .SingleDatePickerInput
  .DateRangePickerInput__close
  svg {
  width: 12px;
  height: 12px;
}

.SingleDatePicker__picker--portal {
  z-index: 3;
}

.SingleDatePickerInput,
.DateInput,
.DateInput input {
  background-color: unset;
}

.DateInput input {
  flex-grow: 1;

  padding-top: 18.5px;
  padding-bottom: 18.5px;
}

.SingleDatePicker_picker, .DateRangePicker_picker {
  z-index: 2;
}
