.loan-checklist {
  display: flex;
  flex-wrap: wrap;

  &-section {
    display: flex;
    flex-direction: column;
  }

  &-list {
    display: flex;
    flex-direction: column;

    padding: 16px;

    > * {
      padding-bottom: 8px;
    }
  }

  .secondary {
    display: flex;
    align-items: center;

    > :first-child {
      margin-right: 4px;
    }
  }
}
