@import './WwwFooter/WwwFooter.scss';
@import './WwwTopNav/WwwTopNav.scss';

.www-layout {
  box-sizing: border-box;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}


.www-main {
  width: 100%;

  flex-grow: 1;
  flex-shrink: 0;
}