.signup-success {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 40px;

  @include screen(med) {
    padding: 0;
  }

  .card1 {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 32px;

    @include screen(med) {
      padding: 16px;
    }

    h3 {
      margin: 0;

      @include screen(med) {
        font-size: 1.3rem;
      }
    }

    .animated-success {
      width: 100px;
      height: 100px;
      margin-bottom: 40px;
      padding: 24px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
