.pro-layout {
  position: relative;

  display: flex;
  flex-direction: column;

  &-content {
    display: flex;
    flex-direction: column;

    margin-top: $top-nav-height;
    padding: 16px;
    padding-left: 126px;
  }

  .page-title .top-bar {
    width: calc(100% - 110px);
  }
}

.pro-top-nav {
  position: fixed;
  z-index: $z-nav;

  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  padding-right: 4px;
  padding-left: 8px;

  background-color: #fff;

  .left,
  .right {
    display: flex;
    flex-shrink: 0;
  }
}

.pro-side-nav {
  z-index: 20;

  &-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    min-height: 64px;
    justify-content: space-around;
    color: $body-text;

    &:hover, &:hover a.active {
      color: white;
    }

    a {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: inherit;

      &.active {
        color: $primary;
      }
    }

    .collection-icon {
      width: 28px;
      height: 28px;
    }
  }
}

.pro-side-nav,
.pro-side-nav > * {
  width: 110px;
}

.pro-side-nav > * {
  padding-top: 64px;
}
