.pro-layout {
  position: relative;

  display: flex;
  flex-direction: column;

  &-content {
    display: flex;
    flex-direction: column;

    margin-top: $top-nav-height;
    padding: 16px;
    padding-left: 136px;
  }

  .page-title .top-bar {
    width: calc(100% - 120px);
  }
}

.pro-top-nav {
  position: fixed;
  z-index: $z-nav;

  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  padding-right: 4px;
  padding-left: 8px;

  background-color: #fff;

  .left,
  .right {
    display: flex;
    flex-shrink: 0;
  }

  &-link {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;

    margin: 8px 4px;
    padding: 16px;

    transition: background-color 200ms $bezier, color 200ms $bezier,
    box-shadow 200ms $bezier;

    color: $body-text;
    border-radius: 4px;

    &:hover {
      color: white;
      background-color: $primary;
      box-shadow: $shadow-level-2;
    }
  }
}

.pro-side-nav {
  z-index: 20;

  &-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    a {
      display: flex;
      align-items: center;
      flex-direction: column;

      &.active {
        color: $primary;
      }
    }

    .collection-icon {
      width: 28px;
      height: 28px;
    }
  }
}

.pro-side-nav,
.pro-side-nav > * {
  width: 120px;
}

.pro-side-nav > * {
  padding-top: 80px;
}
