.widget1-options {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.widget1-options .usage-type,
.widget1-options .purchase-type {
  margin: 16px;

  border-radius: 4px;

  .widget1-option {
    margin: 16px;

    transition: color 200ms $bezier, background-color 200ms $bezier;

    border-radius: 4px;

    &:hover {
      cursor: pointer;

      color: white;
      background-color: $primary;
    }

    &[aria-selected='true'] {
      color: white;
      background-color: $primary;
    }

    h4 {
      margin: 0;
    }
  }
}
