.pro-organisation-page {
  display: flex;
  flex-direction: column;

  .org-logo {
    align-self: center;

    width: 50%;
    max-width: 300px;
    margin-bottom: 80px;
  }

  .share-customers-toggle {
    padding-bottom: 32px;
  }
}
